<?xml version="1.0" encoding="UTF-8"?>
<ui:composition
        xmlns:c="http://java.sun.com/jsp/jstl/core"
        xmlns:ui="http://java.sun.com/jsf/facelets"
        xmlns:m="http://www.myset.ro/components"
        xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <c:if test="#{(appcore_Session.attributes['dataset']==null or appcore_Request.attributes['dataset.refresh'])}">
        <!-- Datatable data-->
        <m:eval value="#{appcore_Session.attributes.put('dataset',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
        <m:eval value="#{appcore_Request.attributes.put('dataset.fieldsNames',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fieldsNames'].add('fieldId')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fieldsNames'].add('fieldName')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fieldsNames'].add('fieldDate')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fieldsNames'].add('fieldValue')}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 1')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',1)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 1')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '3'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',1)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 2')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',2)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 2')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '5'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',200)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 3')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',3)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 3')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '7'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',300)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 4')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',4)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 4')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '9'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',400)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 5')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',5)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 5')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '18'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',500)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/>

        <!-- new line -->
        <m:eval value="#{appcore_Request.attributes.put('dataset.fields',appcore_Utils.newInstance('ro.myset.utils.generic.GenericBean'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFieldsNames(appcore_Request.attributes['dataset.fieldsNames'])}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setFields(appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].setValue('Value 6')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldId',6)}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldName','Value 6')}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldDate',
        appcore_DateUtils.getDate(appcore_DateUtils.format(appcore_DateUtils.currentDate,'yyyy'),
                                  appcore_DateUtils.format(appcore_DateUtils.currentDate,'MM'),
                                  '20'))}"/>
        <m:eval value="#{appcore_Request.attributes['dataset.fields'].fields.put('fieldValue',600)}"/>
        <m:eval value="#{appcore_Session.attributes['dataset'].add(appcore_Request.attributes['dataset.fields'])}"/> </c:if></ui:composition>