<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-calendar-highlight"/>
        <c:set scope="request" var="pageTitle" value="Test calendar highlight"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- common -->
        <ui:include src="dataset.xhtml"/>

        <!-- =================================== -->
        <!--        Initializaton scripts        -->
        <!-- =================================== -->
        <mc:calendar-highlight name="calendar1HighLight"
                               dates="#{appcore_DateUtils.createJavaScriptArrayOfDates(appcore_Session.attributes['dataset'],'fieldDate')}"/>
        <mc:calendar-highlight name="calendar2HighLight"
                               dates="#{appcore_DateUtils.createJavaScriptArrayOfDates(appcore_Session.attributes['dataset'],'fieldDate')}"/>

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['command.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('dataset.refresh',true)}"/>
                <ui:include src="dataset.xhtml"/>

                <m:eval value="#{appcore_Session.attributes[pageId].remove('calendar1')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('calendar2')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['command.execute'])}">
                <p:panel style="background: #ffffff">
                    <h:outputText value="#{appcore_Session.attributes[pageId]['calendar1']}"/>
                    ,<h:outputText value="#{appcore_Session.attributes[pageId]['calendar2']}"/>
                </p:panel>
            </c:if>
            <!-- calendar1 -->
            <c:if test="#{appcore_Request.eventCheck('calendar1','org.primefaces.event.SelectEvent')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.object)}"/>
            </c:if>
            <!-- calendar2 -->
            <c:if test="#{appcore_Request.eventCheck('calendar2','org.primefaces.event.SelectEvent')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.object)}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center pt-2"
                     style="width:600px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-6 text-center,ui-grid-col-6 text-center">
                    <p:calendar id="calendar1"
                                mode="inline"
                                required="true"
                                value="#{appcore_Session.attributes[pageId]['calendar1']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                beforeShowDay="calendar1HighLight"
                                navigator="true"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}">
                        <p:ajax event="dateSelect" listener="#{appcore_Request.eventListener}" update="@form"/>
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:calendar id="calendar2"
                                mode="inline"
                                required="true"
                                value="#{appcore_Session.attributes[pageId]['calendar2']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                beforeShowDay="calendar2HighLightAll"
                                navigator="true"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}">
                        <p:ajax event="dateSelect" listener="#{appcore_Request.eventListener}" update="@form"/>
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </ui:define>

</ui:composition>