<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-autocomplete"/>
        <c:set scope="request" var="pageTitle" value="Test autocomplete"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <ui:include src="dataset.xhtml"/>

            <!-- ================================== -->
            <!--     Samples with generic data      -->
            <!-- ================================== -->
            <c:if test="#{(appcore_Request.attributes['command.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('dataset.refresh',true)}"/>
                <ui:include src="dataset.xhtml"/>

                <m:eval value="#{appcore_Request.attributes.remove('autocomplete1')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('autocomplete2')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('autocomplete3')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['command.execute'])}">
                <p:panel style="background: #ffffff">
                    <h:outputText value="#{appcore_Request.attributes['autocomplete1.value']}"/>
                    <br/><h:outputText value="#{appcore_Request.attributes['autocomplete2.value']}"/>
                    <br/><h:outputText value="#{appcore_Request.attributes['autocomplete3.value']}"/>
                </p:panel>
            </c:if>

            <p:panel styleClass="center" style="width:600px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">

                    <!-- autocomplete1 -->
                    <p:outputLabel for="autocomplete1"
                                   value="Autocomplete 1"/>
                    <p:autoComplete id="autocomplete1"
                                    required="true"
                                    converter="appcore_GenericConverter"
                                    value="#{appcore_Request.attributes['autocomplete1.value']}"
                                    completeMethod="#{appcore_Request.filterField(appcore_Session.attributes['dataset'],'fieldName').filter}"
                                    var="row"
                                    itemLabel="#{row.fields['fieldName']}"
                                    itemValue="#{row}"
                                    forceSelection="true">
                    </p:autoComplete>

                    <!-- autocomplete2 -->
                    <p:outputLabel for="autocomplete2"
                                   value="Autocomplete 2"/>
                    <p:autoComplete id="autocomplete2"
                                    required="true"
                                    converter="appcore_GenericConverter"
                                    value="#{appcore_Request.attributes['autocomplete2.value']}"
                                    completeMethod="#{appcore_Request.filter(appcore_Session.attributes['dataset']).filter}"
                                    var="row"
                                    itemLabel="#{row.fields['fieldName']}"
                                    itemValue="#{row}"
                                    forceSelection="true">
                    </p:autoComplete>

                    <!-- autocomplete3 -->
                    <p:outputLabel for="autocomplete3"
                                   value="Autocomplete 3"/>
                    <p:autoComplete id="autocomplete3"
                                    required="true"
                                    converter="appcore_GenericConverter"
                                    value="#{appcore_Request.attributes['autocomplete3.value']}"
                                    completeMethod="#{appcore_Request.filterField(appcore_Session.attributes['dataset'],'fieldName').filter}"
                                    var="row"
                                    itemLabel="#{row.fields['fieldName']}"
                                    itemValue="#{row}"
                                    forceSelection="true"
                                    multiple="true">
                    </p:autoComplete> </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel> </h:form>
    </ui:define>

</ui:composition>