<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-selectOneMenu"/>
        <c:set scope="request" var="pageTitle" value="Test selectOneMenu"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- common -->
        <ui:include src="dataset.xhtml"/>

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['command.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('dataset.refresh',true)}"/>
                <ui:include src="dataset.xhtml"/>

                <m:eval value="#{appcore_Request.attributes.put('selectOneMenu1.value',1)}"/>
                <m:eval value="#{appcore_Request.attributes.put('selectOneMenu2.value',appcore_Utils.find(appcore_Session.attributes['dataset'],'fieldId',2))}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['command.execute'])}">
                <p:panel style="background: #ffffff">
                    <h:outputText value="#{appcore_Request.attributes['selectOneMenu1.value']}"/>
                    <br/><h:outputText value="#{appcore_Request.attributes['selectOneMenu2.value']}"/>
                </p:panel>
            </c:if>

            <p:panel styleClass="center" style="width:450px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-5 text-right,ui-grid-col-7">
                    <!-- selectOneMenu1 -->
                    <p:outputLabel for="selectOneMenu1" value="Simple select one menu"/>
                    <p:selectOneMenu id="selectOneMenu1"
                                     value="#{appcore_Request.attributes['selectOneMenu1.value']}"
                                     required="true"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Session.attributes['dataset']}"
                                       var="row"
                                       itemValue="#{row.fields['fieldId']}"
                                       itemLabel="#{row.fields['fieldName']}"/>
                    </p:selectOneMenu>

                    <!-- selectOneMenu2 -->
                    <p:outputLabel for="selectOneMenu2" value="Detailed select one menu"/>
                    <p:selectOneMenu id="selectOneMenu2"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Request.attributes['selectOneMenu2.value']}"
                                     required="true"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Session.attributes['dataset']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['fieldName']}"/>
                        <p:column headerText="Id">
                            <h:outputText value="#{v.fields['fieldId']}"/>
                        </p:column>
                        <p:column style="white-space: nowrap;"
                                  headerText="Name">
                            <h:outputText value="#{v.fields['fieldName']}"/>
                        </p:column>
                        <p:column style="white-space: nowrap;"
                                  headerText="Date">
                            <h:outputText value="#{appcore_DateUtils.format(v.fields['fieldDate'],appcore_Application.property('format.date'))}"/>
                        </p:column>
                        <p:column style="white-space: nowrap;"
                                  headerText="Value">
                            <h:outputText value="#{v.fields['fieldValue']}"/>
                        </p:column>
                    </p:selectOneMenu>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel> </h:form>
    </ui:define>

</ui:composition>