<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-form-events"/>
        <c:set scope="request" var="pageTitle" value="Test form select many"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- common -->
            <ui:include src="dataset.xhtml"/>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['command.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datasetSelected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datasetSelected1')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design              -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-4,ui-grid-col-8">

                    <p:selectCheckboxMenu id="datasetSelectCheckboxMenu"
                                          required="false"
                                          converter="appcore_GenericConverter"
                                          label="Values"
                                          value="#{appcore_Session.attributes[pageId]['datasetSelected']}"
                                          filter="true"
                                          filterMatchMode="contains"
                                          style="width:100%;">
                        <f:selectItems value="#{appcore_Session.attributes['dataset']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['fieldName']}"/>
                        <p:ajax event="change"
                                update="datasetSelectedPanel"
                                listener="#{appcore_Request.eventListener}"/>
                        <p:ajax event="toggleSelect"
                                update="datasetSelectedPanel"
                                listener="#{appcore_Request.eventListener}"/>
                    </p:selectCheckboxMenu>
                    <p:outputPanel id="datasetSelectedPanel"
                                   style="padding-left:10px;margin-top:4px;">
                        <p:dataList value="#{appcore_Session.attributes[pageId]['datasetSelected']}"
                                    var="row"
                                    emptyMessage="No selection"
                                    type="unordered">
                            <h:outputText value="#{row.fields['fieldName']}"/>
                        </p:dataList>
                    </p:outputPanel>

                    <p:outputPanel id="datasetPanel1">
                        <p:selectManyCheckbox id="datasetSelectManyCheckbox"
                                              required="false"
                                              converter="appcore_GenericConverter"
                                              value="#{appcore_Session.attributes[pageId]['datasetSelected1']}"
                                              style="width:100%;"
                                              layout="grid"
                                              columns="1">
                            <f:selectItems value="#{appcore_Session.attributes['dataset']}"
                                           var="row"
                                           itemValue="#{row}"
                                           itemLabel="#{row.fields['fieldName']}"/>
                            <p:ajax event="change"
                                    update="datasetSelectedPanel1"
                                    listener="#{appcore_Request.eventListener}"/>
                        </p:selectManyCheckbox>
                    </p:outputPanel>
                    <p:outputPanel id="datasetSelectedPanel1"
                                   style="padding-left:10px;margin-top:4px;">
                        <p:dataList value="#{appcore_Session.attributes[pageId]['datasetSelected1']}"
                                    var="row"
                                    emptyMessage="No selection"
                                    type="unordered">
                            <h:outputText value="#{row.fields['fieldName']}"/>
                        </p:dataList>
                    </p:outputPanel> </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel> </h:form>
    </ui:define>

</ui:composition>
