<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-captcha"/>
        <c:set scope="request" var="pageTitle" value="Test captcha"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form id="captchaForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid columns="2"
                             layout="grid"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                rendered="true"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>