<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-form-empty"/>
        <c:set scope="request" var="pageTitle" value="Test form empty values"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputText')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputNumber')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.calendar')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputText']==null)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputNumber']==null)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.calendar']==null)}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel value="text1" for="inputText"/>
                    <p:inputText id="inputText"
                                 required="false"
                                 value="#{appcore_Session.attributes[pageId]['test.inputText']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="number" for="inputNumber"/>
                    <p:inputNumber id="inputNumber"
                                   required="false"
                                   value="#{appcore_Session.attributes[pageId]['test.inputNumber']}"
                                   converter="javax.faces.BigDecimal"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}">
                        <f:validateDoubleRange minimum="0"/>
                    </p:inputNumber>
                    <p:outputLabel value="calendar" for="calendar"/>
                    <p:calendar id="calendar"
                                required="false"
                                showOn="both"
                                value="#{appcore_Session.attributes[pageId]['test.calendar']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                navigator="true"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>