<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-form-events"/>
        <c:set scope="request" var="pageTitle" value="Test form events"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form id="eventsForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputNumber')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputText1')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputText2')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.inputEmail')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.calendar1')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('test.calendar2')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <m:eval rendered="false" value="#{appcore_Logger.logger.debug(appcore_Request.attributes)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputNumber'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputText1'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputText2'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.inputEmail'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.calendar1'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.attributes[pageId]['test.calendar2'])}"/>
            </c:if>

            <!-- Events -->
            <c:if test="#{appcore_Request.eventCheck()}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.component.id)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event)}"/>
            </c:if>
            <!-- calendar1 -->
            <c:if test="#{appcore_Request.eventCheckForm('eventsForm','calendar1')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage('eventsForm:calendar1')}"/>
            </c:if>
            <c:if test="#{appcore_Request.eventCheck('calendar1','org.primefaces.event.SelectEvent')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.object)}"/>
            </c:if>
            <!-- calendar2 -->
            <c:if test="#{(appcore_Session.attributes[pageId]['test.calendar2']==null)}">
                <m:eval value="#{appcore_Session.attributes[pageId].put('test.calendar2',appcore_DateUtils.currentDate)}"/>
            </c:if>
            <c:if test="#{appcore_Request.eventCheckForm('eventsForm','calendar2','org.primefaces.event.DateViewChangeEvent')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage('eventsForm:calendar2:DateViewChangeEvent')}"/>
            </c:if>
            <c:if test="#{appcore_Request.eventCheck('calendar2','org.primefaces.event.DateViewChangeEvent')}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.month)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.year)}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].put('test.calendar2',
                    appcore_DateUtils.getDate(appcore_Request.event.year, appcore_Request.event.month, '1'))}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel value="number" for="inputNumber"/>
                    <p:inputNumber id="inputNumber"
                                   binding="#{appcore_Request.attributes['inputNumberBinding']}"
                                   value="#{appcore_Session.attributes[pageId]['test.inputNumber']}"
                                   required="true"
                                   converter="javax.faces.BigDecimal"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}">
                        <f:validateDoubleRange minimum="0" maximum="100"/>
                        <p:ajax event="blur" listener="#{appcore_Request.eventListener}" update="@form"/>
                    </p:inputNumber>
                    <p:outputLabel value="text1" for="inputText1"/>
                    <p:inputText id="inputText1"
                                 binding="#{appcore_Request.attributes['inputText1Binding']}"
                                 value="#{appcore_Session.attributes[pageId]['test.inputText1']}"
                                 required="true"
                                 style="width:100%;">
                        <p:ajax event="blur" listener="#{appcore_Request.eventListener}" update="@form"/>
                    </p:inputText>
                    <p:outputLabel value="text2" for="inputText2"/>
                    <p:inputText id="inputText2"
                                 binding="#{appcore_Request.attributes['inputText2Binding']}"
                                 value="#{appcore_Session.attributes[pageId]['test.inputText2']}"
                                 required="true"
                                 style="width:100%;">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['inputText2Binding'].submittedValue == appcore_Request.attributes['inputText1Binding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="{0}: Value is not equal with '#{appcore_Request.attributes['inputText1Binding'].label}'"/>
                        <f:attribute name="validation2"
                                     value="false"/>
                        <f:attribute name="validation2-type"
                                     value="WARN"/>
                        <f:attribute name="validation2-message"
                                     value="Warn validation message"/>
                        <f:attribute name="validation3"
                                     value="false"/>
                        <f:attribute name="validation3-type"
                                     value="INFO"/>
                        <f:attribute name="validation3-message"
                                     value="Info validation message"/>
                    </p:inputText>
                    <p:outputLabel for="inputEmail"
                                   value="email"/>
                    <p:inputText id="inputEmail"
                                 binding="#{appcore_Request.attributes['inputEmailBinding']}"
                                 value="#{appcore_Session.attributes[pageId]['test.inputEmail']}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['inputEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel value="calendar1" for="calendar1"/>
                    <p:calendar id="calendar1"
                                required="true"
                                showOn="both"
                                value="#{appcore_Session.attributes[pageId]['test.calendar1']}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <p:ajax event="dateSelect" listener="#{appcore_Request.eventListener}" update="@form"/>
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>
                    <p:outputLabel value="calendar2" for="calendar2"/>
                    <p:calendar id="calendar2"
                                styleClass="simple-calendar"
                                mode="inline"
                                required="true"
                                value="#{appcore_Session.attributes[pageId]['test.calendar2']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                navigator="true"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}">
                        <p:ajax event="viewChange" listener="#{appcore_Request.eventListener}" update="@form"/>
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>