<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-dataList"/>
        <c:set scope="request" var="pageTitle" value="Test dataList"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- common -->
        <ui:include src="dataset.xhtml"/>

        <h:form>
            <p:spacer height="10"/>
            <mc:dataTable id="datatable1"
                          pageId="#{pageId}"
                          widgetVar="datatable1Widget"
                          value="#{appcore_Session.attributes['dataset']}"
                          rowKey="#{row.fields['fieldId']}"
                          rows="2"
                          rowsPerPageTemplate="2,3,5,10,20"
                          reflow="true">
                <p:column headerText="Id"
                          sortBy="#{row.fields['fieldId']}"
                          filterBy="#{row.fields['fieldId']}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden">
                    <h:outputText value="#{row.fields['fieldId']}"/>
                </p:column>
                <p:column headerText="Name"
                          sortBy="#{row.fields['fieldName']}"
                          filterBy="#{row.fields['fieldName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <h:outputText value="#{row.fields['fieldName']}"/>
                </p:column>
                <p:column headerText="Date"
                          sortBy="#{row.fields['fieldDate']}"
                          filterBy="#{row.fields['fieldDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">

                    <h:outputText value="#{row.fields['fieldDate']}"/>
                </p:column>
                <p:column headerText="Value"
                          sortBy="#{row.fields['fieldValue']}"
                          filterBy="#{row.fields['fieldValue']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">

                    <h:outputText value="#{row.fields['fieldValue']}"/>
                </p:column>
            </mc:dataTable>

            <p:spacer height="10"/>
            <mc:dataTable id="datatable2"
                          pageId="#{pageId}"
                          widgetVar="datatable2Widget"
                          value="#{appcore_Session.attributes['dataset']}"
                          rowKey="#{row.fields['fieldId']}"
                          paginator="true"
                          paginatorPosition="both"
                          rows="2"
                          rowsPerPageTemplate="2,3,5,10,20"
                          renderedResetState="true"
                          renderedColumToggler="false"
                          renderedExporter="false">
                <p:column filterBy="#{row.fields['fieldId']},#{row.fields['fieldName']},#{row.fields['fieldDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden">
                    <h:outputText value="#{row.fields['fieldId']}"/>
                    <br/><h:outputText value="#{row.fields['fieldName']}"/>
                    <br/><h:outputText value="#{row.fields['fieldDate']}"/>
                    <br/><h:outputText value="#{row.fields['fieldValue']}"/>
                </p:column>
            </mc:dataTable>

            <p:spacer height="10"/>
            <mc:dataTableSimple id="datatable3"
                                pageId="#{pageId}"
                                widgetVar="datatable3Widget"
                                value="#{appcore_Session.attributes['dataset']}"
                                rowKey="#{row.fields['fieldId']}"
                                multiViewState="false"
                                paginator="true"
                                paginatorPosition="both"
                                paginatorTemplate="{PageLinks} {FirstPageLink} {PreviousPageLink} {CurrentPageReport} {NextPageLink} {LastPageLink} {RowsPerPageDropdown}"
                                pageLinks="2"
                                emptyMessage="Empty ..."
                                rows="2"
                                rowsPerPageTemplate="2,3,5,10,20"
                                renderedSearch="false"
                                renderedResetState="false"
                                renderedColumToggler="false"
                                renderedExporter="false">
                <p:column filterBy="#{row.fields['fieldId']},#{row.fields['fieldName']},#{row.fields['fieldDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden">
                    <h:outputText value="#{row.fields['fieldId']}"/>
                    <br/><h:outputText value="#{row.fields['fieldName']}"/>
                    <br/><h:outputText value="#{row.fields['fieldDate']}"/>
                    <br/><h:outputText value="#{row.fields['fieldValue']}"/>
                </p:column>
            </mc:dataTableSimple> </h:form>
    </ui:define>

</ui:composition>