<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--             DELETE                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteDialog"
              dynamic="true"
              widgetVar="deleteDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('delete')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="deleteDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="deleteDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['delete.init'] or appcore_Request.attributes['delete.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('newsletterName',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterDesc',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterDesc'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterFrom',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterFrom'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterPublic',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterPublic'].equals('1')?true:false)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['delete.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_newsletters.sql04.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters.sql04.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_newsletters.sql04"
                                        sql="#{appcore_Application.database('cms_newsletters.sql04')}"
                                        params="#{appcore_Request.attributes['cms_newsletters.sql04.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_newsletters.sql04']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_newsletters.sql04'].errors}">
                    <!-- Refresh -->
                    <m:eval value="#{appcore_CMSProcessor.removeNewsletters()}"/>

                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>

                </c:if>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteDialogWidget\').hide()')}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="newsletterName"
                                   value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="newsletterName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['newsletterName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="newsletterDesc"
                                   value="#{appcore_Session.dictionary('description')}"/>
                    <p:inputTextarea id="newsletterDesc"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['newsletterDesc']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="newsletterFrom"
                                   value="#{appcore_Session.dictionary('from')}"/>
                    <p:inputText id="newsletterFrom"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['newsletterFrom']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="newsletterPublic"
                                   value="#{appcore_Session.dictionary('public')}"/>
                    <p:inputSwitch id="newsletterPublic"
                                   disabled="true"
                                   value="#{appcore_Request.attributes['newsletterPublic']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>

                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('delete')}"
                                         icon="fa fa-check"
                                         update="@form :actionsMenuForm :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('exit')}"
                                         type="button"
                                         icon="fa fa-rotate-right"
                                         styleClass="ui-confirmdialog-no"
                                         onclick="PF('deleteDialogWidget').hide()"/>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>