<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="newsletters"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('cms.newsletters.title')}"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- Initialize -->
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']==null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm" oncomplete="PF('filterDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
            </p:remoteCommand>
        </h:form>
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']!=null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
            </p:remoteCommand>
        </h:form>


        <!-- =================================== -->
        <!--              Form logic             -->
        <!-- =================================== -->
        <!-- actions -->
        <ui:include src="menu.xhtml"/>
        <ui:include src="view.xhtml"/>
        <ui:include src="add.xhtml"/>
        <ui:include src="update.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <ui:include src="send-email.xhtml"/>

        <!-- last -->
        <ui:include src="filter.xhtml"/>

        <h:form id="dataTableForm">
            <!-- =================================== -->
            <!--              Form design            -->
            <!-- =================================== -->
            <mc:dataTable id="datatable"
                             pageId="#{pageId}"
                             widgetVar="datatableWidget"
                             rowKey="#{row.hashCode()}"
                             rowSelectUpdate="actionsMenuForm filterDialog viewDialog updateDialog deleteDialog sendEmailDialog"
                             title="#{pageTitle}"
                             styleClass="datatable-auto-columns">
                <p:column style="text-align:center;"
                          sortBy="#{row.fields['newsletterId']}"
                          filterBy="#{row.fields['newsletterId']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('id')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['newsletterId']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['newsletterName']}"
                          filterBy="#{row.fields['newsletterName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('name')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['newsletterName']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['newsletterDescription']}"
                          filterBy="#{row.fields['newsletterDescription']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('description')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['newsletterDesc']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['newsletterFrom']}"
                          filterBy="#{row.fields['newsletterFrom']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('from')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['newsletterFrom']}"/>
                </p:column>
                <p:column style="text-align:center;"
                          sortBy="#{row.fields['newsletterPublic']}">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('public')}"/>
                    </f:facet>
                    <h:outputText rendered="#{row.fields['newsletterPublic'].equals('1')}"
                                  value="#{appcore_Session.dictionary('yes')}"/>
                </p:column>

            </mc:dataTable>
        </h:form>
    </ui:define>
</ui:composition>