<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="sendEmailDialog"
              dynamic="true"
              widgetVar="sendEmailDialogWidget"
              appendTo="@(body)"
              modal="false"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('send')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterName']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="sendEmailDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['send.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="sendEmailDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['send.init'] or appcore_Request.attributes['send.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('newsletterName',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterDesc',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterDesc'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterType',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterTypeId'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterFrom',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterFrom'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterPublic',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterPublic'].equals('1')?true:false)}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['send.execute'])}">
                <m:eval value="#{appcore_CMSProcessor.newsletterEmails(appcore_Session.attributes[pageId]['datatable.selection'],
                                'text/html','UTF-8',
                                appcore_Request.attributes['messageAttachments'],
                                appcore_Request.attributes['messageSubject'],
                                appcore_Request.attributes['messageContent'],
                                appcore_Session.dictionary('messages.action.success'),
                                null,
                                appcore_Session.dictionary('messages.action.errors'))}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <!-- Email -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-1 text-right,ui-grid-col-11">
                    <p:outputLabel for="newsletterFrom"
                                   value="#{appcore_Session.dictionary('from')}"/>
                    <p:inputText id="newsletterFrom"
                                 readonly="true"
                                 value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterFrom']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel value="#{appcore_Session.dictionary('attachments')}"
                                   for="messageAttachments"/>
                    <p:inputText id="messageAttachments"
                                 value="#{appcore_Request.attributes['messageAttachments']}"
                                 title="#{appcore_Session.dictionary('comma.separated.values')}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="#{appcore_Session.dictionary('subject')}"
                                   for="messageSubject"/>
                    <p:inputText id="messageSubject"
                                 required="true"
                                 value="#{appcore_Request.attributes['messageSubject']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="#{appcore_Session.dictionary('content')}"
                                   for="messageContent"/>
                    <pe:ckEditor id="messageContent"
                                 required="true"
                                 value="#{appcore_Request.attributes['messageContent']}"
                                 language="#{appcore_Session.locale}"
                                 customConfig="#{appcore_Application.property('cms.editor.config')}"
                                 width="100%" height="300"/>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('send')}"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['send.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['send.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>