<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:m="http://www.myset.ro/components">
<composite:interface>
    <composite:attribute name="name"
                         required="false"
                         type="java.lang.String"
                         default="commentAdd"/>
    <composite:attribute name="for"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="public"
                         required="false"
                         type="java.lang.String"
                         default="1"/>
    <composite:attribute name="update"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="title"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="style"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="styleClass"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="icon"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="label"
                         required="false"
                         type="java.lang.String"
                         default="#{appcore_Session.dictionary('add')} #{appcore_Session.dictionary('cms.comments.comment').toLowerCase()}"/>
    <composite:attribute name="labelStyle"
                         required="false"
                         type="java.lang.String"
                         default="padding-left:2px;"/>
    <composite:attribute name="labelStyleClass"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="dialogPosition"
                         required="false"
                         type="java.lang.String"
                         default="center top"/>
</composite:interface>
<composite:implementation>
    <h:form rendered="#{cc.rendered}">
        <!-- Link -->
        <p:commandLink style="#{cc.attrs.style}"
                       styleClass="#{cc.attrs.styleClass}"
                       title="#{cc.attrs.title}"
                       onclick="PF('#{cc.attrs.name}DialogWidget').show()">
            <span class="#{cc.attrs.icon}"/>
            <h:outputText value="#{cc.attrs.label}"
                          style="#{cc.attrs.labelStyle}"
                          styleClass="#{cc.attrs.labelStyleClass}"/>
        </p:commandLink>
    </h:form>

    <!-- Dialog -->
    <p:dialog rendered="#{cc.rendered}"
              widgetVar="#{cc.attrs.name}DialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="600"
              position="#{cc.attrs.dialogPosition}"
              maximizable="false"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')} #{appcore_Session.dictionary('cms.comments.comment').toLowerCase()}">

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <m:eval rendered="#{(appcore_Request.attributes['comment.save'])}"
                    value="#{appcore_CMSProcessor.commentAdd(
                                                         cc.attrs.for,
                                                         appcore_ApplicationSecurity.security.user.userId,
                                                         appcore_Request.attributes['commentSubject'],
                                                         appcore_Request.attributes['commentContent'],
                                                         cc.attrs.public
                                                         )}"/>
            <m:eval rendered="#{(appcore_Request.attributes['comment.save'])}"
                    value="#{appcore_PrimeFacesUtils.execute('PF(\''.concat(cc.attrs.name).concat('DialogWidget\').hide()'))}"/>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:outputLabel for="commentSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="commentSubject"
                                 required="true"
                                 value="#{appcore_Request.attributes['commentSubject']}"
                                 style="width:98%;"/>
                    <p:outputLabel for="commentContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="commentContent"
                                     required="true"
                                     value="#{appcore_Request.attributes['commentContent']}"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         ajax="true"
                                         update="@form #{cc.attrs.update}"
                                         actionListener="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['comment.save']}" value="true"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>

    </p:dialog>
</composite:implementation>
</html>