<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://www.myset.ro/components"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="name"
                         required="false"
                         type="java.lang.String"
                         default="rate"/>
    <composite:attribute name="for"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="update"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="style"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="styleClass"
                         required="false"
                         type="java.lang.String"
                         default="messages"/>
    <composite:attribute name="icon"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="title"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="label"
                         required="false"
                         type="java.lang.String"
                         default="#{appcore_Session.dictionary('cms.stats.rate')}"/>
    <composite:attribute name="labelStyle"
                         required="false"
                         type="java.lang.String"
                         default="padding-left:2px;"/>
    <composite:attribute name="labelStyleClass"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="dialogPosition"
                         required="false"
                         type="java.lang.String"
                         default="center top"/>
</composite:interface>
<composite:implementation>
    <h:form rendered="#{cc.rendered}">
        <!-- Link -->
        <p:commandLink style="#{cc.attrs.style}"
                       styleClass="#{cc.attrs.styleClass}"
                       title="#{cc.attrs.title}"
                       onclick="PF('#{cc.attrs.name}DialogWidget').show()">
            <span class="#{cc.attrs.icon}"/>
            <h:outputText value="#{cc.attrs.label}"
                          style="#{cc.attrs.labelStyle}"
                          styleClass="#{cc.attrs.labelStyleClass}"/>
        </p:commandLink>
    </h:form>

    <!-- Dialog -->
    <p:dialog rendered="#{cc.rendered}"
              widgetVar="#{cc.attrs.name}DialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="250"
              position="#{cc.attrs.dialogPosition}"
              maximizable="false"
              resizable="false"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('cms.stats.rate')}">
        <h:form rendered="#{cc.rendered}">
            <m:eval value="#{appcore_Request.attributes.put('statValue',
            appcore_CMSProcessor.statByUser(pageName.concat('.rate'),appcore_ApplicationSecurity.security.user.userId).fields['statValue'].intValue())}"/>

            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="statValue"
                                   value="#{appcore_Session.dictionary('cms.stats.rate')}"/>
                    <p:rating id="statValue"
                              stars="5"
                              cancel="false"
                              value="#{appcore_Request.attributes['statValue']}"/>
                    <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    <h:outputText escape="false"
                                  style="padding-left:4px;"
                                  value="#{appcore_CMSProcessor.statByUser(pageName.concat('.rate'),appcore_ApplicationSecurity.security.user.userId).fields['statDate']}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </h:outputText>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('save')}"
                                         ajax="false"
                                         update="@form #{cc.attrs.update}"
                                         action="#{appcore_CMSProcessor.statSave(cc.attrs.for,
                                                         appcore_ApplicationSecurity.security.user.userId,
                                                         appcore_MathUtils.number(appcore_Request.attributes['statValue']),
                                                         null)}"/>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</composite:implementation>
</html>