<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="name"
                         required="false"
                         type="java.lang.String"
                         default="comments"/>
    <composite:attribute name="pageId"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="for"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="style"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="styleClass"
                         required="false"
                         type="java.lang.String"
                         default="messages"/>
</composite:interface>
<composite:implementation>
    <h:form>
        <mc:dataTableSimple id="#{cc.id}"
                            pageId="#{cc.attrs.pageId}"
                            widgetVar="#{cc.id.concat('Widget')}"
                            value="#{appcore_CMSProcessor.comments(cc.attrs.for)}"
                            rowKey="#{row.hashCode()}"
                            paginator="true"
                            paginatorPosition="both"
                            renderedResetState="true"
                            renderedColumToggler="false"
                            renderedExporter="false"
                            style="#{cc.attrs.style}"
                            styleClass="#{cc.attrs.styleClass}">
            <!-- Columns -->
            <p:column filterBy="#{row.fields['commentSubject']},
                                    #{row.fields['commentContent']},
                                    #{row.fields['userFirstName']},
                                    #{row.fields['userLastName']},
                                    #{appcore_DateUtils.format(row.fields['commentDate'],appcore_Application.property('format.datetime'))}"
                      filterMatchMode="contains"
                      filterStyleClass="hidden">
                <p:panelGrid>
                    <p:row>
                        <p:column styleClass="comment-left">
                            <h:outputText style="font-size:200%;"
                                          styleClass="fa fa-user"/>
                            <br/><h:outputText styleClass="comment-user"
                                               value="#{row.fields['userFirstName']} #{row.fields['userLastName']} "/>
                            <br/><h:outputText style="font-size:100%;"
                                               styleClass="fa fa-edit"/>
                            <h:outputText styleClass="comment-date"
                                          value="#{row.fields['commentDate']}">
                                <f:convertDateTime locale="#{appcore_Session.locale}"
                                                   timeZone="#{appcore_Session.timezone}"
                                                   pattern="#{appcore_Application.property('format.date')}"
                                                   type="both"/>
                            </h:outputText>
                        </p:column>
                        <p:column styleClass="comment-right">
                            <h:outputText styleClass="comment-subject"
                                          value="#{row.fields['commentSubject']}"/>
                            <pre><h:outputText styleClass="comment-content" value="#{row.fields['commentContent']}"/></pre>
                        </p:column>
                    </p:row>
                </p:panelGrid>
            </p:column>
        </mc:dataTableSimple>
    </h:form>
</composite:implementation>
</html>