<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:m="http://www.myset.ro/components"
      xmlns:composite="http://java.sun.com/jsf/composite" xmlns:f="http://java.sun.com/jsf/core">
<composite:interface>
    <composite:attribute name="name"
                         required="false"
                         type="java.lang.String"
                         default="rates"/>
    <composite:attribute name="for"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="style"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="styleClass"
                         required="false"
                         type="java.lang.String"
                         default="messages"/>
    <composite:attribute name="title"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="icon"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="label"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="labelStyle"
                         required="false"
                         type="java.lang.String"
                         default="padding-left:2px;"/>
    <composite:attribute name="labelStyleClass"
                         required="false"
                         type="java.lang.String"/>
</composite:interface>
<composite:implementation>
    <h:form rendered="#{cc.rendered}">
        #{appcore_CMSProcessor.statIncrement(cc.attrs.for)}
        <span style="#{cc.attrs.style}"
              class="#{cc.attrs.styleClass}"
              title="#{cc.attrs.title}">
            <span class="#{cc.attrs.icon}"/>
            <h:outputText value="#{cc.attrs.label}"
                          style="#{cc.attrs.labelStyle}"
                          styleClass="#{cc.attrs.labelStyleClass}"/>
            <h:outputText value="#{appcore_CMSProcessor.stat(cc.attrs.for).fields['statValue']}">
                <f:convertNumber type="number"
                                 locale="#{appcore_Session.locale}"
                                 maxFractionDigits="0"/>
            </h:outputText>
        </span>
    </h:form>
</composite:implementation>
</html>