<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="name"
                         required="false"
                         type="java.lang.String"
                         default="rates"/>
    <composite:attribute name="for"
                         required="true"
                         type="java.lang.String"/>
    <composite:attribute name="style"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="styleClass"
                         required="false"
                         type="java.lang.String"
                         default="messages"/>
    <composite:attribute name="icon"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="title"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="label"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="labelStyle"
                         required="false"
                         type="java.lang.String"
                         default="padding-left:2px;"/>
    <composite:attribute name="labelStyleClass"
                         required="false"
                         type="java.lang.String"/>
    <composite:attribute name="dialogPosition"
                         required="false"
                         type="java.lang.String"
                         default="center top"/>
</composite:interface>
<composite:implementation>
    <!-- Link -->
    <h:form rendered="#{cc.rendered}">
        <p:commandLink style="#{cc.attrs.style}"
                       styleClass="#{cc.attrs.styleClass}"
                       title="#{cc.attrs.title}"
                       onclick="PF('#{cc.attrs.name}DialogWidget').show()">
            <span class="#{cc.attrs.icon}"/>
            <h:outputText value="#{cc.attrs.label}#{appcore_CMSProcessor.statsMetrics(cc.attrs.for).fields['statAverage'].setScale(1,'HALF_EVEN')}"
                          style="#{cc.attrs.labelStyle}"
                          styleClass="#{cc.attrs.labelStyleClass}"/>
        </p:commandLink>
    </h:form>
    <!-- Dialog -->
    <p:dialog rendered="#{cc.rendered}"
              widgetVar="#{cc.attrs.name}DialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="250"
              position="#{cc.attrs.dialogPosition}"
              maximizable="false"
              resizable="false"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('cms.stats.rates')}">
        <h:form rendered="#{cc.rendered}">
            <p:panelGrid columns="2"
                         style="width:100%;white-space:nowrap;"
                         styleClass="panelgrid-noborders"
                         columnClasses="ui-grid-col-6 text-center,ui-grid-col-6 text-left">
                <p:rating value="5" readonly="true"/>
                <h:outputText escape="false"
                              style="padding-left: 4px;"
                              value="#{appcore_CMSProcessor.statsMetricsByValue(cc.attrs.for,5).fields['statSize']}"/>
                <p:rating value="4" readonly="true"/>
                <h:outputText escape="false"
                              style="padding-left: 4px;"
                              value="#{appcore_CMSProcessor.statsMetricsByValue(cc.attrs.for,4).fields['statSize']}"/>
                <p:rating value="3" readonly="true"/>
                <h:outputText escape="false"
                              style="padding-left: 4px;"
                              value="#{appcore_CMSProcessor.statsMetricsByValue(cc.attrs.for,3).fields['statSize']}"/>
                <p:rating value="2" readonly="true"/>
                <h:outputText escape="false"
                              style="padding-left: 4px;"
                              value="#{appcore_CMSProcessor.statsMetricsByValue(cc.attrs.for,2).fields['statSize']}"/>
                <p:rating value="1" readonly="true"/>
                <h:outputText escape="false"
                              style="padding-left: 4px;"
                              value="#{appcore_CMSProcessor.statsMetricsByValue(cc.attrs.for,1).fields['statSize']}"/>
            </p:panelGrid>
        </h:form>
    </p:dialog>
</composite:implementation>
</html>