<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-error.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="exception"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('error.title')} 500"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->
        <!-- Logging -->
        <mc:log rendered="true"
                level="ERROR"
                source="#{request.getHeader('Referer')}"
                message="#{appcore_Utils.printStackTrace(pfExceptionHandler.exception)}"/>
        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
        <h:form>
            <p:panel>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-1 text-center, ui-grid-col-11 text-left,ui-grid-col-1 ">
                    <h:outputText escape="false"
                                  style="font-size:40px;"
                                  styleClass="fa fa-cogs"/>
                    <p:fragment>
                        <h:outputText value="#{pfExceptionHandler.message}" style="font-size:120%;font-weight:bolder;"/>
                        <br/><h:outputText value="#{request.getHeader('User-agent')}"/>
                        <br/><p:link value="#{request.getHeader('Referer')}" href="#{request.getHeader('Referer')}"/>
                        <br/><h:outputText value="#{request.remoteAddr}"/>
                        <br/>
                        <h:outputText value="#{session.lastAccessedTime}">
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"
                                               type="both"/>
                        </h:outputText>
                    </p:fragment>
                </p:panelGrid>
                <f:facet name="footer">
                    <p:accordionPanel activeIndex="-1">
                        <p:tab title="#{appcore_Session.dictionary('details')}">
                            <h:outputText escape="false" value="#{pfExceptionHandler.formattedStackTrace}"/>
                        </p:tab>
                    </p:accordionPanel>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>