<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-contentFlow"/>
        <c:set scope="request" var="pageTitle" value="Test contentFlow"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="max-width:800px;">
            <p:contentFlow value="#{appcore_FileUtils.listFilesFiltered(appcore_FileUtils.directory(facesContext.externalContext.getRealPath('/resources/myset/tests/test-multimedia/imgs')),
                    '(?i).*\\.jpg')}"
                               var="file">
                    <p:graphicImage value="/resources/myset/tests/test-multimedia/imgs/#{file.name}"
                                    title="#{file.name}"
                                    alt="#{file.name}"
                                    styleClass="content"/>
                </p:contentFlow>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>