<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-lightbox"/>
        <c:set scope="request" var="pageTitle" value="Test lightbox"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="max-width:1024px;">
                <p:lightBox rendered="#{appcore_FileUtils.directoryCheck(facesContext.externalContext.getRealPath('/resources/myset/tests/test-multimedia/imgs'))}"
                            widgetVar="lightBoxWidget">
                    <ui:repeat
                            value="#{appcore_FileUtils.listFilesFiltered(appcore_FileUtils.directory(facesContext.externalContext.getRealPath('/resources/myset/tests/test-multimedia/imgs')),'(?i).*\\.jpg')}"
                            var="file">
                        <h:outputLink value="/resources/myset/tests/test-multimedia/imgs/#{file.name}"
                                      title="#{file.name}">
                            <p:graphicImage value="/resources/myset/tests/test-multimedia/imgs/#{file.name}"
                                            title="#{file.name}"
                                            alt="#{file.name}"
                                            style="max-width:100%;max-height:200px;"/>
                        </h:outputLink>
                        <p:effect event="show" type="none"/>
                    </ui:repeat>
                </p:lightBox>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>