<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-imageSwitch"/>
        <c:set scope="request" var="pageTitle" value="Test imageSwitch"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->


            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="max-width:800px;">
                <p:commandButton type="button" onclick="PF('switcher').previous();"
                                 icon="fa fa-arrow-circle-left" id="prev"/>
                <p:commandButton type="button" onclick="PF('switcher').next();"
                                 icon="fa fa-arrow-circle-right" id="next"/>

                <p:imageSwitch effect="wipe"
                               widgetVar="switcher"
                               slideshowAuto="false">
                    <ui:repeat value="#{appcore_FileUtils.listFilesFiltered(appcore_FileUtils.directory(facesContext.externalContext.getRealPath('/resources/myset/tests/test-multimedia/imgs')),
                    '(?i).*\\.jpg')}"
                               var="file">
                        <h:outputLink value="imgs/#{file.name}"
                                      title="#{file.name}"
                                      target="_blank">
                            <p:graphicImage value="imgs/#{file.name}"
                                            title="#{file.name}"
                                            alt="#{file.name}"
                                            style="max-width:100%;max-height:500px;"/>
                        </h:outputLink>
                    </ui:repeat>
                </p:imageSwitch>

            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>