<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">

        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-fa"/>
        <c:set scope="request" var="pageTitle" value="Test Font Awesome icons"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->

        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
        <p:panel id="panelForm" styleClass="center pt-2" style="width:400px;">
            <f:facet name="header">#{pageTitle}</f:facet>
            <h:form>
                <div class="ui-grid pt-4">
                    <div class="ui-grid-row pt-2">
                        <div style="width: 100%;">
                            <div class="ui-float-label">
                                <p:inputText id="floatInput"
                                             style="width:100%"
                                             required="true"
                                             value="#{appcore_Session.attributes[pageId]['fontAwesome']}"/>
                                <p:outputLabel for="@previous"
                                               value="CSS class"/>
                            </div>
                        </div>
                        <div>
                            <p:commandButton icon="fa fa-arrow-rotate-right"
                                             update="@form">
                                <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                            </p:commandButton>
                        </div>
                    </div>
                    <div class="flex align-content-center" style="min-height: 140px">
                        <div style="width:30%;" class="flex align-items-center justify-content-center">
                            <i style="font-size: 40px;" class="#{appcore_Session.attributes[pageId]['fontAwesome']}"></i>
                        </div>
                        <div style="width:30%;" class="flex align-items-center justify-content-center">
                            <i style="font-size: 80px;" class="#{appcore_Session.attributes[pageId]['fontAwesome']}"></i>
                        </div>
                        <div style="width:40%;" class="flex align-items-center justify-content-center">
                            <i style="font-size: 120px;" class="#{appcore_Session.attributes[pageId]['fontAwesome']}"></i>
                        </div>
                    </div>
                </div>

                <h:outputLink target="_blank" value="https://fontawesome.com/v6/search?m=free">Font Awesome</h:outputLink>
                is a highly customizable scalable vector iconset.
            </h:form>
        </p:panel>
    </ui:define>
</ui:composition>