<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              ABOUT                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="about"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('about.title')}"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <div class="flex align-items-center justify-content-center pt-2">
                <p:panel id="aboutPannel" style="width:60vw;">
                    <f:facet name="header">#{appcore_Session.dictionary('about.title')}</f:facet>
                    <mc:dataTableSimple id="packages"
                                        pageId="#{pageId}"
                                        widgetVar="packagesWidget"
                                        value="#{appcore_Application.packages}"
                                        multiViewState="false"
                                        rowKey="#{null}"
                                        paginator="true"
                                        paginatorPosition="both"
                                        renderedSearch="true"
                                        renderedResetState="false"
                                        renderedColumToggler="false"
                                        renderedExporter="false">
                        <p:column headerText="Group"
                                  filterBy="#{row.group}"
                                  filterMatchMode="contains"
                                  filterStyleClass="hidden">
                            <h:outputText value="#{row.group}"/>
                        </p:column>
                        <p:column headerText="Name"
                                  filterBy="#{row.name}"
                                  filterMatchMode="contains"
                                  filterStyleClass="hidden">
                            <b><h:outputText value="#{row.name}"/></b>
                        </p:column>
                        <p:column headerText="Version"
                                  filterBy="#{row.version}"
                                  filterMatchMode="contains"
                                  filterStyleClass="hidden">
                            <h:outputText value="#{row.version}"/>
                        </p:column>
                        <p:column headerText="License"
                                  filterBy="#{row.licenseName}"
                                  filterMatchMode="contains"
                                  filterStyleClass="hidden">
                            <p:link value="#{row.licenseName}"
                                    target="_blank"
                                    href="#{row.licenseLink}"/>
                        </p:column>
                    </mc:dataTableSimple>
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-6, ui-grid-col-6 text-right">
                        <p:link target="_blank"
                                href="https://gitlab.com/mysetsolutions">
                            Open Source - GitLab <p style="font-size:16px;" class="fab fa-gitlab"/>
                        </p:link>
                        <h:outputText escape="false"
                                      value="#{appcore_DateUtils.currentDate}">
                            <f:convertDateTime type="both"
                                               locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"/>
                        </h:outputText>
                    </p:panelGrid>
                </p:panel>

            </div>


        </h:form>

    </ui:define>
</ui:composition>