<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteforeverDialog"
              dynamic="true"
              widgetVar="deleteforeverDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="350"
              position="center top"
              maximizable="false"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('cms.messages.deleteforever')}">

        <h:form>
            <c:if test="#{(appcore_Request.attributes['deleteforever.save'])}">
                <m:eval value="#{appcore_CMSMessages.messagesDeleteForever()}"/>

                <m:eval value="#{appcore_CMSMessages.refreshAllMessages(appcore_CMSMessages.label)}"/>

                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>

                <!-- remove selection -->
                <m:eval value="#{appcore_CMSMessages.resetSelection()}"/>
                <p:remoteCommand autoRun="true" ignoreAutoUpdate="true" update="actionsMenuForm"/>

                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'messagesDataTableWidget\').unselectAllRows()')}"/>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteforeverDialogWidget\').hide()')}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-center, ui-grid-col-10">
                    <h:outputText escape="false"
                                  style="font-size:24px;"
                                  styleClass="fa fa-exclamation"/>
                    <h:outputText value="#{appcore_Session.dictionary('action.continue')}"
                                  style="line-height:34px;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('yes')}"
                                         icon="fa fa-check"
                                         update="@form :messagesForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['deleteforever.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('no')}"
                                         type="button"
                                         icon="fa fa-rotate-right"
                                         styleClass="ui-confirmdialog-no"
                                         onclick="PF('deleteforeverDialogWidget').hide()"/>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>

    </p:dialog>
</ui:composition>