<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <h:form>
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->
        <c:if test="#{(appcore_Request.attributes['delete.save'])}">
            <m:eval value="#{appcore_CMSMessages.messagesMoveInto('103')}"/>

            <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_CMSMessages.label)}"/>

            <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>

            <!-- remove selection -->
            <m:eval value="#{appcore_CMSMessages.resetSelection()}"/>
            <p:remoteCommand autoRun="true" ignoreAutoUpdate="true" update="actionsMenuForm"/>

            <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'messagesDataTableWidget\').unselectAllRows()')}"/>

        </c:if>

        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
    </h:form>
</ui:composition>