<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-cms-messages.xhtml">
    <ui:define name="west">
        <h:form id="treeForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['refreshMessages']!=null)}">
                <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_Request.attributes['refreshMessages'])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['refreshAllMessages']!=null)}">
                <m:eval value="#{appcore_CMSMessages.refreshAllMessages(appcore_Request.attributes['refreshAllMessages'])}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design              -->
            <!-- =================================== -->
            <p:menu style="min-width: 150px; width: 100%">
                <p:submenu label="#{appcore_Session.dictionary('cms.messages.title')}">
                    <p:menuitem icon="fa fa-inbox"
                                update="@form actionsMenuForm messagesForm"
                                styleClass="#{appcore_CMSMessages.label.equals('101')?'ui-state-active':''}">
                        <h:outputText value="#{appcore_Session.dictionary('cms.messages.inbox')} #{appcore_CMSMessages.messagesNotReadCount('101')}"/>
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['refreshMessages']}" value="101"/>
                    </p:menuitem>
                    <p:menuitem icon="fa fa-envelope-open"
                                update="@form actionsMenuForm messagesForm"
                                styleClass="#{appcore_CMSMessages.label.equals('102')?'ui-state-active':''}">
                        <h:outputText value="#{appcore_Session.dictionary('cms.messages.sent')} #{appcore_CMSMessages.messagesNotReadCount('102')}"/>
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['refreshMessages']}" value="102"/>
                    </p:menuitem>
                    <p:menuitem icon="fa fa-trash"
                                update="@form actionsMenuForm messagesForm"
                                styleClass="#{appcore_CMSMessages.label.equals('103')?'ui-state-active':''}">
                        <h:outputText value="#{appcore_Session.dictionary('cms.messages.deleted')} #{appcore_CMSMessages.messagesNotReadCount('103')}"/>
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['refreshMessages']}" value="103"/>
                    </p:menuitem>
                    <p:menuitem icon="fa fa-archive"
                                update="@form actionsMenuForm messagesForm"
                                styleClass="#{appcore_CMSMessages.label.equals('104')?'ui-state-active':''}">
                        <h:outputText value="#{appcore_Session.dictionary('cms.messages.archived')} #{appcore_CMSMessages.messagesNotReadCount('104')}"/>
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['refreshMessages']}" value="104"/>
                    </p:menuitem>
                    <p:separator rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')}"/>
                    <p:menuitem rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')}"
                                icon="fa fa-building"
                                update="@form actionsMenuForm messagesForm"
                                styleClass="#{appcore_CMSMessages.label.equals('100')?'ui-state-active':''}">
                        <h:outputText value="#{appcore_Session.dictionary('cms.messages.all')}"/>
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['refreshAllMessages']}" value="100"/>
                    </p:menuitem>

                </p:submenu>
            </p:menu>
        </h:form>
    </ui:define>

    <ui:define name="center">
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->


        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
        <ui:include src="menu.xhtml"/>


        <!-- Actions -->
        <ui:include src="view.xhtml"/>
        <ui:include src="compose.xhtml"/>
        <ui:include src="reply.xhtml"/>
        <ui:include src="forward.xhtml"/>
        <ui:include src="moveinto.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <ui:include src="emptydeleted.xhtml"/>
        <ui:include src="deleteforever.xhtml"/>

        <h:form id="messagesForm">
            <!-- Events -->
            <c:if test="#{appcore_Request.eventCheck()}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.component.id)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.source.value)}"/>
            </c:if>

            <p:dataTable id="messagesDataTable"
                         widgetVar="messagesDataTableWidget"
                         value="#{appcore_CMSMessages.messages}"
                         var="row"
                         multiViewState="true"
                         resizableColumns="true"
                         draggableColumns="false"
                         scrollable="true"
                         paginator="true"
                         paginatorPosition="both"
                         paginatorTemplate="#{appcore_Session.dictionary('datatable.paginator.template')}"
                         pageLinks="#{appcore_Session.dictionary('datatable.paginator.pageslinks')}"
                         emptyMessage="#{appcore_Session.dictionary('datatable.empty.message')}"
                         currentPageReportTemplate="#{appcore_Session.dictionary('datatable.paginator.currentpage.template')}"
                         rows="#{appcore_Application.property('preference.datatable.paginator.rows')}"
                         rowsPerPageTemplate="#{appcore_Application.property('preference.datatable.paginator.rows.templates')}"
                         rowStatePreserved="true"
                         rowKey="#{row.hashCode()}"
                         sortMode="single"
                         selection="#{appcore_CMSMessages.selectedMessages}"
                         allowUnsorting="true"
                         filteredValue="#{appcore_Session.attributes[pageId]['messages.filteredValue']}"
                         globalFilter="#{appcore_Session.attributes[pageId]['messages.globalFilter']}">
                <!-- Events -->
                <p:ajax event="toggleSelect"
                        update="@form treeForm actionsMenuForm :viewDialog :replyDialog :forwardDialog :emptydeletedDialog :deleteforeverDialog"
                        listener="#{appcore_CMSMessages.toggleSelect}"/>
                <p:ajax event="rowSelectCheckbox"
                        update="@form treeForm actionsMenuForm :viewDialog :replyDialog :forwardDialog :emptydeletedDialog :deleteforeverDialog"
                        listener="#{appcore_CMSMessages.rowSelect}"/>
                <p:ajax event="rowUnselectCheckbox"
                        update="@form treeForm actionsMenuForm :viewDialog :replyDialog :forwardDialog :emptydeletedDialog :deleteforeverDialog"/>
                <p:ajax event="rowSelect"
                        update="@form treeForm actionsMenuForm :viewDialog :replyDialog :forwardDialog :emptydeletedDialog :deleteforeverDialog"
                        listener="#{appcore_CMSMessages.rowSelect}"
                        oncomplete="PF('viewDialogWidget').show()"/>
                <p:ajax event="rowUnselect"
                        update="@form treeForm actionsMenuForm :viewDialog :replyDialog :forwardDialog :emptydeletedDialog :deleteforeverDialog"
                        oncomplete="PF('viewDialogWidget').show()"/>
                <!-- Header -->
                <f:facet name="header">
                    <h:outputText value="#{pageTitle}"
                                  style="visibility:hidden;text-align:center;"/>
                    <p:inputText id="globalFilter"
                                 value="#{appcore_Session.attributes[pageId]['messages.globalFilter']}"
                                 onchange="PF('messagesDataTableWidget').filter()"
                                 styleClass="datatable-filter"/>
                    <p:watermark for="globalFilter"
                                 value="#{appcore_Session.dictionary('search')}"/>
                    <p:commandButton icon="fa fa-search"
                                     ajax="true"
                                     onclick="PF('messagesDataTableWidget').filter()"/>
                    <p:commandButton icon="fa fa-eraser"
                                     title="#{appcore_Session.dictionary('reset')}"
                                     ajax="false"
                                     actionListener="#{appcore_PrimeFacesUtils.current.multiViewState().clearAll(facesContext.viewRoot.viewId,true)}">
                        <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['messages.globalFilter']}" value=""/>
                    </p:commandButton>
                    <p:commandButton id="exportButton"
                                     icon="fa fa-download"
                                     title="#{appcore_Session.dictionary('export')}"
                                     ajax="true"/>
                    <p:tieredMenu overlay="true"
                                  trigger="exportButton"
                                  my="left top"
                                  at="left bottom">
                        <p:menuitem ajax="false" value="PDF" icon="fa fa-file-pdf-o">
                            <p:dataExporter type="pdf"
                                         target="messagesDataTable"
                                         skipComponents="org.primefaces.component.watermark.Watermark,
                                     org.primefaces.component.inputtext.InputText,
                                     org.primefaces.component.tieredmenu.TieredMenu,
                                     org.primefaces.component.columntoggler.ColumnToggler"
                                         fileName="messages"
                                         pageOnly="true"
                                         orientation="landscape"
                                         datasetPadding="0"
                                         facetBackground="#cecece"
                                         facetFontSize="11"
                                         facetFontStyle="bold"
                                         cellFontSize="11"
                                         cellFontStyle="normal"/>
                        </p:menuitem>
                        <p:menuitem ajax="false" value="XLS" icon="fa fa-file-excel-o">
                            <p:dataExporter type="xlsx"
                                         target="messagesDataTable"
                                         skipComponents="org.primefaces.component.watermark.Watermark,org.primefaces.component.tieredmenu.TieredMenu,org.primefaces.component.columntoggler.ColumnToggler"
                                         fileName="messages"
                                         pageOnly="true"
                                         datasetPadding="0"
                                         facetFontSize="11"
                                         facetFontStyle="bold"
                                         cellFontSize="11"
                                         cellFontStyle="normal"/>
                        </p:menuitem>
                        <p:menuitem ajax="false"
                                    value="CSV"
                                    icon="fa fa-file-text-o">
                            <p:dataExporter type="csv"
                                            target="messagesDataTable"
                                            fileName="messages"
                                            pageOnly="true"/>
                        </p:menuitem>
                        <p:menuitem ajax="false" value="XML" icon="fa fa-file-code-o">
                            <p:dataExporter type="xml"
                                            target="messagesDataTable"
                                            fileName="messages"
                                            pageOnly="true"/>
                        </p:menuitem>
                    </p:tieredMenu>
                </f:facet>

                <!-- Columns -->
                <p:column selectionMode="multiple" style="width:20px;text-align:center"/>

                <p:column sortBy="#{row.fields['messageRead']}"
                          style="width:16px;text-align:center">
                    <h:outputText styleClass="#{row.fields['messageRead'].equals('1')?'fa fa-envelope-open':'fa fa-envelope'}"/>
                </p:column>
                <p:column sortBy="#{row.fields['messageFromName']}"
                          filterBy="#{row.fields['messageFromName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          style="min-width:100px;max-width:240px;#{row.fields['messageRead'].equals('1')?'':'font-weight:bold;'}">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('from')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['messageFromName']}"
                                  style="text-align:left;"/>
                </p:column>
                <p:column rendered="#{!appcore_CMSMessages.label.equals('101')}"
                          sortBy="#{row.fields['messageToName']}"
                          filterBy="#{row.fields['messageToName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          style="min-width:100px;max-width:240px;#{row.fields['messageRead'].equals('1')?'':'font-weight:bold;'}">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('message.to')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['messageToName']}"
                                  style="text-align:left;"/>
                </p:column>
                <p:column sortBy="#{row.fields['messageSubject']}"
                          filterBy="#{row.fields['messageSubject']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          style="#{row.fields['messageRead'].equals('1')?'':'font-weight:bold;'}">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('subject')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['messageSubject']}"
                                  style="text-align:left;"/>
                </p:column>
                <p:column sortBy="#{row.fields['messageDate']}"
                          filterBy="#{row.fields['messageDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          style="width:160px;text-align:center;#{row.fields['messageRead'].equals('1')?'':'font-weight:bold;'}">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['messageDate']}"
                                  style="text-align:center;">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </h:outputText>
                </p:column>
            </p:dataTable>
        </h:form>

    </ui:define>


</ui:composition>