<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              MENU                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <h:form id="actionsMenuForm">

        <p:menubar id="navigationMenu" autoDisplay="false" position="fixed">
            <p:menuitem rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')}"
                        icon="fa fa-edit"
                        value="#{appcore_Session.dictionary('cms.messages.compose')}"
                        oncomplete="PF('composeDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{appcore_CMSMessages.singleSelected}"
                        icon="fa fa-envelope"
                        value="#{appcore_Session.dictionary('view')}"
                        oncomplete="PF('viewDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{appcore_CMSMessages.singleSelected}"
                        icon="fa fa-mail-reply"
                        value="#{appcore_Session.dictionary('cms.messages.reply')}"
                        oncomplete="PF('replyDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')
                                    and appcore_CMSMessages.singleSelected}"
                        icon="fa fa-mail-forward"
                        value="#{appcore_Session.dictionary('cms.messages.forward')}"
                        oncomplete="PF('forwardDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{(appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and !appcore_CMSMessages.label.equals('100')
                                    and !appcore_CMSMessages.label.equals('104')}"
                        icon="fa fa-tag"
                        value="#{appcore_Session.dictionary('cms.messages.moveinto')}"
                        oncomplete="PF('moveintoDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{(appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and !appcore_CMSMessages.label.equals('100')
                                    and !appcore_CMSMessages.label.equals('103')}"
                        icon="fa fa-trash"
                        value="#{appcore_Session.dictionary('delete')}"
                        action="#{appcore_Request.attributes.put('delete.save',true)}"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{(appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and appcore_CMSMessages.label.equals('103')}"
                        icon="fa fa-trash"
                        value="#{appcore_Session.dictionary('cms.messages.emptydeleted')}"
                        oncomplete="PF('emptydeletedDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
            <p:menuitem rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')
                                    and (appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and appcore_CMSMessages.label.equals('100')}"
                        icon="fa fa-trash"
                        value="#{appcore_Session.dictionary('cms.messages.deleteforever')}"
                        oncomplete="PF('deleteforeverDialogWidget').show()"
                        update="@form treeForm messagesForm"/>
        </p:menubar>
    </h:form>
</ui:composition>