<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="messageDialog"
              dynamic="true"
              appendTo="@(body)"
              position="center top"
              closable="true"
              maximizable="true"
              widgetVar="messageDialogWidget"
              width="850"
              header="#{appcore_Session.dictionary('cms.messages.compose')} #{appcore_Session.dictionary('cms.messages.message').toLowerCase()}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['message.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('messageFrom')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageTo')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageSubject')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageContent')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['message.send'])}">
                <m:eval value="#{appcore_CMSMessages.messageSend(appcore_ApplicationSecurity.security.user.userId,
                                                                     appcore_Session.attributes['cms.message.userId'],
                                                                     appcore_Request.attributes['messageSubject'],
                                                                     appcore_Request.attributes['messageContent'])}"/>
                <!-- Refresh messages -->
                <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_CMSMessages.label)}"/>

                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>

                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'messageDialogWidget\').hide()')}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="messageTo"
                                   value="#{appcore_Session.dictionary('message.to')}"/>
                    <p:inputText id="messageTo"
                                 readonly="true"
                                 value="#{appcore_Session.attributes['cms.message.userFullName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="messageSubject"
                                 value="#{appcore_Request.attributes['messageSubject']}"
                                 required="true"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="messageContent"
                                     value="#{appcore_Request.attributes['messageContent']}"
                                     required="true"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('send')}"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['message.send']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['message.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>