<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            NEW FILE               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="moveintoDialog"
              dynamic="true"
              appendTo="@(body)"
              position="center top"
              closable="true"
              maximizable="true"
              widgetVar="moveintoDialogWidget"
              width="450"
              header="#{appcore_Session.dictionary('cms.messages.moveinto')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['moveinto.init'] or appcore_Request.attributes['moveinto.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('label')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['moveinto.save'])}">
                <m:eval value="#{appcore_CMSMessages.messagesMoveInto(appcore_Request.attributes['label'])}"/>

                <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_CMSMessages.label)}"/>

                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
                <!-- remove selection -->
                <m:eval value="#{appcore_CMSMessages.resetSelection()}"/>
                <p:remoteCommand autoRun="true" ignoreAutoUpdate="true" update="actionsMenuForm"/>

                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'messagesDataTableWidget\').unselectAllRows()')}"/>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'moveintoDialogWidget\').hide()')}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel for="label"
                                   value="#{appcore_Session.dictionary('location')}"/>
                    <p:selectOneMenu id="label"
                                     value="#{appcore_Request.attributes['label']}"
                                     required="true"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItem itemValue="104"
                                      itemLabel="#{appcore_Session.dictionary('cms.messages.archived')}"/>
                    </p:selectOneMenu>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('save')}"
                                         icon="fa fa-check"
                                         update="@form :messagesForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['moveinto.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['moveinto.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>