<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="850"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} #{appcore_Session.dictionary('cms.messages.message').toLowerCase()}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('messageDate',appcore_CMSMessages.selectedMessage.fields['messageDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('messageFrom',appcore_CMSMessages.selectedMessage.fields['messageFromName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('messageTo',appcore_CMSMessages.selectedMessage.fields['messageToName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('messageSubject',appcore_CMSMessages.selectedMessage.fields['messageSubject'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('messageContent',appcore_CMSMessages.selectedMessage.fields['messageContent'])}"/>
                <!-- mark as read -->
                <c:if test="#{!appcore_CMSMessages.label.equals('100') and !(appcore_CMSMessages.selectedMessage.fields['messageRead'].equals('1'))}">
                    <m:eval value="#{appcore_CMSMessages.messageUpdateRead('1')}"/>

                    <!-- Refresh messages -->
                    <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_CMSMessages.label)}"/>

                    <!-- remove selection -->
                    <m:eval value="#{appcore_CMSMessages.resetSelection()}"/>
                    <p:remoteCommand autoRun="true" update="actionsMenuForm messagesForm"/>

                </c:if>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:menubar id="navigationMenuView" autoDisplay="false" position="fixed">
                <p:menuitem rendered="#{appcore_CMSMessages.singleSelected}"
                            icon="fa fa-mail-reply"
                            value="#{appcore_Session.dictionary('cms.messages.reply')}"
                            oncomplete="PF('replyDialogWidget').show()"/>
                <p:menuitem rendered="#{appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins')
                                    and appcore_CMSMessages.singleSelected}"
                            icon="fa fa-mail-forward"
                            value="#{appcore_Session.dictionary('cms.messages.forward')}"
                            oncomplete="PF('forwardDialogWidget').show()"/>
                <p:menuitem rendered="#{(appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and !appcore_CMSMessages.label.equals('100')
                                    and !appcore_CMSMessages.label.equals('104')}"
                            icon="fa fa-tag"
                            value="#{appcore_Session.dictionary('cms.messages.moveinto')}"
                            oncomplete="PF('moveintoDialogWidget').show()"/>
                <p:menuitem rendered="#{(appcore_CMSMessages.singleSelected or appcore_CMSMessages.multipleSelected)
                                    and !appcore_CMSMessages.label.equals('100')
                                    and !appcore_CMSMessages.label.equals('103')}"
                            icon="fa fa-trash"
                            value="#{appcore_Session.dictionary('delete')}"
                            action="#{appcore_Request.attributes.put('delete.save',true)}"
                            oncomplete="PF('viewDialogWidget').hide()"
                            update="treeForm messagesForm"/>
            </p:menubar>
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="messageFrom"
                                   value="#{appcore_Session.dictionary('from')}"/>
                    <p:inputText id="messageFrom"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['messageFrom']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageTo"
                                   value="#{appcore_Session.dictionary('message.to')}"/>
                    <p:inputText id="messageTo"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['messageTo']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="messageSubject"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['messageSubject']}"
                                 required="true"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="messageContent"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['messageContent']}"
                                     required="true"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>
                    <p:outputLabel for="messageDate"
                                   value="#{appcore_Session.dictionary('date')}"/>
                    <p:calendar id="messageDate"
                                readonly="true"
                                value="#{appcore_Request.attributes['messageDate']}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                showOn="none"
                                readonlyInput="false"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>

                </p:panelGrid>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>