<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              dynamic="true"
              widgetVar="addDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['add.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('pageName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('pageDesc')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('pageUrl')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('pagePublic')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_pages.sql02.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql02.params'].add(appcore_Request.attributes['pageName'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql02.params'].add(appcore_Request.attributes['pageDesc'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql02.params'].add(appcore_Request.attributes['pageUrl'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql02.params'].add(appcore_Request.attributes['pagePublic']?'1':null)}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql02.params'].add(appcore_ApplicationSecurity.security.user.userId)}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_pages.sql02"
                                        sql="#{appcore_Application.database('cms_pages.sql02')}"
                                        params="#{appcore_Request.attributes['cms_pages.sql02.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_pages.sql02']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_pages.sql02'].errors}">
                    <!-- Refresh -->
                    <m:eval value="#{appcore_CMSApplication.refreshPages()}"/>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="pageName"
                                   value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="pageName"
                                 value="#{appcore_Request.attributes['pageName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="pageDesc"
                                   value="#{appcore_Session.dictionary('description')}"/>
                    <p:inputTextarea id="pageDesc"
                                     value="#{appcore_Request.attributes['pageDesc']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="pageUrl"
                                   value="#{appcore_Session.dictionary('location')}"/>
                    <p:inputTextarea id="pageUrl"
                                     value="#{appcore_Request.attributes['pageUrl']}"
                                     required="true"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="pagePublic"
                                   value="#{appcore_Session.dictionary('public')}"/>
                    <p:inputSwitch id="pagePublic"
                                   value="#{appcore_Request.attributes['pagePublic']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>