<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               UPDATE              -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="contentDialog"
              dynamic="true"
              widgetVar="contentDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="800"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('content')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="contentDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['content.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="contentDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['content.init'] or appcore_Request.attributes['content.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('pageName',appcore_Session.attributes[pageId]['datatable.selection'].fields['pageName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('pageUrl',appcore_Session.attributes[pageId]['datatable.selection'].fields['pageUrl'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('pagePublic',appcore_Session.attributes[pageId]['datatable.selection'].fields['pagePublic'].equals('1')?true:false)}"/>
                <!-- available parts -->
                <m:eval value="#{appcore_Request.attributes.put('cms_pages.sql05.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql05.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_pages.sql05"
                                        sql="#{appcore_Application.database('cms_pages.sql05')}"
                                        params="#{appcore_Request.attributes['cms_pages.sql05.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_pages.sql05']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="availableParts"/>

                <!-- selected parts -->
                <m:eval value="#{appcore_Request.attributes.put('cms_pages.sql06.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql06.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_pages.sql06"
                                        sql="#{appcore_Application.database('cms_pages.sql06')}"
                                        params="#{appcore_Request.attributes['cms_pages.sql06.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_pages.sql06']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="selectedParts"/>

                <!-- parts dual list model -->
                <m:eval
                        value="#{appcore_Session.attributes[pageId].put('partsDualListModel',appcore_PrimeFacesUtils.getDualListModel(appcore_Session.attributes[pageId]['availableParts'],appcore_Session.attributes[pageId]['selectedParts']))}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['content.execute'])}">
                <!-- transaction commands -->
                <m:eval value="#{appcore_Request.attributes.put('pages.parts.commands',appcore_Utils.newInstance('java.util.ArrayList'))}"/>

                <!-- delete page parts -->
                <m:eval value="#{appcore_Request.attributes.put('cms_pages.sql07.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_pages.sql07.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_pages.sql07"
                                        sql="#{appcore_Application.database('cms_pages.sql07')}"
                                        params="#{appcore_Request.attributes['cms_pages.sql07.params']}"/>
                <m:eval value="#{appcore_Request.attributes['pages.parts.commands'].add(appcore_Request.attributes['cms_pages.sql07'])}"/>

                <!-- add page parts -->
                <m:eval value="#{appcore_Request.attributes.put('i',0)}"/>
                <c:forEach items="#{appcore_Session.attributes[pageId]['partsDualListModel'].target}">
                    <m:eval value="#{appcore_Request.attributes.put('cms_pages.sql08.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['cms_pages.sql08.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
                    <m:eval
                            value="#{appcore_Request.attributes['cms_pages.sql08.params'].add(appcore_Session.attributes[pageId]['partsDualListModel'].target[appcore_Request.attributes['i']].fields['partId'])}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                            key="cms_pages.sql08"
                                            sql="#{appcore_Application.database('cms_pages.sql08')}"
                                            params="#{appcore_Request.attributes['cms_pages.sql08.params']}"/>
                    <m:eval value="#{appcore_Request.attributes['pages.parts.commands'].add(appcore_Request.attributes['cms_pages.sql08'])}"/>
                    <m:eval value="#{appcore_Request.attributes.put('i',appcore_Request.attributes['i']+1)}"/>
                </c:forEach>

                <!-- transaction -->
                <mc:database-transaction rendered="true"
                                            databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                            commands="#{appcore_Request.attributes['pages.parts.commands']}"
                                            infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                            errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_pages.sql08'].errors}">s
                    <!-- Remove from cache -->
                    <m:eval value="#{appcore_CMSProcessor.removePage(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
                    <m:eval value="#{appcore_CMSProcessor.removePageParts(appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>

                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'contentDialogWidget\').hide()')}"/>
                </c:if>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                        <p:outputLabel for="pageName"
                                       value="#{appcore_Session.dictionary('name')}"/>
                        <p:inputText id="pageName"
                                     readonly="true"
                                     value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['pageName']}"
                                     required="true"
                                     style="width:100%;"/>
                        <p:outputLabel for="pageUrl"
                                       value="#{appcore_Session.dictionary('location')}"/>
                        <p:inputTextarea id="pageUrl"
                                         readonly="true"
                                         value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['pageUrl']}"
                                         required="true"
                                         autoResize="false"
                                         rows="3"
                                         style="width:100%;"/>
                        <p:outputLabel for="pagePublic"
                                       value="#{appcore_Session.dictionary('public')}"/>
                        <p:inputSwitch id="pagePublic"
                                       disabled="true"
                                       value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['pagePublic'].equals('1')?true:false}"
                                       onLabel="#{appcore_Session.dictionary('on')}"
                                       offLabel="#{appcore_Session.dictionary('off')}"/>
                    </p:panelGrid>
                    <p:outputPanel style="width:100%">
                        <div align="center">
                            <p:pickList id="partsPicklist"
                                        rendered="#{(appcore_Session.attributes[pageId]['partsDualListModel']!=null)}"
                                        value="#{appcore_Session.attributes[pageId]['partsDualListModel']}"
                                        converter="appcore_GenericConverter"
                                        var="row"
                                        itemValue="#{row}"
                                        itemLabel="#{row.fields['partName']}"
                                        showSourceFilter="true"
                                        showTargetFilter="true"
                                        filterMatchMode="contains"
                                        style="width:100%;">
                                <f:facet name="sourceCaption">#{appcore_Session.dictionary('cms.parts.available')}</f:facet>
                                <f:facet name="targetCaption">#{appcore_Session.dictionary('cms.parts.selected')}</f:facet>
                                <p:column style="width:20px;">
                                    <h:outputText styleClass="fa fa-leaf"/>
                                </p:column>
                                <p:column>
                                    <b><h:outputText value="#{row.fields['partName']}"/></b>
                                    <br/>
                                    <h:outputText value="#{row.fields['partDesc']}"/>
                                </p:column>
                            </p:pickList>
                        </div>
                    </p:outputPanel>

                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('update')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['content.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['content.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>