<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="pages"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('cms.pages.title')}"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- Initialize -->
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']==null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm" oncomplete="PF('filterDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
            </p:remoteCommand>
        </h:form>
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']!=null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
            </p:remoteCommand>
        </h:form>


        <!-- =================================== -->
        <!--              Form logic             -->
        <!-- =================================== -->
        <!-- actions -->
        <ui:include src="menu.xhtml"/>
        <ui:include src="view.xhtml"/>
        <ui:include src="add.xhtml"/>
        <ui:include src="update.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <ui:include src="content.xhtml"/>

        <!-- last -->
        <ui:include src="filter.xhtml"/>

        <h:form id="dataTableForm">
            <!-- =================================== -->
            <!--              Form design            -->
            <!-- =================================== -->
            <mc:dataTable id="datatable"
                             pageId="#{pageId}"
                             widgetVar="datatableWidget"
                             rowKey="#{row.hashCode()}"
                             rowSelectUpdate="actionsMenuForm filterDialog viewDialog updateDialog deleteDialog contentDialog"
                             title="#{pageTitle}"
                             styleClass="datatable-auto-columns">
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['pageId']}"
                          filterBy="#{row.fields['pageId']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('id')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['pageId']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['pageName']}"
                          filterBy="#{row.fields['pageName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('name')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['pageName']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['pageDesc']}"
                          filterBy="#{row.fields['pageDesc']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('description')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['pageDesc']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['pageUrl']}"
                          filterBy="#{row.fields['pageUrl']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('location')}"/>
                    </f:facet>
                    <p:link title="#{appcore_Session.dictionary('open')} #{row.fields['pageId']}"
                            target="#{'_page_'.concat(row.fields['pageId'])}"
                            href="#{appcore_Application.property('cms.development.context').concat(row.fields['pageUrl'])}">
                        <h:outputText styleClass="fa fa-external-link"
                                      style="padding-right: 4px;"/>
                        <h:outputText value="#{row.fields['pageUrl']}"/>
                    </p:link>
                </p:column>
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['pagePublic']}"
                          filterBy="#{row.fields['pagePublic']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('public')}"/>
                    </f:facet>
                    <h:outputText rendered="#{row.fields['pagePublic'].equals('1')}"
                                  value="#{appcore_Session.dictionary('yes')}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userName']}"
                          filterBy="#{row.fields['userName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('username')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['userName']}"/>
                </p:column>
                <p:column style="text-align:center;width:150px;"
                          sortBy="#{row.fields['pageCreateDate']}"
                          filterBy="#{row.fields['pageCreateDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('made')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['pageCreateDate']}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </h:outputText>
                </p:column>
                <p:column style="text-align:center;width:150px;"
                          sortBy="#{row.fields['pageLastUpdate']}"
                          filterBy="#{row.fields['pageLastUpdate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('updated')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['pageLastUpdate']}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </h:outputText>
                </p:column>
            </mc:dataTable>
        </h:form>
    </ui:define>
</ui:composition>