<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['action.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('oldPassword')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('newPassword')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('confirmNewPassword')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <mc:log message="#{appcore_ApplicationSecurity.security.user.userName}"/>

                <!-- check old password -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql01.params'].add(appcore_ApplicationSecurity.security.user.userName)}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql01"
                                     sql="#{appcore_Application.database('security.sql01')}"
                                     params="#{appcore_Request.attributes['security.sql01.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql01']}"
                                   store="#{appcore_Request.attributes}"
                                   key="login.userGenericBeans"/>

                <c:if test="#{(appcore_Request.attributes['login.userGenericBeans'].size()>0)}">
                    <!-- change password -->
                    <m:eval value="#{appcore_Request.attributes.put('security.sql03.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql03.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_Request.attributes['newPassword']))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql03.params'].add(appcore_ApplicationSecurity.security.user.userName)}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql03.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_Request.attributes['oldPassword']))}"/>

                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="security.sql03"
                                         sql="#{appcore_Application.database('security.sql03')}"
                                         params="#{appcore_Request.attributes['security.sql03.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['security.sql03']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                         errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                    <c:if test="#{!appcore_Request.attributes['security.sql03'].errors}">
                        <!-- send email notification -->
                        <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_ApplicationSecurity.security.user.userName)}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(request.remoteAddr)}"/>
                        <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                                 from="#{appcore_Application.property('notifications.mail.default')}"
                                 bcc="#{appcore_ApplicationSecurity.security.user.userEmail}"
                                 subject="#{appcore_Session.dictionary('user-password.notification.subject')}"
                                 content="#{appcore_Session.dictionary('user-password.notification.content',appcore_Request.attributes['notification.params'])}"
                                 warnMessage="#{appcore_Session.dictionary('messages.notification.email')}"/>
                    </c:if>
                </c:if>
                <c:if test="#{!(appcore_Request.attributes['login.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('user-password.message.oldpassword'))}"/>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <div class="flex align-items-center justify-content-center pt-2">
            <p:panel id="changePasswordPannel" style="width:500px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-password.title')}</f:facet>

                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel for="oldPassword"
                                   value="#{appcore_Session.dictionary('user-password.oldpassword')}"/>
                    <p:password id="oldPassword"
                                binding="#{appcore_Request.attributes['oldPasswordBinding']}"
                                value="#{appcore_Request.attributes['oldPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200"/>
                    <p:outputLabel for="newPassword"
                                   value="#{appcore_Session.dictionary('user-password.newpassword')}"/>
                    <p:password id="newPassword"
                                binding="#{appcore_Request.attributes['newPasswordBinding']}"
                                value="#{appcore_Request.attributes['newPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['newPasswordBinding'].submittedValue != appcore_Request.attributes['oldPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>

                    </p:password>
                    <p:outputLabel for="confirmNewPassword"
                                   value="#{appcore_Session.dictionary('user-password.confirmnewpassword')}"/>
                    <p:password id="confirmNewPassword"
                                binding="#{appcore_Request.attributes['confirmNewPasswordBinding']}"
                                value="#{appcore_Request.attributes['confirmNewPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['confirmNewPasswordBinding'].submittedValue == appcore_Request.attributes['newPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:password>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
            </div>





        </h:form>
    </ui:define>
</ui:composition>