<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              FILTER               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="filterDialog"
              widgetVar="filterDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="650"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('filter')}"
              focus="@none">
        <h:form id="filterDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- reset -->
            <c:if test="#{(appcore_Request.attributes['filter.reset'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable')}"/>

                <!-- reset fields -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logDateFrom')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].put('filter.logDateFrom',
                                 appcore_DateUtils.getDate(appcore_DateUtils.currentDate.year+1900,
                                                           appcore_DateUtils.currentDate.month+1,
                                                           appcore_DateUtils.currentDate.date))}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logDateTo')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logUser')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logHost')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logSource')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logDetails')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logLevel')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('filter.logMessage')}"/>
            </c:if>

            <!-- filter -->
            <c:if test="#{(appcore_Request.attributes['filter.execute'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>

                <!-- logs.sql01 -->
                <m:eval value="#{appcore_Request.attributes.put('logs.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logDateFrom'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logDateTo'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logUser'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logHost'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logSource'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logDetails'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logLevel'])}"/>
                <m:eval value="#{appcore_Request.attributes['logs.sql01.params'].add(appcore_Session.attributes[pageId]['filter.logMessage'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="logs.sql01"
                                     sql="#{appcore_Application.database('logs.sql01')}"
                                     params="#{appcore_Request.attributes['logs.sql01.params']}"
                                     otherparams="#{pageId}"
                                     readclob="true"
                                     rowslimit="#{appcore_Application.property('datasets.rows.limit')}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['logs.sql01']}"
                                   store="#{appcore_Session.attributes[pageId]}"
                                   key="datatable"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center" style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             rowClasses="ui-panelgrid-cell,ui-panelgrid-cell-even"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-6,ui-grid-col-6">
                        <p:outputLabel for="logDateFrom"
                                       value="#{appcore_Session.dictionary('from')}"/>
                        <p:outputLabel for="logDateTo"
                                       value="#{appcore_Session.dictionary('to')}"/>
                        <p:calendar id="logDateFrom"
                                    binding="#{appcore_Request.attributes['filter.logDateFromBinding']}"
                                    required="true"
                                    value="#{appcore_Session.attributes[pageId]['filter.logDateFrom']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.datetime')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"
                                               type="both"/>
                        </p:calendar>
                        <p:calendar id="logDateTo"
                                    binding="#{appcore_Request.attributes['filter.logDateToBinding']}"
                                    required="false"
                                    value="#{appcore_Session.attributes[pageId]['filter.logDateTo']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.datetime')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:validator validatorId="appcore_Validator"/>
                            <f:attribute name="validation1"
                                         value="#{appcore_Request.attributes['filter.logDateFromBinding'].value.compareTo(
                                     appcore_DateUtils.getDate(appcore_Request.attributes['filter.logDateToBinding'].submittedValue,
                                     appcore_Application.property('format.datetime'))) le 0}"/>
                            <f:attribute name="validation1-type"
                                         value="ERROR"/>
                            <f:attribute name="validation1-message"
                                         value="#{appcore_Session.dictionary('validation.invalid')}"/>
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"
                                               type="both"/>
                        </p:calendar>
                    </p:panelGrid>
                    <p:outputLabel for="logUser"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:inputText id="logUser"
                                 value="#{appcore_Session.attributes[pageId]['filter.logUser']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="logHost"
                                   value="#{appcore_Session.dictionary('ip')}/#{appcore_Session.dictionary('host')}"/>
                    <p:inputText id="logHost"
                                 value="#{appcore_Session.attributes[pageId]['filter.logHost']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="logLevel"
                                   value="#{appcore_Session.dictionary('level')}"/>
                    <p:inputText id="logLevel"
                                 value="#{appcore_Session.attributes[pageId]['filter.logLevel']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="logSource"
                                   value="#{appcore_Session.dictionary('source')}"/>
                    <p:inputText id="logSource"
                                 value="#{appcore_Session.attributes[pageId]['filter.logSource']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="logDetails"
                                   value="#{appcore_Session.dictionary('details')}"/>
                    <p:inputText id="logDetails"
                                 value="#{appcore_Session.attributes[pageId]['filter.logDetails']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="logMessage"
                                   value="#{appcore_Session.dictionary('message')}"/>
                    <p:inputText id="logMessage"
                                 value="#{appcore_Session.attributes[pageId]['filter.logMessage']}"
                                 required="false"
                                 style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('filter')}"
                                         icon="fa fa-filter"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>