<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">

        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- Initialize -->
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']==null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm" oncomplete="PF('filterDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
            </p:remoteCommand>
        </h:form>
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']!=null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
            </p:remoteCommand>
        </h:form>



        <!-- =================================== -->
        <!--              Form logic             -->
        <!-- =================================== -->
        <!-- actions -->
        <ui:include src="menu.xhtml"/>
        <ui:include src="view.xhtml"/>

        <!-- last -->
        <ui:include src="filter.xhtml"/>

        <h:form id="dataTableForm">
            <!-- =================================== -->
            <!--              Form design            -->
            <!-- =================================== -->
            <mc:dataTable id="datatable"
                          pageId="#{pageId}"
                          widgetVar="datatableWidget"
                          rowKey="#{row.hashCode()}"
                          rowSelectUpdate="actionsMenuForm viewDialog"
                          title="#{pageTitle}"
                          styleClass="datatable-auto-columns">
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['logId']}"
                          filterBy="#{row.fields['logId']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('id')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['logId']}"/>
                </p:column>
                <p:column style="text-align:center;width:150px;"
                          sortBy="#{row.fields['logDate']}"
                          filterBy="#{row.fields['logDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    </f:facet>
                    <h:outputText style="white-space: nowrap;"
                                  value="#{row.fields['logDate']}">
                        <f:convertDateTime type="both"
                                           locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"/>
                    </h:outputText>
                </p:column>
                <p:column style="white-space: nowrap;"
                          sortBy="#{row.fields['logUser']}"
                          filterBy="#{row.fields['logUser']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('user.userName')}"/>
                    </f:facet>
                    <h:outputText style="white-space: nowrap;"
                                  value="#{row.fields['logUser']}"/>
                </p:column>
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['logHost']}"
                          filterBy="#{row.fields['logHost']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('ip')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['logHost']}"/>
                </p:column>
                <p:column style="width:100px;"
                          sortBy="#{row.fields['logLevel']}"
                          filterBy="#{row.fields['logLevel']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('level')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['logLevel']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['logSource']}"
                          filterBy="#{row.fields['logSource']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('source')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['logSource']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['logDetails']}"
                          filterBy="#{row.fields['logDetails']}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          styleClass="hidden">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('details')}"/>
                    </f:facet>
                    <h:outputText value="-"
                                  style="text-align:left;"/>
                </p:column>
                <p:column sortBy="#{row.fields['logMessage']}"
                          filterBy="#{row.fields['logMessage']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('message')}"/>
                    </f:facet>
                    <h:outputText value="#{appcore_Utils.truncate(row.fields['logMessage'],100)}"
                                  style="text-align:left;"/>
                </p:column>

            </mc:dataTable>
        </h:form>
    </ui:define>
</ui:composition>