<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="900"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['logId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('logDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['logDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logUser',appcore_Session.attributes[pageId]['datatable.selection'].fields['logUser'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logHost',appcore_Session.attributes[pageId]['datatable.selection'].fields['logHost'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logSource',appcore_Session.attributes[pageId]['datatable.selection'].fields['logSource'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logDetails',appcore_Session.attributes[pageId]['datatable.selection'].fields['logDetails'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logLevel',appcore_Session.attributes[pageId]['datatable.selection'].fields['logLevel'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('logMessage',appcore_Session.attributes[pageId]['datatable.selection'].fields['logMessage'])}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="logDate"
                                   value="#{appcore_Session.dictionary('test.testDate')}"/>
                    <p:calendar id="logDate"
                                readonly="true"
                                value="#{appcore_Request.attributes['logDate']}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                showOn="none"
                                readonlyInput="true"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>
                    <p:outputLabel for="logUser"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:inputText id="logUser"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['logUser']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="logHost"
                                   value="#{appcore_Session.dictionary('ip')}"/>
                    <p:inputText id="logHost"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['logHost']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="logDetails"
                                   value="#{appcore_Session.dictionary('details')}"/>
                    <p:inputTextarea id="logDetails"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['logDetails']}"
                                     autoResize="false"
                                     rows="5"
                                     style="width:100%;"/>
                    <p:outputLabel for="logSource"
                                   value="#{appcore_Session.dictionary('source')}"/>
                    <p:inputText id="logSource"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['logSource']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="logLevel"
                                   value="#{appcore_Session.dictionary('level')}"/>
                    <p:inputText id="logLevel"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['logLevel']}"
                                 style="width:45%;"/>
                    <p:outputLabel for="logMessage"
                                   value="#{appcore_Session.dictionary('message')}"/>
                    <p:inputTextarea id="logMessage"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['logMessage']}"
                                     autoResize="false"
                                     rows="5"
                                     style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>