<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <!-- Save preferences and reload cache -->
                <m:eval rendered="#{appcore_Application.property('preferences.enable')}"
                        value="#{appcore_ApplicationPreferences.updatePreference('preference.theme',appcore_Session.theme)}"/>
                <m:eval rendered="#{appcore_Application.property('preferences.enable')}"
                        value="#{appcore_ApplicationPreferences.updatePreference('preference.locale',appcore_Session.locale)}"/>
                <m:eval rendered="#{appcore_Application.property('preferences.enable')}"
                        value="#{appcore_ApplicationPreferences.updatePreference('preference.timezone',appcore_Session.timezone)}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <div class="flex align-items-center justify-content-center pt-2">
            <p:panel id="userPreferencesPannel" style="width:400px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-preferences.title')}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel value="#{appcore_Session.dictionary('theme')}"/>
                    <p:selectOneMenu value="#{appcore_Session.theme}"
                                     style="text-align:left;"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.themes}" var="row" itemValue="#{row.fields['id']}" itemLabel="#{row.valueString}"/>
                        <p:ajax event="valueChange"
                                listener="#{appcore_Session.themeSwitcherListener}"
                                onsuccess="document.location.href = document.location.href;"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="#{appcore_Session.dictionary('locale')}"/>
                    <p:selectOneMenu value="#{appcore_Session.locale}"
                                     style="text-align:left;"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.locales}" var="row" itemValue="#{row.fields['id']}" itemLabel="#{row.valueString}"/>
                    </p:selectOneMenu>
                    <p:outputLabel value="#{appcore_Session.dictionary('timezone')}"/>
                    <p:selectOneMenu value="#{appcore_Session.timezone}"
                                     style="text-align:left;"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.timezones}"
                                       var="row"
                                       itemValue="#{row.fields['id']}"
                                       itemLabel="#{row.valueString}"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         value="#{appcore_Session.dictionary('save')}"
                                         oncomplete="window.location.replace(window.location.href);">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>


            </div>



        </h:form>

    </ui:define>
</ui:composition>