<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Check -->
            <c:if test="#{!('simple'.equals(appcore_Application.property('security.login.type')) or
                              'ldap'.equals(appcore_Application.property('security.login.type')))}">
                <m:eval value="#{facesContext.externalContext.responseSendError(403,null)}"/>
            </c:if>

            <c:if test="#{(request.getParameter('key')!=null)}">
                <m:eval rendered="true" value="#{appcore_Request.attributes.put('key',request.getParameter('key'))}"/>
                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['key'])}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <mc:log message="#{appcore_Request.attributes['key']}"/>

                <!-- check key -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql07.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql07.params'].add(appcore_Request.attributes['key'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql07"
                                     sql="#{appcore_Application.database('security.sql07')}"
                                     params="#{appcore_Request.attributes['security.sql07.params']}"
                                     readclob="true"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql07']}"
                                   store="#{appcore_Request.attributes}"
                                   key="user-registration-key.userGenericBeans"/>

                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['user-registration-key.userGenericBeans'])}"/>

                <c:if test="#{(appcore_Request.attributes['user-registration-key.userGenericBeans'].size()>0)}">
                    <!-- update -->
                    <m:eval value="#{appcore_Request.attributes.put('security.sql11.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql11.params'].add(appcore_Request.attributes['key'])}"/>

                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="security.sql11"
                                         sql="#{appcore_Application.database('security.sql11')}"
                                         params="#{appcore_Request.attributes['security.sql11.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['security.sql11']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"/>
                    <!-- redirect -->
                    <m:eval value="#{facesContext.externalContext.redirect(facesContext.externalContext.applicationContextPath.concat(loginPage))}"/>

                </c:if>
                <c:if test="#{!(appcore_Request.attributes['user-registration-key.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('messages.action.errors'))}"/>
                </c:if>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="changePasswordPannel" border="1" styleClass="center" style="width:500px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-registration.title')}</f:facet>
                <p:inputText type="hidden"
                             value="#{appcore_Request.attributes['key']}"/>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                rendered="true"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>