<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets">
<!-- initialization start -->
<c:set scope="request" var="pageId" value="users"/>
<c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('users.title')}"/>
<c:set scope="request" var="pageHelp" value="help.pdf"/>
<c:set scope="request" var="template" value="/resources/myset/templates/template.xhtml"/>
<!-- initialization end -->
<ui:include src="/resources/myset/administration/users/main.xhtml"/>
</html>