<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-cms-noauth.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="cms-test-newsletters"/>
        <c:set scope="request" var="pageTitle" value="CMS Test newsletters"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->


        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['command.execute'])}">
                <!-- Unsubscribe all -->
                <m:eval value="#{appcore_CMSProcessor.newslettersUnsubscribeAll(
                                        appcore_ApplicationSecurity.security.authenticated?appcore_ApplicationSecurity.security.user.userEmail:appcore_Request.attributes['subscriberEmail'],
                                        null,
                                        null,
                                        null)}"/>
                <!-- Subscribe selected -->
                <m:eval value="#{appcore_CMSProcessor.newslettersSubscribe(appcore_ApplicationSecurity.security.authenticated?appcore_ApplicationSecurity.security.user.userEmail:appcore_Request.attributes['subscriberEmail'],
                                        appcore_Request.attributes['selectedNewsletters'],
                                        appcore_Session.dictionary('messages.action.success'),
                                        null,
                                        appcore_Session.dictionary('messages.action.errors'))}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel header="Newsletters"
                     styleClass="center pt-2"
                     style="width:500px;">
                <p:selectManyCheckbox id="grid"
                                      value="#{appcore_Request.attributes['selectedNewsletters']}"
                                      layout="grid"
                                      columns="1">
                    <f:selectItems value="#{appcore_Utils.filter(appcore_CMSProcessor.newsletters(),'newsletterName','.*')}"
                                   var="row"
                                   itemValue="#{row.fields['newsletterId']}"
                                   itemLabel="#{row.fields['newsletterDesc']}"/>
                </p:selectManyCheckbox>
                <p:panelGrid layout="grid"
                             rendered="#{appcore_ApplicationSecurity.security.authenticated}"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="subscriberEmailAuth"
                                   value="Email"/>
                    <p:inputText id="subscriberEmailAuth"
                                 value="#{appcore_ApplicationSecurity.security.user.userEmail}"
                                 readonly="true"
                                 required="true"
                                 style="width:100%;" maxlength="200"/>
                </p:panelGrid>
                <p:panelGrid layout="grid"
                             rendered="#{!appcore_ApplicationSecurity.security.authenticated}"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="subscriberEmail"
                                   value="Email"/>
                    <p:inputText id="subscriberEmail"
                                 value="#{appcore_Request.attributes['subscriberEmail']}"
                                 binding="#{appcore_Request.attributes['subscriberEmailBinding']}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['subscriberEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['command.execute']}" value="true"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>

        </h:form>


    </ui:define>
</ui:composition>