<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/myset/templates/template-cms-noauth.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-page"/>
        <c:set scope="request" var="pageName" value="test-page"/>
        <c:set scope="request" var="pageTitle" value="CMS Test page"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- ============================================================ -->
        <!-- ============================================================ -->
        <!--                            Page                              -->
        <!-- ============================================================ -->
        <!-- ============================================================ -->
        <div class="pt-2"/>
        <c:if test="#{appcore_CMSProcessor.page(pageName).fields['pagePublic']=='1'}">
            <div class="flex">
                <!-- test-page fields -->
                <div class="fa fa-tree pt-1"
                     title="#{appcore_CMSProcessor.page(pageName).fields}"/>

                <!-- test-page views -->
                <mc:cms-views for="#{pageName.concat('.views')}"
                              icon="fa fa-eye"
                              style="padding-left:10px;"
                              title="#{appcore_CMSProcessor.stat(pageName.concat('.views')).fields}"/>

                <!-- test-page rates -->
                <mc:cms-rates for="#{pageName.concat('.rate')}"
                              icon="fa fa-star"
                              style="text-decoration:none;padding-left:10px;"
                              dialogPosition="center top"/>

                <!-- test-page rate -->
                <mc:cms-rate rendered="#{appcore_ApplicationSecurity.security.authenticated}"
                             for="#{pageName.concat('.rate')}"
                             icon="fa fa-star"
                             style="text-decoration:none;padding-left:10px;"
                             dialogPosition="center top"/>

                <!-- test-page comment -->
                <mc:cms-comment rendered="#{appcore_ApplicationSecurity.security.authenticated}"
                                for="#{pageName}"
                                public="0"
                                icon="fa fa-comment"
                                style="text-decoration:none;padding-left:10px;"
                                dialogPosition="center top"/>

            </div>

            <!-- ============================================================ -->
            <!--                            Body                              -->
            <!-- ============================================================ -->
            <!-- test-page body part fields -->
            <div class="flex justify-content-between">
                <div/>
                <div class="fa fa-leaf"
                     title="#{appcore_CMSProcessor.pagePart(pageName,pageName.concat('.body')).fields}"/>
            </div>
            <!-- test-page body part content -->
            <h:outputText rendered="#{appcore_CMSProcessor.pagePart(pageName,pageName.concat('.body')).fields['partPublic']=='1'}"
                          escape="false"
                          value="#{appcore_CMSProcessor.pagePart(pageName,pageName.concat('.body')).fields['partContent']}"/>


            <!-- test-page.body tags -->
            <h:form>
                <p:dataList value="#{appcore_CMSProcessor.pagePartTags(pageName,pageName.concat('.body'))}"
                            var="row"
                            itemType="none"
                            type="unordered"
                            styleClass="datalist-inline">
                    <p:commandLink title="#{row.fields}"
                                   style="text-decoration:none;padding-right:10px;">
                        <div class="fa fa-tag"/>
                        #{row.fields['tagName']}
                    </p:commandLink>
                </p:dataList>
            </h:form>

            <!-- test-page parts -->
            <h:form>
                <mc:dataTableSimple id="datatableEvents"
                                    pageId="#{pageId}"
                                    widgetVar="datatableEvents"
                                    value="#{appcore_Utils.filter(appcore_Utils.filter(appcore_CMSProcessor.pageParts(pageName),'partPublic','1'),'partName','.*\\.event.*')}"
                                    rowKey="#{row.hashCode()}"
                                    paginator="true"
                                    paginatorPosition="both"
                                    renderedResetState="true"
                                    renderedColumToggler="false"
                                    renderedExporter="false"
                                    styleClass="design">
                    <p:column filterBy="#{appcore_CMSProcessor.pagePart(pageName,row.fields['partName']).fields['partContent']}"
                              filterMatchMode="contains"
                              filterStyleClass="hidden"
                              style="padding:1px;margin:0px;">
                        <div class="flex justify-content-between">
                            <div/>
                            <div class="fa fa-leaf"
                                 title="#{row.fields}"/>
                        </div>
                        <h:outputText escape="false"
                                      value="#{appcore_CMSProcessor.pagePart(pageName,row.fields['partName']).fields['partContent']}"/>
                    </p:column>
                </mc:dataTableSimple>
            </h:form>

            <!-- ============================================================ -->
            <!--                             Comments                         -->
            <!-- ============================================================ -->
            <!-- test-page comments -->
            <mc:cms-comments pageId="#{pageId}"
                             for="#{pageName}"
                             styleClass="noborders messages"/>


            <!-- ============================================================ -->
            <!--                             Bottom                           -->
            <!-- ============================================================ -->
            <!-- common.bottom -->
            <c:set scope="request"
                   var="partCommonRight"
                   value="common.bottom"/>
            <div class="fa fa-leaf"
                 style="position: absolute;right: 2px;"
                 title="#{appcore_CMSProcessor.pagePart(pageName,partCommonRight).fields}"/>
            <h:outputText rendered="#{appcore_CMSProcessor.pagePart(pageName,partCommonRight).fields['partPublic']=='1'}"
                          escape="false"
                          value="#{appcore_CMSProcessor.pagePart(pageName,partCommonRight).fields['partContent']}"/>


        </c:if>
    </ui:define>
</ui:composition>