<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-cms.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-message"/>
        <c:set scope="request" var="pageTitle" value="Test message"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['compose.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('messageFrom')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageTo')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageSubject')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('messageContent')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['compose.send'])}">
                <m:eval value="#{appcore_CMSMessages.messageSend(appcore_ApplicationSecurity.security.user.userId,
                                                                     appcore_Request.attributes['messageTo'].fields['userId'],
                                                                     appcore_Request.attributes['messageSubject'],
                                                                     appcore_Request.attributes['messageContent'])}"/>
                <!-- Refresh messages -->
                <m:eval value="#{appcore_CMSMessages.refreshMessages(appcore_CMSMessages.label)}"/>

                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:600px;"
                     styleClass="center pt-2">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="messageFrom"
                                   value="#{appcore_Session.dictionary('from')}"/>
                    <p:selectOneMenu id="messageFrom"
                                     disabled="true"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Utils.find(appcore_Application.attributes['users'],'userId',appcore_ApplicationSecurity.security.user.userId)}"
                                     required="true"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userFullName']}"
                                       itemLabelEscaped="true"/>
                        <p:column>
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                    <p:outputLabel for="messageTo"
                                   value="#{appcore_Session.dictionary('message.to')}"/>
                    <p:selectOneMenu id="messageTo"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Request.attributes['messageTo']}"
                                     required="true"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userName']}"
                                       itemLabelEscaped="true"/>
                        <p:column style="min-width:50px;">
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column style="white-space: nowrap;">
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column style="white-space: nowrap;">
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column style="   white-space: nowrap;">
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                    <p:outputLabel for="messageSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="messageSubject"
                                 value="#{appcore_Request.attributes['messageSubject']}"
                                 required="true"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="messageContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="messageContent"
                                     value="#{appcore_Request.attributes['messageContent']}"
                                     required="true"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('send')}"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['compose.send']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['compose.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>


        </h:form>


    </ui:define>

</ui:composition>