<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                template="/resources/welcome/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="welcome"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('welcome.title')}"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="aboutPannel"
                     style="min-width:650px;">
                <div class="flex justify-content-center p-4"
                     style="font-size:24px;">
                    <h:outputText value="#{appcore_Session.dictionary('welcome.content')}"/>
                    <span class="pi pi-check-circle p-2" style="color: green;"/>
                </div>
                <div class="flex justify-content-center">
                    <p:selectOneMenu value="#{appcore_Session.theme}"
                                     title="#{appcore_Session.dictionary('theme')}"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.themes}" var="row" itemValue="#{row.fields['id']}" itemLabel="#{row.valueString}"/>
                        <p:ajax event="valueChange"
                                listener="#{appcore_Session.themeSwitcherListener}"
                                onsuccess="document.location.href = document.location.href;"/>
                    </p:selectOneMenu>
                    <p:selectOneMenu value="#{appcore_Session.locale}"
                                     title="#{appcore_Session.dictionary('locale')}"
                                     style="margin-left:4px;"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.locales}"
                                       var="row"
                                       itemValue="#{row.fields['id']}"
                                       itemLabel="#{row.valueString}"/>
                        <p:ajax listener="#{appcore_Session.refresh()}"/>
                        <p:ajax event="change" update="@form headerForm"/>
                    </p:selectOneMenu>
                    <p:selectOneMenu value="#{appcore_Session.timezone}"
                                     title="#{appcore_Session.dictionary('timezone')}"
                                     style="text-align:left;margin-left:4px;"
                                     effect="fade">
                        <f:selectItems value="#{appcore_Session.timezones}"
                                       var="row"
                                       itemValue="#{row.fields['id']}"
                                       itemLabel="#{row.valueString}"/>
                        <p:ajax listener="#{appcore_Session.refresh()}"/>
                        <p:ajax event="change" update="@form headerForm"/>
                    </p:selectOneMenu>
                    <p:commandButton icon="fa fa-rotate-right"
                                     style="margin-left:4px;"
                                     ajax="false"
                                     title="#{appcore_Session.dictionary('reload')}"
                                     onclick="document.location.href = document.location.href;"/>
                </div>
                <p:divider styleClass="p-0"/>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right, ui-grid-col-8">
                    <h:outputText style="font-weight:bold;" value="Operating System: "/>
                    <h:outputText value="#{appcore_Utils.systemProperties['os.name']} #{appcore_Utils.systemProperties['os.version']} (#{appcore_Utils.systemProperties['os.arch']})"/>
                    <h:outputText style="font-weight:bold;" value="Java SDK: "/>
                    <h:outputText value="#{appcore_Utils.systemProperties['java.vm.name']} #{appcore_Utils.systemProperties['java.version']} #{appcore_Utils.systemProperties['java.vendor']}"/>
                    <h:outputText style="font-weight:bold;" value="Spring: "/>
                    <h:outputText value="#{appcore_Utils.classForName('org.springframework.core.Constants').getPackage().getImplementationVersion()}"/>
                    <h:outputText style="font-weight:bold;" value="Apache Ignite: "/>
                    <h:outputText value="#{appcore_Application.grid.version()}"/>
                    <h:outputText style="font-weight:bold;" value="Java Servlet: "/>
                    <h:outputText value="#{appcore_Utils.classForName('javax.servlet.Servlet').getPackage().getImplementationVersion()}"/>
                    <h:outputText style="font-weight:bold;" value="Java Expression Language: "/>
                    <h:outputText value="#{appcore_Utils.newInstance('com.sun.el.ExpressionFactoryImpl').class.getPackage().getImplementationVersion()}"/>
                    <h:outputText style="font-weight:bold;" value="Java Server Faces: "/>
                    <h:outputText value="#{appcore_Utils.classForName('javax.faces.FacesWrapper').getPackage().getImplementationVersion()}"/>
                    <h:outputText style="font-weight:bold;" value="Primefaces: "/>
                    <h:outputText value="#{appcore_Utils.classForName('org.primefaces.util.Constants').getPackage().getImplementationVersion()}"/>
                    <h:outputText style="font-weight:bold;" value="Primefaces Extensions: "/>
                    <h:outputText value="#{appcore_Utils.classForName('org.primefaces.extensions.util.Constants').getPackage().getImplementationVersion()}"/>
                </p:panelGrid>
                <p:divider styleClass="p-0"/>
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-6, ui-grid-col-6 text-right">
                    <p:link target="_blank"
                            href="https://gitlab.com/mysetsolutions">
                        Open Source - GitLab <p style="font-size:16px;" class="fab fa-gitlab"/>
                    </p:link>
                    <h:outputText escape="false"
                                  value="#{appcore_DateUtils.currentDate}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           type="both"/>
                    </h:outputText>
                </p:panelGrid>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>