<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--             DELETE                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteDialog"
              dynamic="true"
              widgetVar="deleteDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('delete')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="deleteDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="deleteDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['delete.init'] or appcore_Request.attributes['delete.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('calendarTypeId',appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarTypeId'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('calendarDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('pageId',appcore_Session.attributes[pageId]['datatable.selection'].fields['pageId'])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['delete.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_calendars.sql04.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_calendars.sql04.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_calendars.sql04"
                                        sql="#{appcore_Application.database('cms_calendars.sql04')}"
                                        params="#{appcore_Request.attributes['cms_calendars.sql04.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_calendars.sql04']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_calendars.sql04'].errors}">
                    <!-- remove calendar from cache -->
                    <m:eval value="#{appcore_CMSProcessor.removeCalendar(appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarTypeId'])}"/>

                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>

                </c:if>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteDialogWidget\').hide()')}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="calendarType"
                                   value="#{appcore_Session.dictionary('cms.calendars.calendar')}"/>
                    <p:selectOneMenu id="calendarType"
                                     disabled="true"
                                     style="max-width:100%;"
                                     required="true"
                                     value="#{appcore_Request.attributes['calendarTypeId']}">
                        <f:selectItem itemLabel="#{appcore_Session.dictionary('select.value')}" itemValue="#{null}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.cms_calendars_types']}"
                                       var="row"
                                       itemValue="#{row.fields['id']}"
                                       itemLabel="#{row.fields['name']}"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="calendarDate"
                                   value="#{appcore_Session.dictionary('date')}"/>
                    <p:calendar id="calendarDate"
                                readonly="true"
                                required="true"
                                value="#{appcore_Request.attributes['calendarDate']}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.date')}"
                                showOn="both"
                                readonlyInput="false"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="pageId"
                                   value="#{appcore_Session.dictionary('cms.pages.page')}"/>
                    <p:selectOneMenu id="pageId"
                                     disabled="true"
                                     required="true"
                                     value="#{appcore_Request.attributes['pageId']}"
                                     style="max-width:100%;"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemLabel="#{appcore_Session.dictionary('select.value')}" itemValue="#{null}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.cms_pages']}"
                                       var="row"
                                       itemValue="#{row.fields['id']}"
                                       itemLabel="#{row.fields['name']}"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('delete')}"
                                         icon="fa fa-check"
                                         update="@form :actionsMenuForm :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('exit')}"
                                         type="button"
                                         icon="fa fa-rotate-right"
                                         styleClass="ui-confirmdialog-no"
                                         onclick="PF('deleteDialogWidget').hide()"/>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>