<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              FILTER               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="filterDialog"
              widgetVar="filterDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="650"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('filter')}"
              focus="@none">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- reset -->
            <c:if test="#{(appcore_Request.attributes['filter.reset'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable')}"/>

                <!-- reset fields -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('calendarName')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('calendarDateFrom')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].put('calendarDateFrom',
                                 appcore_DateUtils.getDate(appcore_DateUtils.currentDate.year+1900,
                                                           appcore_DateUtils.currentDate.month+1,
                                                           appcore_DateUtils.currentDate.date))}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('calendarDateTo')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('pageName')}"/>
            </c:if>

            <!-- filter -->
            <c:if test="#{(appcore_Request.attributes['filter.execute'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>

                <m:eval value="#{appcore_Request.attributes.put('cms_calendars.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_calendars.sql01.params'].add(appcore_Session.attributes[pageId]['calendarName'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_calendars.sql01.params'].add(appcore_Session.attributes[pageId]['calendarDateFrom'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_calendars.sql01.params'].add(appcore_Session.attributes[pageId]['calendarDateTo'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_calendars.sql01.params'].add(appcore_Session.attributes[pageId]['pageName'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_calendars.sql01"
                                        sql="#{appcore_Application.database('cms_calendars.sql01')}"
                                        params="#{appcore_Request.attributes['cms_calendars.sql01.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_calendars.sql01']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="datatable"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="calendarName"
                                   value="#{appcore_Session.dictionary('cms.calendars.calendar')}"/>
                    <p:inputText id="calendarName"
                                 value="#{appcore_Session.attributes[pageId]['calendarName']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-6,ui-grid-col-6">
                        <p:outputLabel for="calendarDateFrom"
                                       value="#{appcore_Session.dictionary('from')}"/>
                        <p:outputLabel for="calendarDateTo"
                                       value="#{appcore_Session.dictionary('to')}"/>
                        <p:calendar id="calendarDateFrom"
                                    required="true"
                                    value="#{appcore_Session.attributes[pageId]['calendarDateFrom']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.date')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.date')}"
                                               type="date"/>
                        </p:calendar>
                        <p:calendar id="calendarDateTo"
                                    required="false"
                                    value="#{appcore_Session.attributes[pageId]['calendarDateTo']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.date')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.date')}"
                                               type="date"/>
                        </p:calendar>
                    </p:panelGrid>
                    <p:outputLabel for="pageName"
                                   value="#{appcore_Session.dictionary('cms.pages.page')}"/>
                    <p:inputText id="pageName"
                                 value="#{appcore_Session.attributes[pageId]['pageName']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('filter')}"
                                         icon="fa fa-filter"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>