<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Check -->
            <c:if test="#{!('simple'.equals(appcore_Application.property('security.login.type')) or
                              'ldap'.equals(appcore_Application.property('security.login.type')))}">
                <m:eval value="#{facesContext.externalContext.responseSendError(403,null)}"/>
            </c:if>


            <c:if test="#{(appcore_Request.attributes['action.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userPassword')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userPasswordConfirm')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userFirstName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userGivenName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userLastName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userBirthDate')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userAddress')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userEmail')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userOrganization')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userOrganizationUnit')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userDescription')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userPhone')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userMobile')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('user-registration.userWorkPhone')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <mc:log message="#{appcore_Request.attributes['user-registration.userName']},#{appcore_Request.attributes['user-registration.userEmail']}"/>
                <m:eval value="#{appcore_Request.attributes.put('security.user-registration.continue',true)}"/>

                <!-- check user or email exists -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql09.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql09.params'].add(appcore_Request.attributes['user-registration.userName'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql09.params'].add(appcore_Request.attributes['user-registration.userEmail'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql09"
                                     sql="#{appcore_Application.database('security.sql09')}"
                                     params="#{appcore_Request.attributes['security.sql09.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql09']}"
                                   store="#{appcore_Request.attributes}"
                                   key="user-registration.userGenericBeans"/>

                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['user-registration.userGenericBeans'])}"/>

                <!-- user exists -->
                <c:if test="#{(appcore_Request.attributes['user-registration.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('user-registration.user.exists'))}"/>
                    <m:eval value="#{appcore_Request.attributes.put('security.user-registration.continue',false)}"/>
                </c:if>


                <!-- ldap check -->
                <c:if test="#{appcore_Request.attributes['security.user-registration.continue'] and
                               'ldap'.equals(appcore_Application.property('security.login.type'))}">
                    <m:eval value="#{appcore_Request.attributes.put('security.user.ldap,check',appcore_ApplicationSecurityLdap.check(appcore_Request.attributes['user-registration.userName'],appcore_Request.attributes['user-registration.userPassword']))}"/>
                    <m:eval rendered="#{!appcore_Request.attributes['security.user.ldap,check']}"
                            value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('login.message.01'))}"/>
                    <m:eval rendered="#{!appcore_Request.attributes['security.user.ldap,check']}"
                            value="#{appcore_Request.attributes.put('security.user-registration.continue',false)}"/>
                </c:if>


                <c:if test="#{appcore_Request.attributes['security.user-registration.continue']}">
                    <!-- get userId from sequence -->
                    <m:eval value="#{appcore_Request.attributes.put('common.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['common.sql01.params'].add('seq_users')}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="common.sql01"
                                         sql="#{appcore_Application.database('common.sql01')}"
                                         params="#{appcore_Request.attributes['common.sql01.params']}"/>
                    <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                       command="#{appcore_Request.attributes['common.sql01']}"
                                       store="#{appcore_Request.attributes}"
                                       key="seq_users"/>

                    <m:eval rendered="true" value="#{appcore_Logger.logger.debug(appcore_Request.attributes['seq_users'][0])}"/>

                    <!-- transaction commands -->
                    <m:eval value="#{appcore_Request.attributes.put('user-registration.commands',appcore_Utils.newInstance('java.util.ArrayList'))}"/>

                    <!-- insert user -->
                    <m:eval value="#{appcore_Request.attributes.put('security.sql10.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['seq_users'][0].fields['value'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_Request.attributes['user-registration.userPassword']))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userFirstName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userGivenName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userLastName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userBirthDate'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userAddress'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userEmail'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userOrganization'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userOrganizationUnit'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userDescription'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userMobile'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Request.attributes['user-registration.userWorkPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql10.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').generate())}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="security.sql10"
                                         sql="#{appcore_Application.database('security.sql10')}"
                                         params="#{appcore_Request.attributes['security.sql10.params']}"/>
                    <m:eval value="#{appcore_Request.attributes['user-registration.commands'].add(appcore_Request.attributes['security.sql10'])}"/>

                    <!-- add user app_users role -->
                    <m:eval value="#{appcore_Request.attributes.put('users.sql10.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql10.params'].add(2)}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql10.params'].add(appcore_Request.attributes['seq_users'][0].fields['value'])}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="users.sql10"
                                         sql="#{appcore_Application.database('users.sql10')}"
                                         params="#{appcore_Request.attributes['users.sql10.params']}"/>
                    <m:eval value="#{appcore_Request.attributes['user-registration.commands'].add(appcore_Request.attributes['users.sql10'])}"/>

                    <!-- transaction -->
                    <mc:database-transaction rendered="true"
                                             databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                             commands="#{appcore_Request.attributes['user-registration.commands']}"
                                             infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                             errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                    <c:if test="#{!appcore_Request.attributes['security.sql10'].errors}">
                        <!-- send email notification -->
                        <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['user-registration.userName'])}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(request.remoteAddr)}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['security.sql10.params'][15])}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Application.property('application.context'))}"/>

                        <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                                 from="#{appcore_Application.property('notifications.mail.default')}"
                                 bcc="#{appcore_Request.attributes['user-registration.userEmail']}"
                                 subject="#{appcore_Session.dictionary('user-registration.notification.subject')}"
                                 content="#{appcore_Session.dictionary('user-registration.notification.content',appcore_Request.attributes['notification.params'])}"
                                 warnMessage="#{appcore_Session.dictionary('messages.notification.email')}"/>
                    </c:if>

                </c:if>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="userPreferencesPannel" border="1" styleClass="center" style="width:600px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-registration.title')}</f:facet>
                <!-- standard fields -->
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 value="#{appcore_Request.attributes['user-registration.userName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userPassword"
                                   value="#{appcore_Session.dictionary('user.userPassword')}"/>
                    <p:password id="userPassword"
                                binding="#{appcore_Request.attributes['user-registration.userPasswordBinding']}"
                                value="#{appcore_Request.attributes['user-registration.userPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                    </p:password>
                    <p:outputLabel for="userPasswordConfirm"
                                   value="#{appcore_Session.dictionary('user.userPasswordConfirm')}"/>
                    <p:password id="userPasswordConfirm"
                                binding="#{appcore_Request.attributes['user-registration.userPasswordConfirmBinding']}"
                                value="#{appcore_Request.attributes['user-registration.userPasswordConfirm']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['user-registration.userPasswordConfirmBinding'].submittedValue == appcore_Request.attributes['user-registration.userPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:password>

                    <p:outputLabel for="userFirstName"
                                   value="#{appcore_Session.dictionary('user.userFirstName')}"/>
                    <p:inputText id="userFirstName"
                                 value="#{appcore_Request.attributes['user-registration.userFirstName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userGivenName"
                                   value="#{appcore_Session.dictionary('user.userGivenName')}"/>
                    <p:inputText id="userGivenName"
                                 value="#{appcore_Request.attributes['user-registration.userGivenName']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userLastName"
                                   value="#{appcore_Session.dictionary('user.userLastName')}"/>
                    <p:inputText id="userLastName"
                                 value="#{appcore_Request.attributes['user-registration.userLastName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userBirthDate"
                                   value="#{appcore_Session.dictionary('user.userBirthDate')}"/>
                    <p:calendar id="userBirthDate"
                                required="true"
                                showOn="button"
                                value="#{appcore_Request.attributes['user-registration.userBirthDate']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="userAddress"
                                   value="#{appcore_Session.dictionary('user.userAddress')}"/>
                    <p:inputTextarea id="userAddress"
                                     value="#{appcore_Request.attributes['user-registration.userAddress']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 binding="#{appcore_Request.attributes['user-registration.userEmailBinding']}"
                                 value="#{appcore_Request.attributes['user-registration.userEmail']}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['user-registration.userEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel for="userOrganization"
                                   value="#{appcore_Session.dictionary('user.userOrganization')}"/>
                    <p:inputText id="userOrganization"
                                 value="#{appcore_Request.attributes['user-registration.userOrganization']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userOrganizationUnit"
                                   value="#{appcore_Session.dictionary('user.userOrganizationUnit')}"/>
                    <p:inputText id="userOrganizationUnit"
                                 value="#{appcore_Request.attributes['user-registration.userOrganizationUnit']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDescription"
                                   value="#{appcore_Session.dictionary('user.userDescription')}"/>
                    <p:inputTextarea id="userDescription"
                                     value="#{appcore_Request.attributes['user-registration.userDescription']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userPhone"
                                   value="#{appcore_Session.dictionary('user.userPhone')}"/>
                    <p:inputText id="userPhone"
                                 value="#{appcore_Request.attributes['user-registration.userPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userMobile"
                                   value="#{appcore_Session.dictionary('user.userMobile')}"/>
                    <p:inputText id="userMobile"
                                 value="#{appcore_Request.attributes['user-registration.userMobile']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userWorkPhone"
                                   value="#{appcore_Session.dictionary('user.userWorkPhone')}"/>
                    <p:inputText id="userWorkPhone"
                                 value="#{appcore_Request.attributes['user-registration.userWorkPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   rendered="true"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                rendered="true"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>