<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-dialog"/>
        <c:set scope="request" var="pageTitle" value="Test dialog"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- =================================== -->
        <!--             Test dialog              -->
        <!-- =================================== -->
        <p:panel id="panelForm" styleClass="center pt-2" style="width:200px;">
            <f:facet name="header">#{pageTitle}</f:facet>
            <h:form>
                <p:panelGrid layout="grid"
                             columns="1"
                             columnClasses="ui-grid-col-12 text-center">
                    <p:commandButton value="Test"
                                     oncomplete="PF('testDialogWidget').show()"
                                     update="@form"/>
                </p:panelGrid>
            </h:form>
        </p:panel>

        <p:dialog id="testDialog"
                  widgetVar="testDialogWidget"
                  dynamic="true"
                  appendTo="@(body)"
                  modal="false"
                  width="800"
                  position="center top"
                  maximizable="true"
                  closable="true"
                  closeOnEscape="true"
                  header="Test dialog"
                  showEffect="fold"
                  hideEffect="fade">
            <h:form>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum eget ipsum nec lorem iaculis vulputate ac at arcu. Nunc nibh felis, iaculis vel cursus at, sagittis dapibus est. Donec sem risus, tempus quis consectetur sed, posuere non metus. Aenean quis mauris pharetra, rutrum orci id, aliquam est. Aenean facilisis convallis lorem. Curabitur lacinia, turpis quis feugiat tristique, erat risus aliquam felis, ac vehicula justo augue et justo. Maecenas eu suscipit velit. Duis ac lacus sed mauris tincidunt vestibulum vitae quis nibh. Maecenas sodales elementum nulla a cursus. Sed tincidunt erat porttitor metus bibendum pharetra. Maecenas semper dui elit, non scelerisque nulla egestas eget. Aliquam et enim vitae massa dapibus porta.
                Phasellus hendrerit vitae magna et ultricies. Mauris lacus dui, lobortis imperdiet nibh at, fermentum cursus odio. Nam pretium dictum enim, non accumsan quam vulputate nec. Phasellus eget venenatis metus. Curabitur imperdiet gravida purus. Duis massa ligula, efficitur id pellentesque eget, congue non odio. Morbi a hendrerit metus. Praesent iaculis tempor lorem id ultrices. Nulla tempus a sem in aliquet. Vivamus et arcu sodales, vehicula tortor sit amet, malesuada nisl. Maecenas quis eros hendrerit, placerat ligula non, consectetur turpis. Sed suscipit rutrum imperdiet.
                Nullam faucibus enim neque, quis fermentum metus mollis vel. Quisque a eros efficitur, facilisis ligula non, sodales tellus. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse congue ligula eu sapien placerat, in finibus arcu vestibulum. Proin rutrum odio vitae lorem lacinia egestas. Quisque nec libero condimentum, imperdiet dolor a, sagittis sem. Curabitur tincidunt sapien ac massa euismod, ut ornare est porta. Pellentesque pulvinar fermentum quam id tincidunt. Vestibulum non lacus et risus lacinia lobortis. Duis faucibus dolor sit amet velit eleifend posuere. In hac habitasse platea dictumst. Aenean massa erat, ultricies ac leo id, varius lacinia sapien.
                Mauris scelerisque metus eget nunc sodales suscipit. Integer convallis metus varius, commodo tellus vel, eleifend lacus. Ut quam ante, sagittis in tempor eget, feugiat eu urna. Cras feugiat ligula et interdum pharetra. Morbi tincidunt scelerisque imperdiet. Maecenas quis ex ut ex bibendum viverra. In hac habitasse platea dictumst. Sed vestibulum velit a ante bibendum, id aliquet metus bibendum. Nam justo eros, vehicula vitae tempus vel, dictum quis odio. Vivamus pretium in lectus at hendrerit. Etiam luctus turpis eu sodales lobortis. Cras metus est, aliquam eu nunc ac, cursus egestas risus.
            </h:form>
        </p:dialog>


    </ui:define>
</ui:composition>