<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-filemanager-custom"/>
        <c:set scope="request" var="pageTitle" value="Test filemanager-custom"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <!-- =================================== -->
        <!--             Initialize              -->
        <!-- =================================== -->
        <c:if test="#{(request.getParameter('init'))}">
            <m:eval value="#{appcore_FileManagerCustom.reset()}"/>
            <m:eval value="#{appcore_FileManagerCustom.setRootFolder(appcore_FileUtils.directory(facesContext.externalContext.getRealPath('/resources/myset/tests/test-multimedia/imgs')))}"/>
            <m:eval value="#{appcore_FileManagerCustom.initialize()}"/>
        </c:if> <p:panel id="panelForm" styleClass="center pt-2" style="width:800px;">
        <f:facet name="header">#{pageTitle}</f:facet>

        <!-- =================================== -->
        <!--                 Menu                -->
        <!-- =================================== -->
        <h:form id="actionsMenuForm">
            <p:menubar id="actionsMenu" autoDisplay="false" position="fixed">
                <p:menuitem icon="fa fa-arrow-up"
                            title="#{appcore_Session.dictionary('up')}"
                            disabled="#{appcore_FileManagerCustom.upDisabled}"
                            action="#{appcore_FileManagerCustom.up()}"
                            update="@form folderContentForm"/>
                <p:menuitem icon="fa fa-rotate-right"
                            title="#{appcore_Session.dictionary('refresh')}"
                            value="#{appcore_FileManagerCustom.currentFolder.canonicalPath.replace(appcore_FileManagerCustom.rootFolder.canonicalPath,'')}"
                            action="#{appcore_FileManagerCustom.refreshFolderContent()}"
                            update="@form folderContentForm"/>
                <p:menuitem icon="fa fa-ellipsis-v"
                            disabled="true"/>
                <p:submenu label="#{appcore_Session.dictionary('new')}"
                           icon="fa fa-plus">
                    <p:menuitem icon="fa fa-file-o"
                                value="#{appcore_Session.dictionary('file')}"
                                oncomplete="PF('newFileDialogWidget').show()"/>
                    <p:menuitem icon="fa fa-folder"
                                value="#{appcore_Session.dictionary('folder')}"
                                oncomplete="PF('newFolderDialogWidget').show()"/>
                </p:submenu>
                <p:menuitem rendered="#{appcore_FileManagerCustom.singleSelected}"
                            icon="fa fa-edit"
                            value="#{appcore_Session.dictionary('rename')}"
                            oncomplete="PF('renameDialogWidget').show()"
                            update="@form :renameDialog">
                    <f:setPropertyActionListener target="#{appcore_Request.attributes['rename.init']}" value="true"/>
                </p:menuitem>
                <p:menuitem icon="fa fa-upload"
                            value="#{appcore_Session.dictionary('upload')}"
                            oncomplete="PF('uploadDialogWidget').show()"/>
                <p:menuitem rendered="#{appcore_FileManagerCustom.singleSelectedFile}"
                            icon="fa fa-download"
                            value="#{appcore_Session.dictionary('download')}">
                    <p:fileDownload value="#{appcore_FileManagerCustom.download(appcore_FileManagerCustom.selectedFile)}"/>
                </p:menuitem>
                <p:menuitem rendered="#{!appcore_FileManagerCustom.nothingSelected}"
                            icon="fa fa-trash"
                            value="#{appcore_Session.dictionary('delete')}"
                            oncomplete="PF('deleteDialogWidget').show()"/>
            </p:menubar>
        </h:form>

        <!-- =================================== -->
        <!--            Standard actions         -->
        <!-- =================================== -->
        <ui:include src="/resources/myset/administration/filemanager-custom/new-file.xhtml"/>
        <ui:include src="/resources/myset/administration/filemanager-custom/new-folder.xhtml"/>
        <ui:include src="/resources/myset/administration/filemanager-custom/rename.xhtml"/>
        <ui:include src="/resources/myset/administration/filemanager-custom/upload.xhtml"/>
        <ui:include src="/resources/myset/administration/filemanager-custom/delete.xhtml"/>
        <!-- =================================== -->
        <!--            Custom action            -->
        <!-- =================================== -->

        <!-- =================================== -->
        <!--           Folder content            -->
        <!-- =================================== -->
        <h:form id="folderContentForm">
            <p:dataTable id="dataTable"
                         widgetVar="dataTableWidget"
                         value="#{appcore_FileManagerCustom.currentFolderContent}"
                         selection="#{appcore_FileManagerCustom.selectedFiles}"
                         emptyMessage="#{appcore_Session.dictionary('datatable.empty.message')}"
                         rowSelectMode="add"
                         var="row"
                         resizableColumns="true"
                         draggableColumns="true"
                         scrollable="true"
                         paginator="false"
                         rowStatePreserved="true"
                         rowKey="#{row.hashCode()}"
                         sortMode="single"
                         allowUnsorting="true"
                         multiViewState="true"
                         filteredValue="#{appcore_Session.attributes[pageId]['dataTable.filteredValue']}"
                         globalFilter="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}">
                <p:ajax event="toggleSelect"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.toggleSelect}"/>
                <p:ajax event="rowSelectCheckbox"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.contentNodeSelect}"/>
                <p:ajax event="rowUnselectCheckbox"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.contentNodeUnselect}"/>
                <p:ajax event="rowSelect"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.contentNodeSelect}"/>
                <p:ajax event="rowUnselect"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.contentNodeUnselect}"/>
                <p:ajax event="rowDblselect"
                        update="@form actionsMenuForm :deleteDialog"
                        listener="#{appcore_FileManagerCustom.contentNodeDbSelect}"/>
                <f:facet name="header">
                    <p:inputText id="globalFilter"
                                 value="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}"
                                 onchange="PF('dataTableWidget').filter()"
                                 styleClass="datatable-filter"/>
                    <p:watermark for="globalFilter"
                                 value="#{appcore_Session.dictionary('search')}"/>
                    <p:commandButton icon="fa fa-search"
                                     title="#{appcore_Session.dictionary('search')}"
                                     ajax="true"
                                     onclick="PF('dataTableWidget').filter()"/>
                    <p:commandButton icon="fa fa-eraser"
                                     title="#{appcore_Session.dictionary('reset')}"
                                     ajax="false"
                                     actionListener="#{appcore_PrimeFacesUtils.current.multiViewState().clearAll(facesContext.viewRoot.viewId,true)}">
                        <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}" value=""/>
                        <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['dataTable.filteredValue']}" value=""/>
                    </p:commandButton>
                </f:facet>
                <p:column selectionMode="multiple" style="width:20px;text-align:center"/>
                <p:column sortBy="#{row.name}"
                          filterBy="#{row.name}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden">
                    <f:facet name="header">#{appcore_Session.dictionary('name')}</f:facet>
                    <h:outputText rendered="#{row.file}" styleClass="fa fa-file-o"/>
                    <h:outputText rendered="#{row.directory}" styleClass="fa fa-folder"/>
                    <h:outputText value="#{row.name}" style="margin-left:4px;"/>
                </p:column>
                <p:column sortBy="#{row.directory}"
                          filterBy="#{row.directory}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:80px;">
                    <f:facet name="header">#{appcore_Session.dictionary('type')}</f:facet>
                    <h:outputText rendered="#{row.file}" value="#{appcore_Session.dictionary('file')}"/>
                    <h:outputText rendered="#{row.directory}" value="#{appcore_Session.dictionary('folder')}"/>
                </p:column>
                <p:column sortBy="#{row.lastModified()}"
                          filterBy="#{row.lastModified()}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:140px;text-align:center;white-space: nowrap;">
                    <f:facet name="header">#{appcore_Session.dictionary('date')}</f:facet>
                    <h:outputText value="#{row.lastModified()}">
                        <f:convertDateTime type="both"
                                           locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"/>
                    </h:outputText>
                </p:column>
                <p:column sortBy="#{row.length()}"
                          filterBy="#{row.length()}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:100px;text-align:right;">
                    <f:facet name="header">#{appcore_Session.dictionary('size')}</f:facet>
                    <h:outputText rendered="#{appcore_FileManagerCustom.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))>=0}"
                                  value="#{appcore_FileManagerCustom.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))}">
                        <f:convertNumber locale="#{appcore_Session.locale}"
                                         maxFractionDigits="2"/>
                    </h:outputText>
                    <h:outputText rendered="#{appcore_FileManagerCustom.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))>=0}"
                                  value="#{appcore_FileManagerCustom.fileSizeUnit(row,appcore_Application.property('filemanager.size.multiplier'),appcore_Session.dictionary('file-manager.size.short'))}"
                            style="padding-left:2px;"/>
                </p:column>
            </p:dataTable>
        </h:form>
    </p:panel>
    </ui:define>
</ui:composition>