<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-el"/>
        <c:set scope="request" var="pageTitle" value="Test EL (Expression Language)"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- =================================== -->
        <!--             Test EL                 -->
        <!-- =================================== -->
        <h:form>
            <h2>Expression language</h2>
            <h:outputText value="{facesContext.application.expressionFactory} : #{facesContext.application.expressionFactory}"/>
            <br/>
            <h:outputText value="{facesContext.application.expressionFactory.class.package.implementationVersion} : #{facesContext.application.expressionFactory.class.package.implementationVersion}"/>
            <br/>
            <h:outputText value="{facesContext.ELContext}: #{facesContext.ELContext}"/>
            <br/>
            <h:outputText value="{facesContext.ELContext.importHandler}: #{facesContext.ELContext.importHandler}"/>
            <br/><br/>

            <h2>Standard expressions</h2>
            <h:outputText value="{3+4} : #{3+4}"/>
            <br/><h:outputText value="\#{a=1;b=4;v=a+b;v} : #{a=1;b=4;v=a+b;v}"/>
            <br/><h:outputText value="List - \#{[1,2,3]} : #{[1,2,3]}"/>
            <br/><h:outputText value="Set - \#{{1,2,3}} : #{{1,2,3}}"/>
            <br/><h:outputText value="Map - \#{{'one':1,'two':2,'three':3}} : #{{'one':1,'two':2,'three':3}}"/>
            <br/><br/>

            <h2>Lambda expressions</h2>
            <h:outputText value="v = (x) -> 100*x; v(5) : #{v= (x) -> 100*x; v(5)}"/>
            <br/><h:outputText value="((x, y) -> x + y)(3, 7) : #{((x, y) -> x + y)(3, 7)}"/>
            <br/><h:outputText value="v = (x, y) -> x + y; v(3, 7) : #{v = (x, y) -> x + y; v(3, 7)}"/>
            <br/><br/>

            <h2>Stream expressions</h2>
            <h:outputText value="\#{[1,3,5,2].stream().sorted().toList()} : #{[1,3,5,2].stream().sorted().toList()}"/>
            <br/><h:outputText value="\#{[1,3,5,2].stream().min().get()} : #{[1,3,5,2].stream().min().get()}"/>
            <br/><h:outputText value="\#{[1,3,5,2].stream().max().get()} : #{[1,3,5,2].stream().max().get()}"/>
            <br/><h:outputText value="\#{[1,3,5,2].stream().sum()} : #{[1,3,5,2].stream().sum()}"/>
            <br/><h:outputText value="\#{[1,3,5,2].stream().average().get()} : #{[1,3,5,2].stream().average().get()}"/>
            <br/><h:outputText value="\#{[1,3,5,2].stream().toList()} : #{[1,3,5,2].stream().toList()}"/>
            <br/><br/>

            <h2>Other</h2>
            <p:importConstants type="ro.myset.utils.common.Constants" var="Constants"/>
            <h:outputText value="\#{Constants} : #{Constants}"/>
            <br/>

        </h:form>
    </ui:define>
</ui:composition>