<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-exceptions"/>
        <c:set scope="request" var="pageTitle" value="Test exceptions"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <p:panel header="AJAX" styleClass="center block" style="width:650px;">
                <p:panelGrid columns="3"
                             layout="grid"
                             columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
                             style="text-align: center;">
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwNullPointerException}"
                                     ajax="true"
                                     value="Throw NullPointerException"/>
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwWrappedIllegalStateException}"
                                     ajax="true"
                                     value="Throw IllegalStateException"/>
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwViewExpiredException}"
                                     ajax="true"
                                     value="Throw ViewExpiredException"/>
                </p:panelGrid>
            </p:panel>
            <p:panel header="NON-AJAX" styleClass="center" style="width:650px;">
                <p:panelGrid columns="3"
                             layout="grid"
                             columnClasses="ui-grid-col-4,ui-grid-col-4,ui-grid-col-4"
                             style="text-align: center;">
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwNullPointerException}"
                                     ajax="false"
                                     value="Throw NullPointerException"/>
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwWrappedIllegalStateException}"
                                     ajax="false"
                                     value="Throw IllegalStateException"/>
                    <p:commandButton actionListener="#{appcore_ExceptionHandlerTest.throwViewExpiredException}"
                                     ajax="false"
                                     value="Throw ViewExpiredException"/>
                </p:panelGrid>
            </p:panel>

        </h:form>
    </ui:define>
</ui:composition>