<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites" xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-math"/>
        <c:set scope="request" var="pageTitle" value="Test math"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- =================================== -->
        <!--             Test math               -->
        <!-- =================================== -->
        <h:form>
            <m:eval value="#{appcore_Request.attributes.put('n1',appcore_MathUtils.number('12345678901234567890.123456789012345678901234567890123456789'))}"/>
            <m:eval value="#{appcore_Request.attributes.put('n2',appcore_MathUtils.number('123456789.123456789'))}"/>

            <h2>Rounding modes</h2>
            <h:outputText value="UNNECESSARY: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('UNNECESSARY'))}"/>
            <br/><h:outputText value="UP: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('UP'))}"/>
            <br/><h:outputText value="DOWN: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('DOWN'))}"/>
            <br/><h:outputText value="FLOOR: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('FLOOR'))}"/>
            <br/><h:outputText value="CEILING: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('CEILING'))}"/>
            <br/><h:outputText value="HALF_UP: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('HALF_UP'))}"/>
            <br/><h:outputText value="HALF_DOWN: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('HALF_DOWN'))}"/>
            <br/><h:outputText value="HALF_EVEN: #{appcore_Utils.objectId(appcore_MathUtils.roundingMode('HALF_EVEN'))}"/>

            <h2>Conversion</h2>
            <h:outputText value="n1: #{appcore_Request.attributes['n1']} - #{appcore_Utils.objectId(appcore_Request.attributes['n1'])}"/>
            <br/><h:outputText value="n1: #{appcore_Request.attributes['n1'].setScale(4,'HALF_EVEN')}"/>
            <br/>
            <h:outputText value="n1: "/>
            <h:outputText value="#{appcore_Request.attributes['n1']}">
                <f:convertNumber type="number"
                                 locale="#{appcore_Session.locale}"
                                 maxFractionDigits="50"/>
            </h:outputText>

            <br/><h:outputText value="n2: #{appcore_Request.attributes['n2']} - #{appcore_Utils.objectId(appcore_Request.attributes['n2'])}"/>
            <br/><h:outputText value="n2: #{appcore_Request.attributes['n2'].setScale(4,appcore_MathUtils.roundingMode('HALF_EVEN'))}"/>
            <br/><h:outputText value="n2: #{appcore_Request.attributes['n2'].setScale(20,appcore_MathUtils.roundingMode('HALF_EVEN'))}"/>
            <h2>Computation</h2>
            <h:outputText value="C01(10/3): "/>
            <h:outputText value="#{appcore_MathUtils.number('10').divide(3,10,'CEILING')}"/>

            <br/><h:outputText value="C02(n1/3): "/>
            <h:outputText value="#{appcore_Request.attributes['n1'].divide(3,10,'HALF_EVEN')}"/> </h:form>
    </ui:define>
</ui:composition>