<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-regexp"/>
        <c:set scope="request" var="pageTitle" value="Test regular expressions"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('text')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('regexp')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <m:eval value="#{appcore_Request.attributes.put('matcher',appcore_Utils.regexpMatcher(appcore_Session.attributes[pageId]['text'],appcore_Session.attributes[pageId]['regexp']))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:1024px;">
                <f:facet name="header"><h:outputText value="#{pageTitle}"/></f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-6,ui-grid-col-6">
                    <p:fragment>
                        <p:outputLabel value="Regexp" for="regexp"/>
                        <p:inputTextarea id="regexp"
                                         required="true"
                                         value="#{appcore_Session.attributes[pageId]['regexp']}"
                                         style="width:100%;">
                        </p:inputTextarea>
                        <p:outputLabel value="Text" for="text"/>
                        <p:inputTextarea id="text"
                                         required="true"
                                         value="#{appcore_Session.attributes[pageId]['text']}"
                                         style="width:100%;">
                        </p:inputTextarea>
                    </p:fragment>
                    <p:fieldset legend="Matches: #{appcore_Request.attributes['matcher'].matches()}"
                                rendered="#{(appcore_Request.attributes['form.submit'])}"
                                style="margin-left:10px;">
                        <c:if test="#{appcore_Request.attributes['matcher'].matches()}">
                            <c:forEach var="i" begin="0" end="#{appcore_Request.attributes['matcher'].groupCount()}">
                                <p><h:outputText value="$#{i}: #{appcore_Request.attributes['matcher'].group(i)}"/></p>
                            </c:forEach>
                        </c:if>
                    </p:fieldset>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Test"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>