<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-speed"/>
        <c:set scope="request" var="pageTitle" value="Test speed"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- =================================== -->
        <!--             Test Speed              -->
        <!-- =================================== -->
        <h:form>
            <p:panel style="width: 800px;height: 600px;" styleClass="center">
                <pe:speedtest id="speedtest"
                              widgetVar="speedtest"
                              captionDownload="Down"
                              captionUpload="Up"
                              captionJitter="Jitter"
                              captionPing="Ping"
                              file="#{request.contextPath}/resources/myset/common/img/background.jpg"/>
                <p:commandButton id="btnStart"
                                 value="Start Speedtest"
                                 icon="fa fa-play"
                                 style="width:100%;"
                                 onclick="PF('speedtest').start();"/>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>