<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            TERMINAL               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <h:form>
            <p:focus for="terminal"/>
            <p:terminal id="terminal"
                        widgetVar="term"
                        prompt="#{appcore_ApplicationSecurity.security.user.userName}>"
                        commandHandler="#{appcore_Terminal.handleCommand}"/>
        </h:form>

    </ui:define>
</ui:composition>