<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            EDIT WEB              -->
<!-- ================================= -->
<ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-filemanager-edit.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="parts"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('update')} #{appcore_Session.dictionary('cms.parts.part')} - #{appcore_Request.attributes['partId']}"/>
            <c:if test="#{(request.getParameter('init'))}">
                <m:eval value="#{appcore_Request.attributes.put('partId',appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>
                <c:set scope="request" var="pageTitle"
                       value="#{appcore_Session.dictionary('update')} #{appcore_Session.dictionary('cms.parts.part')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['partId']}"/>
            </c:if>
            <c:if test="#{(request.getParameter('init')) or (appcore_Request.attributes['update.reset'])}">
                <!-- get partContent -->
                <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql05.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql05.params'].add(appcore_Request.attributes['partId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="cms_parts.sql05"
                                     sql="#{appcore_Application.database('cms_parts.sql05')}"
                                     params="#{appcore_Request.attributes['cms_parts.sql05.params']}"
                                     readclob="true"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['cms_parts.sql05']}"
                                   store="#{appcore_Request.attributes}"
                                   key="parts"/>
                <m:eval value="#{appcore_Request.attributes.put('partContent',appcore_Request.attributes['parts'][0].fields['partContent'])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['update.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql06.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql06.params'].add(appcore_Request.attributes['partContent'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql06.params'].add(appcore_ApplicationSecurity.security.user.userId)}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql06.params'].add(appcore_Request.attributes['partId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="cms_parts.sql06"
                                     sql="#{appcore_Application.database('cms_parts.sql06')}"
                                     params="#{appcore_Request.attributes['cms_parts.sql06.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                     command="#{appcore_Request.attributes['cms_parts.sql06']}"
                                     infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                     errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                <!-- Remove from cache -->
                <m:eval value="#{appcore_CMSProcessor.removePart(appcore_Request.attributes['partId'])}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:menubar id="menubar-edit"
                       autoDisplay="false"
                       position="fixed"
                       style="width:99%;">
                <p:menuitem icon="fa fa-check"
                            value="#{appcore_Session.dictionary('save')}"
                            update="@form">
                    <f:setPropertyActionListener target="#{appcore_Request.attributes['update.execute']}" value="true"/>
                </p:menuitem>
                <p:menuitem icon="fa fa-rotate-right"
                            value="#{appcore_Session.dictionary('reset')}"
                            update="@form"
                            ajax="false">
                    <f:setPropertyActionListener target="#{appcore_Request.attributes['update.reset']}" value="true"/>
                </p:menuitem>
            </p:menubar>
            <p:sticky target="menubar-edit"/>
            <h:inputHidden autocomplete="off" value="#{appcore_Request.attributes['partId']}"/>
            <pe:ckEditor language="#{appcore_Session.locale}"
                         value="#{appcore_Request.attributes['partContent']}"
                         customConfig="#{appcore_Application.property('cms.editor.config')}"
                         width="99%" height="500"/>
        </h:form> </ui:define>
</ui:composition>