<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               UPDATE              -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="tagsDialog"
              dynamic="true"
              widgetVar="tagsDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="800"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('cms.tags.title')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['partId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="tagsDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['tags.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="tagsDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['tags.init'] or appcore_Request.attributes['tags.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('partName',appcore_Session.attributes[pageId]['datatable.selection'].fields['partName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('partPublic',appcore_Session.attributes[pageId]['datatable.selection'].fields['partPublic'].equals('1')?true:false)}"/>
                <!-- available tags -->
                <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql07.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql07.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_parts.sql07"
                                        sql="#{appcore_Application.database('cms_parts.sql07')}"
                                        params="#{appcore_Request.attributes['cms_parts.sql07.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_parts.sql07']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="availableTags"/>

                <!-- selected tags -->
                <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql08.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql08.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_parts.sql08"
                                        sql="#{appcore_Application.database('cms_parts.sql08')}"
                                        params="#{appcore_Request.attributes['cms_parts.sql08.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_parts.sql08']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="selectedTags"/>

                <!-- tags dual list model -->
                <m:eval
                        value="#{appcore_Session.attributes[pageId].put('tagsDualListModel',appcore_PrimeFacesUtils.getDualListModel(appcore_Session.attributes[pageId]['availableTags'],appcore_Session.attributes[pageId]['selectedTags']))}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['tags.execute'])}">
                <!-- transaction commands -->
                <m:eval value="#{appcore_Request.attributes.put('parts.tags.commands',appcore_Utils.newInstance('java.util.ArrayList'))}"/>

                <!-- delete page tags -->
                <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql09.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_parts.sql09.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_parts.sql09"
                                        sql="#{appcore_Application.database('cms_parts.sql09')}"
                                        params="#{appcore_Request.attributes['cms_parts.sql09.params']}"/>
                <m:eval value="#{appcore_Request.attributes['parts.tags.commands'].add(appcore_Request.attributes['cms_parts.sql09'])}"/>

                <!-- add page tags -->
                <m:eval value="#{appcore_Request.attributes.put('i',0)}"/>
                <c:forEach items="#{appcore_Session.attributes[pageId]['tagsDualListModel'].target}">
                    <m:eval value="#{appcore_Request.attributes.put('cms_parts.sql10.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['cms_parts.sql10.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>
                    <m:eval
                            value="#{appcore_Request.attributes['cms_parts.sql10.params'].add(appcore_Session.attributes[pageId]['tagsDualListModel'].target[appcore_Request.attributes['i']].fields['tagId'])}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                            key="cms_parts.sql10"
                                            sql="#{appcore_Application.database('cms_parts.sql10')}"
                                            params="#{appcore_Request.attributes['cms_parts.sql10.params']}"/>
                    <m:eval value="#{appcore_Request.attributes['parts.tags.commands'].add(appcore_Request.attributes['cms_parts.sql10'])}"/>
                    <m:eval value="#{appcore_Request.attributes.put('i',appcore_Request.attributes['i']+1)}"/>
                </c:forEach>

                <!-- transaction -->
                <mc:database-transaction rendered="true"
                                            databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                            commands="#{appcore_Request.attributes['parts.tags.commands']}"
                                            infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                            errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/> <c:if test="#{!appcore_Request.attributes['cms_parts.sql10'].errors}">

                <!-- Remove from cache -->
                <m:eval value="#{appcore_CMSProcessor.removePartTags(appcore_Session.attributes[pageId]['datatable.selection'].fields['partId'])}"/>

                <!-- Close dialog -->
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'tagsDialogWidget\').hide()')}"/>
            </c:if>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                        <p:outputLabel for="partName"
                                       value="#{appcore_Session.dictionary('name')}"/>
                        <p:inputText id="partName"
                                     readonly="true"
                                     value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['partName']}"
                                     required="true"
                                     style="width:100%;"/>
                        <p:outputLabel for="partPublic"
                                       value="#{appcore_Session.dictionary('public')}"/>
                        <p:inputSwitch id="partPublic"
                                       disabled="true"
                                       value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['partPublic'].equals('1')?true:false}"
                                       onLabel="#{appcore_Session.dictionary('on')}"
                                       offLabel="#{appcore_Session.dictionary('off')}"/>
                    </p:panelGrid>
                    <p:outputPanel style="width:100%">
                        <div align="center">
                            <p:pickList id="tagsPicklist"
                                        rendered="#{(appcore_Session.attributes[pageId]['tagsDualListModel']!=null)}"
                                        value="#{appcore_Session.attributes[pageId]['tagsDualListModel']}"
                                        converter="appcore_GenericConverter"
                                        var="row"
                                        itemValue="#{row}"
                                        itemLabel="#{row.fields['tagName']}"
                                        showSourceFilter="true"
                                        showTargetFilter="true"
                                        filterMatchMode="contains"
                                        style="width:100%;">
                                <f:facet name="sourceCaption">#{appcore_Session.dictionary('cms.tags.available')}</f:facet>
                                <f:facet name="targetCaption">#{appcore_Session.dictionary('cms.tags.selected')}</f:facet>
                                <p:column style="width:20px;">
                                    <h:outputText styleClass="fa fa-tag"/>
                                </p:column>
                                <p:column>
                                    <b><h:outputText value="#{row.fields['tagName']}"/></b>
                                    <br/>
                                    <h:outputText value="#{row.fields['tagDesc']}"/>
                                </p:column>
                            </p:pickList>
                        </div>
                    </p:outputPanel>

                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('update')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['tags.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['tags.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>