<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <!-- ======================================= -->
    <!--                    CMS                  -->
    <!-- ======================================= -->
    <p:submenu rendered="#{(appcore_Utils.checkClass('ro.myset.extensions.cms.Extension')
                            and appcore_ApplicationSecurity.security.ifAnyRoles('cms_admins'))}"
               label="CMS">
        <p:menuitem value="#{appcore_Session.dictionary('file-manager.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/filemanager.xhtml?init=true"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.pages.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/pages/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.parts.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/parts/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.tags.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/tags/main.xhtml"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.calendars.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/calendars/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.calendars-links.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/calendars-links/main.xhtml"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.newsletters.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/newsletters/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.newsletters-subscribers.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/newsletters-subscribers/main.xhtml"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.labels.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/labels/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.messages.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/messages.xhtml?init=true"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.comments.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/comments/main.xhtml"/>
        <p:menuitem value="#{appcore_Session.dictionary('cms.stats.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/stats/main.xhtml"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('search')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/cms/search.xhtml"/>
    </p:submenu>
</ui:composition>