<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <!-- ======================================= -->
    <!--                  Tests                  -->
    <!-- ======================================= -->
    <p:submenu rendered="#{(appcore_Utils.checkClass('ro.myset.extensions.tests.Extension')
                            and appcore_ApplicationSecurity.security.ifAnyRoles('app_testers'))}"
               label="Tests">
        <p:menuitem value="Ajax lifecycle"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-ajax-lifecycle.xhtml"/>
        <p:submenu label="Appcore">
            <p:menuitem value="Appcore jsp"
                        ajax="true"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-appcore/test-appcore.jsp"/>
            <p:menuitem value="Appcore jsf"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-appcore/test-appcore.xhtml"/>
        </p:submenu>
        <p:submenu label="Database">
            <p:menuitem value="Operations"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-database/main.xhtml"/>
            <p:menuitem value="Callable"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-database/callable.xhtml"/>
        </p:submenu>
        <p:menuitem value="Exceptions"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-exceptions.xhtml"/>
        <p:menuitem value="Expression language"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-el.xhtml"/>
        <p:menuitem
                value="Filemanager custom"
                ajax="true"
                url="#{request.contextPath}/resources/myset/tests/test-filemanager-custom.xhtml?init=true"/>
        <p:submenu label="Forms">
            <p:menuitem value="Floating labels"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-floating-labels.xhtml"/>
            <p:menuitem value="Empty values"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-empty.xhtml"/>
            <p:menuitem value="Events"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-events.xhtml"/>
            <p:menuitem value="Autocomplete"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-autocomplete.xhtml"/>
            <p:menuitem value="SelectOneMenu"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-selectOneMenu.xhtml"/>
            <p:menuitem value="DataList"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-dataList.xhtml"/>
            <p:menuitem value="Select many"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-select-many.xhtml"/>
            <p:menuitem value="Captcha"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-captcha.xhtml"/>
            <p:menuitem value="Calendar highlight"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-form/test-calendar-highlight.xhtml"/>
        </p:submenu>
        <p:submenu label="Mail">
            <p:menuitem value="Mail"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-mail/test-mail.xhtml"/>
            <p:menuitem value="Mail batch"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-mail/test-mail-batch.xhtml"/>
        </p:submenu>
        <p:menuitem value="Math"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-math.xhtml"/>
        <p:submenu label="Multimedia">
            <p:menuitem value="Icons"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-fa-icons.xhtml"/>
            <p:menuitem value="Lightbox"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-lightBox.xhtml"/>
            <p:menuitem value="Galleria"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-galleria.xhtml"/>
            <p:menuitem value="Carousel"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-carousel.xhtml"/>
            <p:menuitem value="ContentFlow"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-contentFlow.xhtml"/>
            <p:menuitem value="Switch"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-multimedia/test-imageSwitch.xhtml"/>
        </p:submenu>
        <p:submenu label="Cache">
            <p:menuitem value="Cache put"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-cache/test-cache-put.xhtml"/>
            <p:menuitem value="Cache get"
                        ajax="true"
                        url="#{request.contextPath}/resources/myset/tests/test-cache/test-cache-get.xhtml"/>
        </p:submenu>
        <p:submenu label="Queue">
            <p:menuitem value="Queue add"
                        ajax="true"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-queue/test-queue-add.jsp"/>
            <p:menuitem value="Queue poll"
                        ajax="true"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-queue/test-queue-poll.jsp"/>
        </p:submenu>
        <p:menuitem value="Regexp"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-regexp.xhtml"/>
        <p:menuitem value="Speed test"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/tests/test-speed.xhtml"/>


        <!-- ======================================= -->
        <!--                  REPORTS                -->
        <!-- ======================================= -->
        <p:submenu rendered="#{appcore_Utils.checkClass('ro.myset.extensions.reports.Extension')}"
                   label="REPORTS">
            <p:menuitem value="Simple"
                        ajax="true"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-reports/test-reports.xhtml"/>
            <p:menuitem value="List"
                        ajax="true"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-reports/test-reports-list.xhtml"/>
        </p:submenu>


        <!-- ======================================= -->
        <!--                   CMS                   -->
        <!-- ======================================= -->
        <p:submenu rendered="#{appcore_Utils.checkClass('ro.myset.extensions.cms.Extension')}"
                   label="CMS">
            <p:menuitem value="Page"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-cms/test-page.xhtml"/>
            <p:menuitem value="Calendars"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-cms/test-calendars.xhtml"/>
            <p:menuitem value="Newsletters"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-cms/test-newsletters.xhtml"/>
            <p:menuitem value="Message"
                        target="_blank"
                        url="#{request.contextPath}/resources/myset/tests/test-cms/test-message.xhtml"/>
        </p:submenu>


    </p:submenu>

</ui:composition>