<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:m="http://www.myset.ro/components"
      xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
<!-- initialization start -->
<c:set scope="request" var="pageId" value="filemanager-cms"/>
<c:set scope="request" var="pageTitle" value="CMS #{appcore_Session.dictionary('file-manager.title')}"/>
<c:set scope="request" var="pageHelp" value="help.pdf"/>
<c:set scope="request" var="template" value="/resources/myset/templates/template-filemanager.xhtml"/>
<!-- initialization end -->
<c:if test="#{(request.getParameter('init'))}">
    <mc:log message="Init"/>
    <m:eval value="#{appcore_FileManager.reset()}"/>
    <m:eval value="#{appcore_FileManager.setPaths(appcore_Application.propertyValues('cms.filemanager.paths'))}"/>
    <m:eval value="#{appcore_FileManager.initialize()}"/>
</c:if>
<ui:include src="/resources/myset/administration/filemanager/main.xhtml"/>
</html>