<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:m="http://www.myset.ro/components"
      xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">

<!-- initialization start -->
<c:set scope="request" var="pageId" value="messages"/>
<c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('cms.messages.title')}"/>
<c:set scope="request" var="pageHelp" value="help.pdf"/>
<c:set scope="request" var="template" value="/resources/myset/templates/template-cms-messages.xhtml"/>

<c:if test="#{(appcore_Session.attributes[pageId]==null)}">
    <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
</c:if>
<!-- initialization end -->

<!-- init -->
<c:if test="#{(request.getParameter('init'))}">
    <c:if test="#{(appcore_Session.attributes[pageId]!=null)}">
        <m:eval value="#{appcore_CMSMessages.refreshMessages(101)}"/>
    </c:if>
</c:if>

<ui:include src="/resources/myset/cms/messages/main.xhtml"/>

</html>