@CHARSET "UTF-8";
/*
 *=====================================================================
 *=====================================================================
 *                          Common styles
 *=====================================================================
 *=====================================================================
 */
.noprint {

}

@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: normal;
    src: local('Open Sans'), local('OpenSans'),
    url('#{facesContext.externalContext.applicationContextPath}/resources/welcome/common/fonts/OpenSans/OpenSans-Regular.woff2') format('woff2'),
    url('#{facesContext.externalContext.applicationContextPath}/resources/welcome/common/fonts/OpenSans/OpenSans-Regular.woff') format('woff'),
    url('#{facesContext.externalContext.applicationContextPath}/resources/welcome/common/fonts/OpenSans/OpenSans-Regular.ttf') format('truetype');
}

html {
    font-family: 'Open Sans', sans-serif;
    font-size: 0.75rem;
    min-height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 1em;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
}


form {
    display: inline;
}

pre {
    white-space: pre-wrap;
}


.hidden {
    display: none !important;
    padding: 0em;
    margin: 0em;
}

.notext {
    color: rgba(0, 0, 0, 0) !important;
}


/* -----------------------------
 * font-awesome
 *-----------------------------*/
.fa {
    font-family: "FontAwesome", "Font Awesome 5 Free", "Font Awesome 5 Brands";
    font-size: 1em;
}


/*
 *=====================================================================
 *=====================================================================
 *                        Primefaces theme fixes
 *=====================================================================
 *=====================================================================
 */

body .ui-widget {
    font-family: inherit;
    font-size: 1em;
}

/* -----------------------------
 * ui-dialog
 *-----------------------------*/
body .ui-dialog .ui-dialog-titlebar {
    padding: 0.2rem 0.2rem 0.2rem 1rem;
}

body .ui-dialog .ui-dialog-titlebar .ui-dialog-title{
    font-size: 1em;
    vertical-align: middle;
}

body .ui-dialog .ui-dialog-content {
    padding: 0.4em 0.4em 0.4em 0.4em;
}


/* -----------------------------
 * ui-panel
 *-----------------------------*/
body .ui-panel .ui-panel-titlebar {
    padding: 0.5em 1em 0.5em 1em;
    text-align: center;
}

body .ui-panel .ui-panel-content {
    padding: 0.5em 0.2em 0.5em 0.2em;
    border-radius: 0px;
}

body .ui-panel .ui-panel-footer {
    padding: 0.5em 1em 0.5em 1em;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
}


/* -----------------------------
 * ui-panelgrid
 *-----------------------------*/
body .ui-panelgrid .ui-panelgrid-cell {
    padding: 0.2em 0.5em 0.2em 0.5em;
}


/* -----------------------------
 * ui-growl
 *-----------------------------*/
.ui-growl {
    position: absolute;
    overflow: visible;
    right: 0.5em;
    width: auto;
    min-width: 30em;
    text-align: left;
}

.ui-growl-image {
    position: absolute;
    padding: 0.12em 0em 0em 0em;
}

.ui-growl-message {
    width: 100%;
}

.ui-growl-message p {
    padding: 0em 0em 0em 2.5em;
}

.ui-growl-item-container {
    opacity: 0.95;
    filter: alpha(opacity=95);
}

body .ui-growl .ui-growl-item-container .ui-growl-item {
    min-height: initial;
}


/* -----------------------------
 * ui-menu
 *-----------------------------*/
body .ui-menu.ui-menubar {
    padding: 0em;
    border-radius: 0px;
}

body .ui-menu .ui-menu-list .ui-menuitem .ui-menuitem-link {
    padding: 0.6em 1em 0.6em 1em;
}

ul.ui-menu-child {
    width: auto;
    min-width: 200px;
}


/* -----------------------------
 * ui-button
 *-----------------------------*/
body .ui-button {
    margin: 0.1em 0.1em 0.1em 0.1em;
}

body .ui-button.ui-button-icon-only .ui-button-text {
    padding: 0.4em 0.2em 0.4em 0.2em;
}

body .ui-button.ui-button-text-icon-left .ui-button-text {
    padding: 0.4em 1em 0.4em 2em;
}

body .ui-button.ui-button-text-icon-right .ui-button-text {
    padding: 0.4em 2em 0.4em 1em;
}


/* -----------------------------
 * ui-inputfield
 *-----------------------------*/
body .ui-inputfield {
    font-family: inherit;
    font-size: 1em;
    padding: 0.4em 0.2em 0.4em 0.2em;
}

body .ui-inputfield.ui-state-error{
    border-width: 1px 1px 1px 6px;
}


/* -----------------------------
 * ui-selectonemenu
 *-----------------------------*/
body .ui-selectonemenu .ui-selectonemenu-label {
    min-height: 2.4rem;
}

.ui-selectonemenu-panel .ui-selectonemenu-items-wrapper {
    overflow: auto;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item {
    padding: 0.4em 0.2em 0.4em 0.2em;
}

body .ui-selectonemenu-panel .ui-selectonemenu-filter-container .ui-selectonemenu-filter.ui-inputfield {
    padding: 0.4em 0.2em 0.4em 2em;
}

body .ui-selectonemenu-panel .ui-selectonemenu-items .ui-selectonemenu-item.ui-selectonemenu-row > td {
    padding: 0.4em 0.2em 0.4em 0.2em;
}

.ui-selectonemenu-panel .ui-selectonemenu-table th, .ui-selectonemenu-panel .ui-selectonemenu-table td {
    padding: 0.4em 0.2em 0.4em 0.2em;
}



/* -----------------------------
 * ui-autocomplete
 *-----------------------------*/
body .ui-autocomplete-panel .ui-autocomplete-items .ui-autocomplete-item {
    padding: 0.2em 0.2em 0.2em 0.4em;
}


/* -----------------------------
 * ui-selectcheckboxmenu-panel
 *-----------------------------*/
body .ui-selectcheckboxmenu-panel .ui-selectcheckboxmenu-items .ui-selectcheckboxmenu-item {
    padding: 0.2em 0.2em 0.2em 0.4em;
}


/* -----------------------------
 * ui-datalist
 *-----------------------------*/
body .ui-datalist .ui-datalist-content {
    padding: 0.2em 0.2em 0.2em 0.4em;
}

.ui-datalist .ui-datalist-empty-message {
    padding: 0.2em 0.2em 0.2em 1em;
}

.ui-datalist .ui-datalist-data {
    padding: 0.2em 0.2em 0.2em 1em;
}



/* -----------------------------
 * ui-datepicker
 *-----------------------------*/
body .ui-datepicker {
    width: 22em;
}

body .ui-datepicker .ui-datepicker-title select {
    width: 7rem;
}

body .ui-datepicker .ui-datepicker-header {
    border-bottom: none;
    padding: 0.2em 0.1em 0.2em 0.1em;
}

body .ui-datepicker .ui-datepicker-calendar td {
    padding: 0.1em 0.1em 0.1em 0.1em;
}


/* -----------------------------
 * ui-datatable
 *-----------------------------*/
body .ui-datatable .ui-datatable-header {
    padding: 0.2em 0.2em 0.2em 0.2em;
    border: none;
    border-radius: 0px;
    text-align: right !important;
}

.ui-datatable-header {
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

body .ui-datatable .ui-paginator {
    padding: 0em;
}

.ui-datatable .ui-paginator {
    text-align: right !important;
    padding: 0em;
}

.ui-datatable .ui-paginator-first {
    text-align: center;
    white-space: nowrap;
}

.ui-datatable .ui-paginator-pages {
    text-align: right !important;
    white-space: nowrap;
}

.ui-datatable .ui-paginator .ui-icon {
    text-align: center;
}

.ui-datatable table {
    table-layout: auto;
}

.ui-datatable tbody td {
    white-space: normal;
}

.datatable-filter {
    width: 250px;
    margin-right: 2px;
}

.datatable-view thead {
    display: none;
}

/* -----------------------------
 * datatable-auto-columns
 *-----------------------------*/
.datatable-auto-columns .ui-datatable thead th, .datatable-auto-columns .ui-datatable tbody td, .datatable-auto-columns .ui-datatable tfoot td, .datatable-auto-columns .ui-datatable tfoot th {
    width: auto;
}

/* -----------------------------
 * datatable-no-header
 *-----------------------------*/
.datatable-no-header th {
    display: none;
}




/* -----------------------------
 * ui-picklist
 *-----------------------------*/
.ui-picklist .ui-picklist-list {
    width: auto;
    height: 300px;
}

.ui-picklist-list-wrapper {
    width: 45%;
}

.ui-picklist-buttons-cell {
    width: 50%;
    margin: 0 auto;
}



/* -----------------------------
 * ui-terminal
 *-----------------------------*/
body .ui-terminal {
    font-family: monospace;
    font-size: 1em;
    height: 90vh;
    border: none;
    margin: 0px 0px 0px 0px;
    padding: 2px 2px 2px 2px;
}

.ui-terminal, .ui-terminal div, .ui-terminal input, .ui-terminal pre, .ui-terminal-command {
    font-family: monospace;
    font-size: 1em;
    border: none;
}

.ui-terminal div {
    white-space: pre-line;
}


/* -----------------------------
 * CodeMirror
 *-----------------------------*/
.CodeMirror {
    font-size: 12px;
    height: 100%;
}

.CodeMirror-scroll {
    overflow: auto;
    height: 100%;
}

/* -----------------------------
 * CKEditor
 *-----------------------------*/
.cke_source {
    font-size: 100%;
    white-space: pre;
}


/*
 *=====================================================================
 *=====================================================================
 *                              Design
 *=====================================================================
 *=====================================================================
 */


/* ------------------------------------------
 * Global background style
*-------------------------------------------*/

html{
    background-color: rgba(150,160,180,0.100);
}

.design, .design .ui-layout-unit-content {
    background: none;
}


/* -----------------------------
 * animate-spin
 *-----------------------------*/
.animate-spin {
    -moz-animation: spin 2s infinite linear;
    -webkit-animation: spin 2s infinite linear;
    -o-animation: spin 2s infinite linear;
    animation: spin 2s infinite linear;
    display: inline-block;
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-webkit-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-o-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@-ms-keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

@keyframes spin {
    0% {
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}


/* -----------------------------
 * Alignments
 *-----------------------------*/

.left {
    margin: 0px auto;
    left: 10px;
}

.center {
    margin: 0px auto;
}

.right {
    margin: 0px auto;
    right: 10px;
}

.text-left {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.text-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.text-right {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


/* ------------------------------------------
 * Ajax status style
*-------------------------------------------*/
.ajax-status-dialog .ui-dialog-titlebar {
    display: none;
}

.ajax-status-text {
    padding: 0em 0em 0em 0.6em;
}


/* -----------------------------
 * captcha
 *-----------------------------*/
.captcha {
    width: 100px;
}


/* -----------------------------
 * ui-calendar
 *-----------------------------*/
.simple-calendar .ui-datepicker-inline {
    border: none;
    margin: 0em;
    padding: 0em;
}

.simple-calendar .ui-datepicker-title {
    white-space: nowrap;
}

.simple-calendar .ui-datepicker-calendar {
    display: none;
}

.simple-calendar .ui-datepicker-year {
    margin-left: 4px;
}