<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              dynamic="true"
              widgetVar="addDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['add.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('testName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('testDescription')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('testDate')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('testValue')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('test.sql02.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['test.sql02.params'].add(appcore_Request.attributes['testName'])}"/>
                <m:eval value="#{appcore_Request.attributes['test.sql02.params'].add(appcore_Request.attributes['testDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes['test.sql02.params'].add(appcore_Request.attributes['testDate'])}"/>
                <m:eval value="#{appcore_Request.attributes['test.sql02.params'].add(appcore_Request.attributes['testValue'])}"/>

                <mc:log message="Add - #{appcore_Request.attributes['test.sql02.params']}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="test.sql02"
                                     sql="#{appcore_Application.database('test.sql02')}"
                                     params="#{appcore_Request.attributes['test.sql02.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                     command="#{appcore_Request.attributes['test.sql02']}"
                                     infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                     errorMessage1="#{appcore_Session.dictionary('messages.action.errors')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="testName"
                                   value="#{appcore_Session.dictionary('test.testName')}"/>
                    <p:inputText id="testName"
                                 value="#{appcore_Request.attributes['testName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="testDescription"
                                   value="#{appcore_Session.dictionary('test.testDescription')}"/>
                    <p:inputTextarea id="testDescription"
                                     value="#{appcore_Request.attributes['testDescription']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="testDate"
                                   value="#{appcore_Session.dictionary('test.testDate')}"/>
                    <p:calendar id="testDate"
                                required="true"
                                value="#{appcore_Request.attributes['testDate']}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                showOn="both"
                                readonlyInput="false"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>
                    <p:outputLabel for="testValue"
                                   value="#{appcore_Session.dictionary('test.testValue')}"/>
                    <p:inputNumber id="testValue"
                                   required="true"
                                   value="#{appcore_Request.attributes['testValue']}"
                                   converter="javax.faces.BigDecimal"
                                   style="width: 300px"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>