<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="callable"/>
        <c:set scope="request" var="pageTitle" value="Callable test page"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('seqName')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <f:metadata>
                    <f:importConstants type="java.sql.ParameterMetaData"/>
                    <f:importConstants type="java.sql.Types"/>
                </f:metadata>
                <m:eval value="#{appcore_Request.attributes.put('out.param',
                        appcore_DatabaseCommandParameter.init(ParameterMetaData.parameterModeOut,Types.VARCHAR))}"/>
                <m:eval value="#{appcore_Request.attributes.put('sql.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['sql.params'].add(appcore_Request.attributes['out.param'])}"/>
                <m:eval value="#{appcore_Request.attributes['sql.params'].add(appcore_Session.attributes[pageId]['seqName'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="test.sql05"
                                     sql="#{appcore_Application.database('test.sql05')}"
                                     params="#{appcore_Request.attributes['sql.params']}"/>

                <mc:database-callable databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['test.sql05']}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-6,ui-grid-col-6">
                    <p:fragment>
                        <p:outputLabel value="Sequence name" for="seqName"/>
                        <p:inputText id="seqName"
                                     required="true"
                                     value="#{appcore_Session.attributes[pageId]['seqName']}"
                                     style="width:100%;"/>
                    </p:fragment>
                    <p:fieldset rendered="#{(appcore_Request.attributes['form.submit'])}"
                                style="margin-left:10px;">
                        <p><h:outputText value="#{appcore_Request.attributes['test.sql05'].sqlCommand}"/></p>
                        <p><h:outputText value="#{appcore_Request.attributes['out.param'].parameterOutValue}"/></p>
                    </p:fieldset>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Execute"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>