<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test"/>
        <c:set scope="request" var="pageTitle" value="Database tests page"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- Initialize -->
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']==null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm" oncomplete="PF('filterDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
            </p:remoteCommand>
        </h:form>
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']!=null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
            </p:remoteCommand>
        </h:form>


        <!-- =================================== -->
        <!--              Form logic             -->
        <!-- =================================== -->
        <!-- actions -->
        <ui:include src="menu.xhtml"/>
        <ui:include src="view.xhtml"/>
        <ui:include src="add.xhtml"/>
        <ui:include src="update.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <!-- last -->
        <ui:include src="filter.xhtml"/>

        <h:form id="dataTableForm">
            <!-- =================================== -->
            <!--              Form design            -->
            <!-- =================================== -->
            <mc:dataTable id="datatable"
                          pageId="#{pageId}"
                          widgetVar="datatableWidget"
                          rowKey="#{row.hashCode()}"
                          rowSelectUpdate="actionsMenuForm filterDialog viewDialog updateDialog deleteDialog"
                          title="#{pageTitle}"
                          styleClass="datatable-auto-columns">
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['testId']}"
                          filterBy="#{row.fields['testId']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('test.testId')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['testId']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['testName']}"
                          filterBy="#{row.fields['testName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('test.testName')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['testName']} "/>
                </p:column>
                <p:column sortBy="#{row.fields['testDescription']}"
                          filterBy="#{row.fields['testDescription']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          priority="4">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('test.testDescription')}"/>
                    </f:facet>
                    <h:outputText value="#{row.fields['testDescription']}"/>
                </p:column>
                <p:column style="text-align:center;width:150px;"
                          sortBy="#{row.fields['testDate']}"
                          filterBy="#{row.fields['testDate']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          priority="3">
                    <f:facet name="header">
                        <h:outputText style="white-space:nowrap;"
                                      value="#{appcore_Session.dictionary('test.testDate')}"/>
                    </f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['testDate']}">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </h:outputText>
                </p:column>
                <p:column sortBy="#{row.fields['testValue']}"
                          filterBy="#{row.fields['testValue']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible"
                          priority="2">
                    <f:facet name="header">
                        <h:outputText value="#{appcore_Session.dictionary('test.testValue')}"/>
                    </f:facet>
                    <h:outputText style="float:right;"
                                  value="#{row.fields['testValue']}"
                                  converter="javax.faces.BigDecimal">
                        <f:convertNumber type="number"
                                         locale="#{appcore_Session.locale}"
                                         maxFractionDigits="2"/>
                    </h:outputText>
                </p:column>
            </mc:dataTable>
        </h:form>
    </ui:define>
</ui:composition>