<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['testId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <mc:log message="View - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['testId']}"/>

                <m:eval value="#{appcore_Request.attributes.put('testName',appcore_Session.attributes[pageId]['datatable.selection'].fields['testName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('testDescription',appcore_Session.attributes[pageId]['datatable.selection'].fields['testDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('testDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['testDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('testValue',appcore_Session.attributes[pageId]['datatable.selection'].fields['testValue'])}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="testName"
                                   value="#{appcore_Session.dictionary('test.testName')}"/>
                    <p:inputText id="testName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['testName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="testDescription"
                                   value="#{appcore_Session.dictionary('test.testDescription')}"/>
                    <p:inputTextarea id="testDescription"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['testDescription']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="testDate"
                                   value="#{appcore_Session.dictionary('test.testDate')}"/>
                    <p:calendar id="testDate"
                                readonly="true"
                                value="#{appcore_Request.attributes['testDate']}"
                                required="true"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                showOn="none"
                                readonlyInput="true"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>
                    <p:outputLabel for="testValue"
                                   value="#{appcore_Session.dictionary('test.testValue')}"/>
                    <p:inputNumber id="testValue"
                                   readonly="true"
                                   value="#{appcore_Request.attributes['testValue']}"
                                   converter="javax.faces.BigDecimal"
                                   required="true"
                                   style="width: 300px"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>