<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              dynamic="true"
              widgetVar="addDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="850"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['add.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('commentType')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('commentFor')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('commentValue')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('commentText')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <m:eval value="#{appcore_CMSProcessor.commentAdd(appcore_Request.attributes['commentFor'],
                                                                     appcore_ApplicationSecurity.security.user.userId,
                                                                     appcore_Request.attributes['commentSubject'],
                                                                     appcore_Request.attributes['commentContent'],
                                                                     appcore_Request.attributes['commentPublic']?'1':null)}"/>
                <m:eval value="#{appcore_CMSProcessor.removeComments(appcore_Request.attributes['commentFor'])}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="commentFor"
                                   value="#{appcore_Session.dictionary('cms.comments.comment')} #{appcore_Session.dictionary('for').toLowerCase()}"/>
                    <p:inputText id="commentFor"
                                 value="#{appcore_Request.attributes['commentFor']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="commentSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="commentSubject"
                                 required="true"
                                 value="#{appcore_Request.attributes['commentSubject']}"
                                 style="width:95%"/>
                    <p:outputLabel for="commentContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="commentContent"
                                     value="#{appcore_Request.attributes['commentContent']}"
                                     required="true"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>
                    <p:outputLabel for="commentPublic"
                                   value="#{appcore_Session.dictionary('public')}"/>
                    <p:inputSwitch id="commentPublic"
                                   value="#{appcore_Request.attributes['commentPublic']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         update="@form :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>