<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              FILTER               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="filterDialog"
              widgetVar="filterDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="650"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('filter')}"
              focus="@none">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- reset -->
            <c:if test="#{(appcore_Request.attributes['filter.reset'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable')}"/>

                <!-- reset fields -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('commentDateFrom')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].put('commentDateFrom',
                                 appcore_DateUtils.getDate(appcore_DateUtils.currentDate.year+1900,
                                                           appcore_DateUtils.currentDate.month+1,
                                                           appcore_DateUtils.currentDate.date))}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('commentDateTo')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('commentUser')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('commentFor')}"/>
            </c:if>

            <!-- filter -->
            <c:if test="#{(appcore_Request.attributes['filter.execute'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>


                <m:eval value="#{appcore_Request.attributes.put('cms_comments.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_comments.sql01.params'].add(appcore_Session.attributes[pageId]['commentDateFrom'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_comments.sql01.params'].add(appcore_Session.attributes[pageId]['commentDateTo'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_comments.sql01.params'].add(appcore_Session.attributes[pageId]['commentUser'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_comments.sql01.params'].add(appcore_Session.attributes[pageId]['commentFor'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_comments.sql01"
                                        sql="#{appcore_Application.database('cms_comments.sql01')}"
                                        params="#{appcore_Request.attributes['cms_comments.sql01.params']}"
                                        readclob="true"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_comments.sql01']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="datatable"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <h:outputText value="#{appcore_Session.dictionary('date')}"/>
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-6,ui-grid-col-6">
                        <p:outputLabel for="commentDateFrom"
                                       value="#{appcore_Session.dictionary('from')}"/>
                        <p:outputLabel for="commentDateTo"
                                       value="#{appcore_Session.dictionary('to')}"/>
                        <p:calendar id="commentDateFrom"
                                    binding="#{appcore_Request.attributes['commentDateFromBinding']}"
                                    required="true"
                                    value="#{appcore_Session.attributes[pageId]['commentDateFrom']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.datetime')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"
                                               type="both"/>
                        </p:calendar>
                        <p:calendar id="commentDateTo"
                                    binding="#{appcore_Request.attributes['commentDateToBinding']}"
                                    required="false"
                                    value="#{appcore_Session.attributes[pageId]['commentDateTo']}"
                                    locale="#{appcore_Session.locale}"
                                    timeZone="#{appcore_Session.timezone}"
                                    pattern="#{appcore_Application.property('format.datetime')}"
                                    showOn="both"
                                    readonlyInput="false"
                                    navigator="true">
                            <f:validator validatorId="appcore_Validator"/>
                            <f:attribute name="validation1"
                                         value="#{appcore_Request.attributes['commentDateFromBinding'].value.compareTo(
                                     appcore_DateUtils.getDate(appcore_Request.attributes['commentDateToBinding'].submittedValue,
                                     appcore_Application.property('format.datetime'))) le 0}"/>
                            <f:attribute name="validation1-type"
                                         value="ERROR"/>
                            <f:attribute name="validation1-message"
                                         value="#{appcore_Session.dictionary('validation.invalid')}"/>
                            <f:convertDateTime locale="#{appcore_Session.locale}"
                                               timeZone="#{appcore_Session.timezone}"
                                               pattern="#{appcore_Application.property('format.datetime')}"
                                               type="both"/>
                        </p:calendar>
                    </p:panelGrid>
                    <p:outputLabel for="commentUser"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:inputText id="commentUser"
                                 value="#{appcore_Session.attributes[pageId]['commentUser']}"
                                 required="false"
                                 style="width:100%;"/>
                    <p:outputLabel for="commentFor"
                                   value="#{appcore_Session.dictionary('cms.comments.comment')} #{appcore_Session.dictionary('for').toLowerCase()}"/>
                    <p:inputText id="commentFor"
                                 value="#{appcore_Session.attributes[pageId]['commentFor']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>

                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('filter')}"
                                         icon="fa fa-filter"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>