<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="850"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['commentId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('commentFor',appcore_Session.attributes[pageId]['datatable.selection'].fields['commentFor'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('commentDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['commentDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('commentSubject',appcore_Session.attributes[pageId]['datatable.selection'].fields['commentSubject'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('commentContent',appcore_Session.attributes[pageId]['datatable.selection'].fields['commentContent'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('commentPublic',appcore_Session.attributes[pageId]['datatable.selection'].fields['commentPublic'].equals('1')?true:false)}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-2 text-right,ui-grid-col-10">
                    <p:outputLabel for="commentFor"
                                   value="#{appcore_Session.dictionary('cms.comments.comment')} #{appcore_Session.dictionary('for').toLowerCase()}"/>
                    <p:inputText id="commentFor"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['commentFor']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:inputText id="userName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="commentDate"
                                   value="#{appcore_Session.dictionary('date')}"/>
                    <p:calendar id="commentDate"
                                readonly="true"
                                required="true"
                                value="#{appcore_Request.attributes['commentDate']}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                pattern="#{appcore_Application.property('format.datetime')}"
                                showOn="none"
                                readonlyInput="false"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"
                                           type="both"/>
                    </p:calendar>
                    <p:outputLabel for="commentSubject"
                                   value="#{appcore_Session.dictionary('subject')}"/>
                    <p:inputText id="commentSubject"
                                 readonly="true"
                                 required="true"
                                 value="#{appcore_Request.attributes['commentSubject']}"
                                 style="width:95%"/>
                    <p:outputLabel for="commentContent"
                                   value="#{appcore_Session.dictionary('content')}"/>
                    <p:inputTextarea id="commentContent"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['commentContent']}"
                                     required="true"
                                     autoResize="false"
                                     rows="10"
                                     style="width:100%;"/>
                    <p:outputLabel for="commentPublic"
                                   value="#{appcore_Session.dictionary('public')}"/>
                    <p:inputSwitch id="commentPublic"
                                   disabled="true"
                                   value="#{appcore_Request.attributes['commentPublic']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>