<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            SUPPORT                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->        <h:form>
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->
        <!-- Actions -->
        <c:if test="#{(appcore_Request.attributes['form.submit'])}">
            <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                     messageType="text/plain"
                     messageEncoding="UTF-8"
                     from="#{appcore_Application.property('notifications.mail.default')}"
                     bcc="#{appcore_Application.property('notifications.mail.admins')}"
                     subject="#{appcore_Request.attributes['form.subject']}"
                     content="#{appcore_Request.attributes['form.content']}
                                     &#10;&#10;--
                                     &#10;#{appcore_ApplicationSecurity.security.user.userName}
                                     &#10;#{appcore_ApplicationSecurity.security.user.userFirstName} #{appcore_ApplicationSecurity.security.user.userLastName}
                                     &#10;#{appcore_ApplicationSecurity.security.user.userEmail}
                                     &#10;#{appcore_ApplicationSecurity.security.user.userPhone}
                                     &#10;#{appcore_ApplicationSecurity.security.user.userMobile}"
                     infoMessage="#{appcore_Session.dictionary('messages.action.success')}"/>
        </c:if>
        <c:if test="#{(appcore_Request.attributes['form.reset'])}">
            <m:eval value="#{appcore_Request.attributes.remove('form.subject')}"/>
            <m:eval value="#{appcore_Request.attributes.remove('form.content')}"/>
        </c:if>

        <div class="flex align-items-center justify-content-center pt-2">
        <p:panel style="width:800px;">
            <f:facet name="header">#{pageTitle}</f:facet>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panelGrid columns="1"
                         layout="grid"
                         columnClasses="ui-grid-col-12">
                <p:outputLabel value="#{appcore_Session.dictionary('subject')}"
                               for="subject"/>
                <p:inputText id="subject"
                             required="true"
                             binding="#{appcore_Request.attributes['form.subject.binding']}"
                             value="#{appcore_Request.attributes['form.subject']}"
                             style="width:100%;">
                    <f:validator validatorId="appcore_Validator"/>
                    <f:attribute name="validation1"
                                 value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['form.subject.binding'].submittedValue,'\\S{1}.{10,}')}"/>
                    <f:attribute name="validation1-type"
                                 value="ERROR"/>
                    <f:attribute name="validation1-message"
                                 value="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:inputText>
                <p:outputLabel value="#{appcore_Session.dictionary('message')}"
                               for="content"/>
                <p:inputTextarea id="content"
                                 required="true"
                                 binding="#{appcore_Request.attributes['form.content.binding']}"
                                 value="#{appcore_Request.attributes['form.content']}"
                                 style="width:100%" rows="20">
                    <f:validator validatorId="appcore_Validator"/>
                    <f:attribute name="validation1"
                                 value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['form.content.binding'].submittedValue,'(?s)\\S{1}.{19,}')}"/>
                    <f:attribute name="validation1-type"
                                 value="ERROR"/>
                    <f:attribute name="validation1-message"
                                 value="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:inputTextarea>
                <h:outputText escape="false" value="#{appcore_Session.dictionary('support.content')}"/>
            </p:panelGrid>
            <f:facet name="footer">
                <div align="right">
                    <p:commandButton value="#{appcore_Session.dictionary('send')}"
                                     icon="fa fa-check"
                                     update="@form">
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                    </p:commandButton>
                    <p:spacer width="10"/>
                    <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                     icon="fa fa-rotate-right"
                                     update="@form"
                                     immediate="true">
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                        <p:resetInput target="@form"/>
                    </p:commandButton>
                </div>
            </f:facet>
        </p:panel>
        </div>

    </h:form>
    </ui:define>
</ui:composition>