<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-cache"/>
        <c:set scope="request" var="pageTitle" value="Test cache get"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <p/>
        <h:outputText value="#{appcore_Application.grid.name()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('test.data').metrics().size}"/>

        <p/>
        <h:outputText value="#{appcore_Utils.objectId(appcore_Application.cache('applicationGrid','test_data').get('key-0'))}"/>
        - <h:outputText value="#{appcore_Application.grid.cache('test_data').get('key-0')}"/>
        <br/><h:outputText value="#{appcore_Utils.objectId(appcore_Application.cache('applicationGrid','test_data').get('key-1'))}"/>
        - <h:outputText value="#{appcore_Application.grid.cache('test_data').get('key-1')}"/>
        <br/><h:outputText value="#{appcore_Utils.objectId(appcore_Application.cache('applicationGrid','test_data').get('key-2'))}"/>
        - <h:outputText value="#{appcore_Application.cache('applicationGrid','test_data').get('key-2')}"/>

        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_properties').metrics()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_dictionary').metrics()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_database').metrics()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_data').metrics()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_web_sessions').metrics()}"/>
        <p/>
        <h:outputText value="#{appcore_Application.cache('applicationGrid','test_web_content').metrics()}"/>
    </ui:define>
</ui:composition>