<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-cache-put"/>
        <c:set scope="request" var="pageTitle" value="Test cache put"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        #{appcore_Application.cache('applicationGrid','test_data').put('key-0','Text value')}
        #{appcore_Application.cache('applicationGrid','test_data').put('key-1',12345)}
        #{appcore_Application.cache('applicationGrid','test_data').put('key-2',appcore_Utils.newInstance('java.util.Date'))}

        <h3><h:outputText value="Cache put ..."/></h3>
    </ui:define>
</ui:composition>