<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                template="/resources/welcome/templates/template-error.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="view-expired"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('error.title')}"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->

        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
        <h:form>
            <div class="flex align-items-center justify-content-center" style="height: 60vh;">
                <p:panel header="#{appcore_Session.dictionary('message')}" style="width: 400px">
                    <div class="flex">
                        <h:outputText style="font-size: 2em;"
                                      styleClass="fa fa-clock-o p-4"/>
                        <div class="align-self-center" style="white-space: unset;">
                            <h:outputText value="#{appcore_Session.dictionary('view-expired.message')}"/>
                        </div>
                    </div>
                    <f:facet name="footer">
                        <div align="right">
                            <p:button value="#{appcore_Session.dictionary('reload')}"
                                      ajax="false"
                                      href="#{request.getHeader('Referer')}"/>
                        </div>
                    </f:facet>
                </p:panel>
            </div>
        </h:form>
    </ui:define>
</ui:composition>