/* ------------------------------------------
 *              CMS styles 1.0
/* ------------------------------------------


/* ------------------------------------------
 * Global background style
*-------------------------------------------*/
html {
    background:none;
    background: url('#{facesContext.externalContext.applicationContextPath}/resources/myset/common/img/background-cms.jpg');
    background-position: left top;
    background-repeat: no-repeat;
    background-size: contain;
}

/* ------------------------------------------
 * Transparency
*-------------------------------------------*/
.design,
body .ui-dialog .ui-dialog-content,
body .ui-panel .ui-panel-content,
body .ui-panel .ui-panel-footer,
body .ui-panelgrid .ui-panelgrid-cell,
body .ui-datalist .ui-datalist-content,
body .ui-datatable .ui-datatable-data > tr,
body .ui-datatable.ui-datatable-striped .ui-datatable-data > tr.ui-datatable-odd,
body .ui-datatable .ui-paginator
{
    background: none;
}

body .ui-dialog,
body .ui-panel,
body .ui-panelgrid,
body .ui-datatable
{
    background: rgba(255,255,255,0.4);
}



/* ------------------------------------------
 * Styles
*-------------------------------------------*/
h1 {
    color: #535353;
    font-size: 20px;
    font-weight: normal;
    padding: 0 0 0 10px;
    border-left: 4px solid #aaaaaa;
}

/* -----------------------------
 * noborders
 *-----------------------------*/
.noborders,
.noborders .ui-widget-content,
.noborders .ui-panelgrid .ui-panelgrid-cell{
    border-bottom: none;
    border-left: none;
    border-right: none;
}

/* -----------------------------
 * background-style1
 *-----------------------------*/
.background-style1{
    background: rgba(125, 125, 125, 0.2);
}



/* -----------------------------
 * messages
 *-----------------------------*/
.messages{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}

.messages .ui-widget-content,
.messages tbody td,
.messages thead th{
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    border-bottom: none;
    border-left: none;
    border-right: none;
    border-top: transparent;
}

.messages .comment-left {
    width: 180px;
    text-align: center;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.8);
}

.messages .comment-right {
    padding-left: 10px;
    vertical-align: top;
    background: rgba(255, 255, 255, 0.5);
}

.messages .comment-subject {
    font-weight: bolder;
    font-size: 120%;
}

.messages .comment-user {
    font-weight: normal;
    font-size: 90%;
}

.messages .comment-date {
    font-weight: normal;
    font-size: 90%;
}

.messages pre {
    font-family: inherit;
    font-size: 100%;
}

.messages .comment-content {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
}



