<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <!-- AjaxStatus -->
    <p:dialog widgetVar="ajaxStatusDialogWidget"
              appendTo="@(body)"
              modal="false"
              position="center top"
              styleClass="ajax-status-dialog"
              resizable="false"
              closeOnEscape="true">
        <p:ajaxStatus>
            <f:facet name="prestart">
                <span class="fa fa-refresh animate-spin"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.prestart')}"/>
            </f:facet>
            <f:facet name="start">
                <span class="fa fa-refresh animate-spin"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.start')}"/>
            </f:facet>
            <f:facet name="success">
                <span class="fa fa-smile-o"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.success')}"/>
            </f:facet>
            <f:facet name="error">
                <span class="fa fa-frown-o"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.error')}"/>
            </f:facet>
        </p:ajaxStatus>
    </p:dialog>
    <p:ajaxStatus onstart="PF('ajaxStatusDialogWidget').show();" oncomplete="PF('ajaxStatusDialogWidget').hide();"/>

    <!-- Messages -->
    <p:growl rendered="true" redisplay="true" showSummary="false" showDetail="true" sticky="true">
        <p:autoUpdate/>
    </p:growl>
    <p:outputPanel rendered="false" autoUpdate="true">
        <p:dialog appendTo="@(body)"
                  modal="false"
                  position="center top"
                  closable="true"
                  closeOnEscape="true"
                  header="#{appcore_Session.dictionary('messages')}"
                  visible="#{not empty facesContext.messageList}">
            <p:messages autoUpdate="true" redisplay="true" showSummary="false" showDetail="true" showIcon="false"/>
        </p:dialog>
    </p:outputPanel>

    <h:form id="headerForm">
        <p:panel collapsed="true">
            <f:facet name="header">
                <div class="flex justify-content-between" style="font-weight: bold;">
                    <div><h:outputText value="#{appcore_Session.dictionary('company')}"/></div>
                    <div><h:outputText value="#{pageTitle}"/></div>
                    <div class="pr-2"><h:outputText
                            value="#{appcore_Application.property('application.name')} #{appcore_Application.property('application.version')} - #{appcore_Session.dictionary('application.environment')}"/>
                    </div>
                </div>
            </f:facet>
        </p:panel>
    </h:form>

</ui:composition>