<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="name" type="java.lang.String" required="true"/>
    <composite:attribute name="dates" type="java.lang.String" required="true"/>
</composite:interface>
<composite:implementation>
    <h:outputScript rendered="#{cc.rendered and facesContext.externalContext.response.status==200}">
        //<![CDATA[
                    //==============================================
                    // Calendar functions - #{cc.id}
                    //==============================================
                    function #{cc.attrs.name}(date) {
                        var dates = #{cc.attrs.dates};
                        //console.log(dates);
                        for (var i = 0; i < dates.length; i++) {
                            var eDate=new Date(dates[i]);
                            //console.log(date.getTime()+','+eDate.getTime());
                            if (date.getTime() == eDate.getTime()) {
                                //console.log(date);
                                return [true,'ui-highlight'];
                            }
                        }
                        return [false,''];
                     }
                    function #{cc.attrs.name}All(date) {
                        var dates = #{cc.attrs.dates};
                        //console.log(dates);
                        for (var i = 0; i < dates.length; i++) {
                            var eDate=new Date(dates[i]);
                            //console.log(date.getTime()+','+eDate.getTime());
                            if (date.getTime() == eDate.getTime()) {
                                //console.log(date);
                                return [true,'ui-highlight'];
                            }
                        }
                        return [true,''];
                     }

                 //]]>
    </h:outputScript>
</composite:implementation>
</html>