<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:composite="http://java.sun.com/jsf/composite"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui">
<composite:interface>
    <composite:attribute name="refreshText" required="false" type="java.lang.String"/>
    <composite:attribute name="validationMessage" required="false" type="java.lang.String"/>
</composite:interface>
<composite:implementation>
    <h:graphicImage rendered="#{cc.rendered and facesContext.externalContext.response.status==200}"
                    url="/captcha?#{session.lastAccessedTime}"
                    onclick="this.src='#{facesContext.externalContext.applicationContextPath}/captcha?'+Math.random();"
                    style="cursor:pointer;vertical-align: middle;"
                    title="#{cc.attrs.refreshText}"/>
    <p:inputText rendered="#{cc.rendered and facesContext.externalContext.response.status==200}"
                 id="#{cc.id}"
                 required="true"
                 binding="#{appcore_Request.attributes[cc.attrs.id.concat('Binding')]}"
                 styleClass="captcha">
        <f:validator validatorId="appcore_Validator"/>
        <f:attribute name="validation1"
                     value="#{(appcore_Request.attributes[cc.attrs.id.concat('Binding')].submittedValue.equals(session.getValue('captchaKey')))}"/>
        <f:attribute name="validation1-type"
                     value="ERROR"/>
        <f:attribute name="validation1-message"
                     value="#{cc.attrs.validationMessage}"/>
    </p:inputText>
</composite:implementation>
</html>