<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:m="http://www.myset.ro/components"
      xmlns:composite="http://java.sun.com/jsf/composite">
<composite:interface>
    <composite:attribute name="pageId" type="java.lang.String" required="true"/>
    <composite:attribute name="widgetVar" type="java.lang.String" required="true"/>
    <composite:attribute name="value" type="java.lang.Object" required="false"
                         default="#{appcore_Session.attributes[cc.attrs.pageId][cc.id]}"/>
    <composite:attribute name="multiViewState" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="rowKey" type="java.lang.String" required="true"/>
    <composite:attribute name="title" type="java.lang.String" required="false"/>
    <composite:attribute name="style" type="java.lang.String" required="false"/>
    <composite:attribute name="styleClass" type="java.lang.String" required="false"/>
    <composite:attribute name="showGridlines" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="size" type="java.lang.String" required="false" default="small"/>
    <composite:attribute name="stripedRows" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="reflow" type="java.lang.Boolean" required="false" default="false"/>
    <composite:attribute name="paginator" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="paginatorPosition" type="java.lang.String" required="false" default="both"/>
    <composite:attribute name="paginatorTemplate" type="java.lang.String" required="false"
                         default="#{appcore_Session.dictionary('datatable.paginator.template')}"/>
    <composite:attribute name="pageLinks" type="java.lang.String" required="false"
                         default="#{appcore_Session.dictionary('datatable.paginator.pageslinks')}"/>
    <composite:attribute name="emptyMessage" type="java.lang.String" required="false"
                         default="#{appcore_Session.dictionary('datatable.empty.message')}"/>
    <composite:attribute name="currentPageReportTemplate" type="java.lang.String" required="false"
                         default="#{appcore_Session.dictionary('datatable.paginator.currentpage.template')}"/>
    <composite:attribute name="rows" type="java.lang.String" required="false"
                         default="#{appcore_Application.property('preference.datatable.paginator.rows')}"/>
    <composite:attribute name="rowsPerPageTemplate" type="java.lang.String" required="false"
                         default="#{appcore_Application.property('preference.datatable.paginator.rows.templates')}"/>
    <composite:attribute name="sortBy" type="java.lang.String" required="false"/>
    <composite:attribute name="sortOrder" type="java.lang.String" required="false"
                         default="ascending"/>
    <composite:attribute name="renderedSearch" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="renderedResetState" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="renderedColumToggler" type="java.lang.Boolean" required="false" default="true"/>
    <composite:attribute name="renderedExporter" type="java.lang.Boolean" required="false" default="true"/>
</composite:interface>
<composite:implementation>
    <m:eval rendered="#{cc.rendered and facesContext.externalContext.response.status==200 and appcore_Request.attributes['filter.execute'] and
                       (appcore_Utils.getInt(appcore_Application.property('datasets.rows.limit')) le cc.attrs.value.size())}"
            value="#{appcore_FacesUtils.warnMessage(appcore_Session.dictionary('datatable.rows.exceeded'))}"/>
    <p:dataTable id="#{cc.id}"
                 rendered="#{cc.rendered and facesContext.externalContext.response.status==200}"
                 widgetVar="#{cc.attrs.widgetVar}"
                 style="#{cc.attrs.style}"
                 styleClass="#{cc.attrs.styleClass}"
                 showGridlines="#{cc.attrs.showGridlines}"
                 size="#{cc.attrs.size}"
                 stripedRows="#{cc.attrs.stripedRows}"
                 reflow="#{cc.attrs.reflow}"
                 value="#{cc.attrs.value}"
                 var="row"
                 multiViewState="#{cc.attrs.multiViewState}"
                 resizableColumns="true"
                 draggableColumns="true"
                 paginator="#{cc.attrs.paginator}"
                 paginatorPosition="#{cc.attrs.paginatorPosition}"
                 paginatorTemplate="#{cc.attrs.paginatorTemplate}"
                 pageLinks="#{cc.attrs.pageLinks}"
                 emptyMessage="#{cc.attrs.emptyMessage}"
                 currentPageReportTemplate="#{cc.attrs.currentPageReportTemplate}"
                 rows="#{cc.attrs.rows}"
                 rowsPerPageTemplate="#{cc.attrs.rowsPerPageTemplate}"
                 rowKey="#{cc.attrs.rowKey}"
                 sortMode="single"
                 allowUnsorting="true"
                 sortBy="#{cc.attrs.sortBy}"
                 sortOrder="#{cc.attrs.sortOrder}"
                 filteredValue="#{appcore_Session.attributes[cc.attrs.pageId][cc.id.concat('.filteredValue')]}"
                 globalFilter="#{appcore_Session.attributes[cc.attrs.pageId][cc.id.concat('.globalFilter')]}">
        <p:ajax event="colReorder"
                onsuccess="PF('#{cc.attrs.widgetVar}').filter()"/>
        <f:facet name="header">
            <h:outputText value="#{cc.attrs.title}"
                          style="visibility:hidden;text-align:center;"/>
            <p:inputText id="globalFilter"
                         rendered="#{cc.attrs.renderedSearch}"
                         value="#{appcore_Session.attributes[cc.attrs.pageId][cc.id.concat('.globalFilter')]}"
                         onchange="PF('#{cc.attrs.widgetVar}').filter()"
                         styleClass="datatable-filter"/>
            <p:watermark rendered="#{cc.attrs.renderedSearch}"
                         for="globalFilter"
                         value="#{appcore_Session.dictionary('search')}"/>
            <p:commandButton rendered="#{cc.attrs.renderedSearch}"
                             icon="fa fa-search"
                             title="#{appcore_Session.dictionary('search')}"
                             ajax="true"
                             onclick="PF('#{cc.attrs.widgetVar}').filter()"/>
            <p:commandButton id="toggler"
                             rendered="#{cc.attrs.renderedColumToggler}"
                             title="#{appcore_Session.dictionary('content')}"
                             icon="fa fa-table"
                             ajax="true"/>
            <p:commandButton rendered="#{cc.attrs.multiViewState and cc.attrs.renderedResetState}"
                             icon="fa fa-eraser"
                             title="#{appcore_Session.dictionary('reset')}"
                             ajax="false"
                             actionListener="#{appcore_PrimeFacesUtils.current.multiViewState().clearAll(facesContext.viewRoot.viewId,true)}">
                <f:setPropertyActionListener target="#{appcore_Session.attributes[cc.attrs.pageId][cc.id.concat('.globalFilter')]}" value=""/>
                <f:setPropertyActionListener target="#{appcore_Session.attributes[cc.attrs.pageId][cc.id.concat('.filteredValue')]}" value=""/>
            </p:commandButton>
            <p:commandButton id="exportButton"
                             rendered="#{cc.attrs.renderedExporter}"
                             icon="fa fa-download"
                             title="#{appcore_Session.dictionary('export')}"
                             ajax="true"/>
            <p:tieredMenu rendered="#{cc.attrs.renderedExporter}"
                          overlay="true"
                          trigger="exportButton"
                          my="left top"
                          at="left bottom">
                <p:menuitem ajax="false" value="PDF" icon="fa fa-file-pdf-o">
                    <p:dataExporter type="pdf"
                                 target="#{cc.id}"
                                 skipComponents="org.primefaces.component.watermark.Watermark,
                                     org.primefaces.component.inputtext.InputText,
                                     org.primefaces.component.tieredmenu.TieredMenu,
                                     org.primefaces.component.columntoggler.ColumnToggler"
                                 fileName="#{cc.attrs.pageId}"
                                 pageOnly="true"
                                 orientation="landscape"
                                 datasetPadding="0"
                                 facetBackground="#cecece"
                                 facetFontSize="11"
                                 facetFontStyle="bold"
                                 cellFontSize="11"
                                 cellFontStyle="normal"/>
                </p:menuitem>
                <p:menuitem ajax="false" value="XLS" icon="fa fa-file-excel-o">
                    <p:dataExporter type="xlsx"
                                 target="#{cc.id}"
                                 skipComponents="org.primefaces.component.watermark.Watermark,org.primefaces.component.tieredmenu.TieredMenu,org.primefaces.component.columntoggler.ColumnToggler"
                                 fileName="#{cc.attrs.pageId}"
                                 pageOnly="true"
                                 datasetPadding="0"
                                 facetFontSize="11"
                                 facetFontStyle="bold"
                                 cellFontSize="11"
                                 cellFontStyle="normal"/>
                </p:menuitem>
                <p:menuitem ajax="false"
                            value="CSV"
                            icon="fa fa-file-text-o">
                    <p:dataExporter type="csv"
                                    target="#{cc.id}"
                                    fileName="#{cc.attrs.pageId}"
                                    pageOnly="true"/>
                </p:menuitem>
                <p:menuitem ajax="false" value="XML" icon="fa fa-file-code-o">
                    <p:dataExporter type="xml"
                                    target="#{cc.id}"
                                    fileName="#{cc.attrs.pageId}"
                                    pageOnly="true"/>
                </p:menuitem>
            </p:tieredMenu>
            <p:columnToggler rendered="#{cc.attrs.renderedColumToggler}"
                             datasource="#{cc.id}"
                             trigger="toggler"/>

        </f:facet>
        <composite:insertChildren/>
    </p:dataTable>
</composite:implementation>
</html>