<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--             DELETE                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteDialog"
              widgetVar="deleteDialogWidget"
              closeOnEscape="true"
              appendTo="@(body)"
              modal="true"
              position="center top"
              closable="true"
              maximizable="true"
              header="#{appcore_Session.dictionary('delete')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['delete.execute'])}">
                <m:eval value="#{appcore_FileManager.delete()}"/>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteDialogWidget\').hide()')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;height:100%;">
                <h:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:dataList value="#{appcore_FileManager.selectedFiles}"
                                var="row"
                                itemType="none">
                        <p:column>
                            <h:outputText value="#{row.name}"/>
                        </p:column>
                    </p:dataList>
                </h:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('yes')}"
                                         styleClass="ui-confirmdialog-yes"
                                         icon="fa fa-check"
                                         update="@form treeForm actionsMenuForm folderContentForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.execute']}" value="true"/>
                        </p:commandButton>
                        <h:outputText value=" "/>
                        <p:commandButton value="#{appcore_Session.dictionary('no')}"
                                         type="button"
                                         styleClass="ui-confirmdialog-no"
                                         icon="fa fa-close"
                                         onclick="PF('deleteDialogWidget').hide()"/>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>