<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            EDIT WEB              -->
<!-- ================================= -->
<ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="filemanager"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(request.getParameter('init'))}">
                <m:eval value="#{appcore_FileManager.editedFiles.put(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_FileManager.selectedFile),appcore_FileManager.selectedFile)}"/>
                <m:eval value="#{appcore_FileManagerWebEditor.setEditedFileKey(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_FileManager.selectedFile))}"/>
                <m:eval value="#{appcore_FileManagerWebEditor.editInit(appcore_FileManager.editedFiles[appcore_FileManagerWebEditor.editedFileKey])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['edit.save'])}">
                <m:eval value="#{appcore_FileManagerWebEditor.editSave(appcore_FileManager.editedFiles[appcore_FileManagerWebEditor.editedFileKey])}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('edit')} web #{appcore_FileManager.selectedFile.canonicalPath}"/>
            <p:menubar id="menubar-edit"
                       autoDisplay="false"
                       position="fixed"
                       style="width:98%;">
                <p:menuitem icon="fa fa-check"
                            value="#{appcore_Session.dictionary('save')}"
                            update="@form">
                    <f:setPropertyActionListener target="#{appcore_Request.attributes['edit.save']}" value="true"/>
                </p:menuitem>

                <p:menuitem icon="fa fa-rotate-right"
                            value="#{appcore_Session.dictionary('refresh')}"
                            action="#{appcore_FileManagerWebEditor.editInit(appcore_FileManager.editedFiles[appcore_FileManagerWebEditor.editedFileKey])}"
                            update="@form"/>
            </p:menubar>
            <p:sticky target="menubar-edit"/>
            <h:inputHidden autocomplete="off" value="#{appcore_FileManagerWebEditor.editedFileKey}"/>
            <pe:ckEditor language="#{appcore_Session.locale}"
                         value="#{appcore_FileManagerWebEditor.editorFileContent}"
                         customConfig="#{appcore_Application.property('web.editor.config')}"
                         width="98%" height="500"/>
        </h:form>

    </ui:define>
</ui:composition>