<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            EXTRACT                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="extractDialog"
              dynamic="true"
              appendTo="@(body)"
              position="center top"
              closable="true"
              maximizable="true"
              width="500"
              widgetVar="extractDialogWidget"
              header="#{appcore_Session.dictionary('extract')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['extract.init'])}">
                <c:if test="#{(appcore_FileManager.selectedFile!=null)}">
                    <m:eval value="#{appcore_FileManager.setArchiveFileName(appcore_FileManager.selectedFile.name)}"/>
                </c:if>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['extract.reset'])}">
                <m:eval value="#{appcore_FileManager.setArchiveFileName(null)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['extract.execute'])}">
                <m:eval value="#{appcore_FileManager.extract()}"/>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'extractDialogWidget\').hide()')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;height:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:outputLabel for="archiveFileName" value="#{appcore_Session.dictionary('folder')}"/>
                    <p:inputText id="archiveFileName"
                                 value="#{appcore_FileManager.archiveFileName}"
                                 required="false"
                                 style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('save')}"
                                         icon="fa fa-check"
                                         update="@form treeForm actionsMenuForm folderContentForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['extract.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}" immediate="true" icon="fa fa-rotate-right" update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['extract.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>