<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="west">
        <h:form id="treeForm">
            <p:tree dynamic="true"
                    cache="false"
                    value="#{appcore_FileManager.root}"
                    var="node"
                    selectionMode="single"
                    selection="#{appcore_FileManager.selectedTreeNode}">
                <p:ajax event="select"
                        update="@form actionsMenuForm folderContentForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.treeNodeSelect}"/>
                <p:treeNode type="root"
                            collapsedIcon="fa fa-building"
                            expandedIcon="fa fa-building">
                </p:treeNode>
                <p:treeNode type="local"
                            collapsedIcon="fa fa-folder"
                            expandedIcon="fa fa-folder-open">
                    <h:outputText value="#{node.fields['id']}"/>
                </p:treeNode>
                <p:treeNode type="folder"
                            collapsedIcon="fa fa-folder"
                            expandedIcon="fa fa-folder-open">
                    <h:outputText value="#{node.fields['id']}"/>
                </p:treeNode>
            </p:tree>
        </h:form>
    </ui:define>

    <ui:define name="center">
        <!-- =================================== -->
        <!--             Form logic              -->
        <!-- =================================== -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>

        <!-- =================================== -->
        <!--             Form design             -->
        <!-- =================================== -->
        <ui:include src="menu.xhtml"/>


        <ui:include src="upload.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <ui:include src="new-file.xhtml"/>
        <ui:include src="new-folder.xhtml"/>
        <ui:include src="rename.xhtml"/>
        <ui:include src="compress.xhtml"/>
        <ui:include src="extract.xhtml"/>
        <h:form id="folderContentForm">
            <p:dataTable id="dataTable"
                         widgetVar="dataTableWidget"
                         value="#{appcore_FileManager.currentFolderContent}"
                         var="row"
                         resizableColumns="true"
                         draggableColumns="true"
                         scrollable="true"
                         paginator="false"
                         selection="#{appcore_FileManager.selectedFiles}"
                         emptyMessage="#{appcore_Session.dictionary('datatable.empty.message')}"
                         rowStatePreserved="true"
                         allowUnsorting="true"
                         multiViewState="true"
                         rowKey="#{row.hashCode()}"
                         sortMode="single"
                         style="width: 100%"
                         filteredValue="#{appcore_Session.attributes[pageId]['dataTable.filteredValue']}"
                         globalFilter="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}">
                <p:ajax event="toggleSelect"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.toggleSelect}"/>
                <p:ajax event="rowSelectCheckbox"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.contentNodeSelect}"/>
                <p:ajax event="rowUnselectCheckbox"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.contentNodeUnselect}"/>
                <p:ajax event="rowSelect"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.contentNodeSelect}"/>
                <p:ajax event="rowUnselect"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.contentNodeUnselect}"/>
                <p:ajax event="rowDblselect"
                        update="@form treeForm actionsMenuForm :deleteDialog :renameDialog"
                        listener="#{appcore_FileManager.contentNodeDbSelect}"/>
                <f:facet name="header">
                    <p:inputText id="globalFilter"
                                 value="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}"
                                 onchange="PF('dataTableWidget').filter()"
                                 styleClass="datatable-filter"/>
                    <p:watermark for="globalFilter"
                                 value="#{appcore_Session.dictionary('search')}"/>
                    <p:commandButton icon="fa fa-search"
                                     title="#{appcore_Session.dictionary('search')}"
                                     ajax="true"
                                     onclick="PF('dataTableWidget').filter()"/>
                    <p:commandButton icon="fa fa-eraser"
                                     title="#{appcore_Session.dictionary('reset')}"
                                     ajax="false"
                                     actionListener="#{appcore_PrimeFacesUtils.current.multiViewState().clearAll(facesContext.viewRoot.viewId,true)}">
                        <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['dataTable.globalFilter']}" value=""/>
                        <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['dataTable.filteredValue']}" value=""/>
                    </p:commandButton>
                </f:facet>
                <p:column selectionMode="multiple" style="width:20px;text-align:center"/>
                <p:column sortBy="#{row.name}"
                          filterBy="#{row.name}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden">
                    <f:facet name="header">#{appcore_Session.dictionary('name')}</f:facet>
                    <h:outputText rendered="#{row.file}" styleClass="fa fa-file-o"/>
                    <h:outputText rendered="#{row.directory}" styleClass="fa fa-folder"/>
                    <h:outputText value="#{row.name}" style="margin-left:4px;"/>
                </p:column>
                <p:column sortBy="#{row.directory}"
                          filterBy="#{row.directory}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:80px;">
                    <f:facet name="header">#{appcore_Session.dictionary('type')}</f:facet>
                    <h:outputText rendered="#{row.file}" value="#{appcore_Session.dictionary('file')}"/>
                    <h:outputText rendered="#{row.directory}" value="#{appcore_Session.dictionary('folder')}"/>
                </p:column>
                <p:column sortBy="#{row.lastModified()}"
                          filterBy="#{row.lastModified()}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:140px;text-align:center;white-space: nowrap;">
                    <f:facet name="header">#{appcore_Session.dictionary('date')}</f:facet>
                    <h:outputText value="#{row.lastModified()}">
                        <f:convertDateTime type="both"
                                           locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"/>
                    </h:outputText>
                </p:column>
                <p:column sortBy="#{row.length()}"
                          filterBy="#{row.length()}"
                          filterMatchMode="contains"
                          filterStyleClass="hidden"
                          style="width:100px;text-align:right;">
                    <f:facet name="header">#{appcore_Session.dictionary('size')}</f:facet>
                    <h:outputText rendered="#{appcore_FileManager.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))>=0}"
                                  value="#{appcore_FileManager.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))}">
                        <f:convertNumber locale="#{appcore_Session.locale}"
                                         maxFractionDigits="2"/>
                    </h:outputText>
                    <h:outputText rendered="#{appcore_FileManager.fileSizeValue(row,appcore_Application.property('filemanager.size.multiplier'))>=0}"
                                  value="#{appcore_FileManager.fileSizeUnit(row,appcore_Application.property('filemanager.size.multiplier'),appcore_Session.dictionary('file-manager.size.short'))}"
                                  style="padding-left:2px;"/>
                </p:column>
            </p:dataTable>
        </h:form>

    </ui:define>
</ui:composition>