<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              MENU                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <h:form id="actionsMenuForm">
        <p:menubar id="actionsMenu"
                   autoDisplay="false"
                   position="fixed">
            <p:submenu label="#{appcore_Session.dictionary('new')}"
                       icon="fa fa-plus">
                <p:menuitem icon="fa fa-file-o"
                            value="#{appcore_Session.dictionary('file')}"
                            oncomplete="PF('newFileDialogWidget').show()"/>
                <p:menuitem icon="fa fa-folder"
                            value="#{appcore_Session.dictionary('folder')}"
                            oncomplete="PF('newFolderDialogWidget').show()"/>
            </p:submenu>
            <p:menuitem rendered="#{appcore_FileManager.singleSelectedFile}"
                        icon="fa fa-file-o"
                        value="#{appcore_Session.dictionary('view')}"
                        action="filemanager-view-text.xhtml?init=true&amp;faces-redirect=true"
                        ajax="false"
                        target="_blank"/>
            <p:menuitem rendered="#{appcore_FileManager.singleSelectedFile}"
                        icon="fa fa-edit"
                        value="#{appcore_Session.dictionary('edit')}"
                        action="filemanager-edit-text.xhtml?init=true&amp;faces-redirect=true"
                        ajax="false"
                        target="_blank"/>
            <p:menuitem rendered="#{appcore_FileManager.singleSelectedFile}"
                        icon="fa fa-globe"
                        value="#{appcore_Session.dictionary('edit')} web"
                        action="filemanager-edit-web.xhtml?init=true&amp;faces-redirect=true"
                        ajax="false"
                        target="_blank"/>
            <p:menuitem rendered="#{appcore_FileManager.singleSelected}"
                        icon="fa fa-edit"
                        value="#{appcore_Session.dictionary('rename')}"
                        oncomplete="PF('renameDialogWidget').show()"
                        update="@form :renameDialog">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['rename.init']}" value="true"/>
            </p:menuitem>
            <p:menuitem icon="fa fa-upload"
                        value="#{appcore_Session.dictionary('upload')}"
                        oncomplete="PF('uploadDialogWidget').show()"/>
            <p:menuitem rendered="#{appcore_FileManager.singleSelectedFile}"
                        icon="fa fa-download"
                        value="#{appcore_Session.dictionary('download')}">
                <p:fileDownload value="#{appcore_FileManager.download(appcore_FileManager.selectedFile)}"/>
            </p:menuitem>
            <p:menuitem rendered="#{!appcore_FileManager.nothingSelected}"
                        disabled="#{appcore_FileManager.copyPressed}"
                        icon="fa fa-copy"
                        value="#{appcore_Session.dictionary('copy')}"
                        action="#{appcore_FileManager.copy}"
                        update="@form folderContentForm"/>
            <p:menuitem rendered="#{!appcore_FileManager.nothingSelected}"
                        disabled="#{appcore_FileManager.movePressed}"
                        icon="fa fa-cut"
                        value="#{appcore_Session.dictionary('cut')}"
                        action="#{appcore_FileManager.move}"
                        update="@form folderContentForm"/>
            <p:menuitem rendered="#{(appcore_FileManager.copyPressed or appcore_FileManager.movePressed)}"
                        disabled="appcore_FileManager.movePressed"
                        icon="fa fa-paste"
                        value="#{appcore_Session.dictionary('paste')}"
                        update="@form treeForm folderContentForm"
                        action="#{appcore_FileManager.paste}"/>
            <p:menuitem rendered="#{!appcore_FileManager.nothingSelected}"
                        icon="fa fa-trash"
                        value="#{appcore_Session.dictionary('delete')}"
                        oncomplete="PF('deleteDialogWidget').show()"/>
            <p:menuitem rendered="#{!appcore_FileManager.nothingSelected}"
                        icon="fa fa-file-archive-o"
                        value="#{appcore_Session.dictionary('compress')}"
                        update="@form :compressDialog"
                        oncomplete="PF('compressDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['compress.init']}" value="true"/>
            </p:menuitem>
            <p:menuitem rendered="#{appcore_FileManager.singleSelectedFile}"
                        icon="fa fa-file-archive-o"
                        value="#{appcore_Session.dictionary('extract')}"
                        update="@form :extractDialog"
                        oncomplete="PF('extractDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['extract.init']}" value="true"/>
            </p:menuitem>
        </p:menubar>
        <p:menubar id="navigationMenu"
                   style="border-top: none;"
                   autoDisplay="false"
                   position="fixed">
            <p:menuitem icon="fa fa-arrow-up"
                        title="#{appcore_Session.dictionary('up')}"
                        disabled="#{appcore_FileManager.upDisabled}"
                        action="#{appcore_FileManager.up()}"
                        update="@form treeForm folderContentForm"/>
            <p:menuitem icon="fa fa-arrow-left"
                        title="#{appcore_Session.dictionary('back')}"
                        disabled="#{appcore_FileManager.backDisabled}"
                        action="#{appcore_FileManager.back()}"
                        update="@form treeForm folderContentForm"/>
            <p:menuitem icon="fa fa-arrow-right"
                        title="#{appcore_Session.dictionary('forward')}"
                        disabled="#{appcore_FileManager.forwardDisabled}"
                        action="#{appcore_FileManager.forward()}"
                        update="@form treeForm folderContentForm"/>
            <p:menuitem icon="fa fa-rotate-right"
                        title="#{appcore_Session.dictionary('refresh')}"
                        action="#{appcore_FileManager.refreshTree()}"
                        update="@form treeForm folderContentForm"/>
            <p:menuitem title="#{appcore_Session.dictionary('refresh')} "
                        value="#{appcore_FileManager.currentFolder}"
                        action="#{appcore_FileManager.refreshFolderContent()}"
                        update="@form treeForm folderContentForm"/>
        </p:menubar>
    </h:form>
</ui:composition>