<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               UPLOAD              -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="uploadDialog"
              dynamic="true"
              appendTo="@(body)"
              position="center top"
              closable="true"
              maximizable="true"
              widgetVar="uploadDialogWidget"
              width="800"
              height="400"
              header="#{appcore_Session.dictionary('upload')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:fileUpload listener="#{appcore_FileManager.upload}"
                          multiple="true"
                          mode="advanced"
                          dragDropSupport="false"
                          update="@form folderContentForm"
                          style="width:100%;height:100%;"
                          label="#{appcore_Session.dictionary('file')}"
                          uploadLabel="#{appcore_Session.dictionary('upload')}"
                          cancelLabel="#{appcore_Session.dictionary('cancel')}"
                          invalidFileMessage="#{appcore_Session.dictionary('file-manager.invalid.file.type')}"
                          invalidSizeMessage="#{appcore_Session.dictionary('file-manager.invalid.file.size')}"
                          fileLimitMessage="#{appcore_Session.dictionary('file-manager.files.limit')}"
                          maxChunkSize="#{appcore_Session.dictionary('filemanager.upload.maxchunksize')}"/>
        </h:form>
    </p:dialog>
</ui:composition>