<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            EDIT TEXT              -->
<!-- ================================= -->
<ui:composition xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="filemanager"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(request.getParameter('init'))}">
                <m:eval value="#{appcore_FileManager.editedFiles.put(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_FileManager.selectedFile),appcore_FileManager.selectedFile)}"/>
                <m:eval value="#{appcore_FileManagerTextViewer.setEditedFileKey(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_FileManager.selectedFile))}"/>
                <m:eval value="#{appcore_FileManagerTextViewer.viewInit(appcore_FileManager.editedFiles[appcore_FileManagerTextViewer.editedFileKey])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['view.refresh'])}">
                <m:eval value="#{appcore_FileManagerTextViewer.viewRefresh(appcore_FileManager.editedFiles[appcore_FileManagerTextViewer.editedFileKey],appcore_FileManagerTextViewer.editorFileSize)}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <c:set scope="request"
                   var="pageTitle"
                   value="#{appcore_Session.dictionary('view')} #{appcore_FileManager.selectedFile.canonicalPath}"/>
            <p:fragment id="refreshFragment">
                <p:outputPanel id="menuPanel"
                               styleClass="flex ui-card p-1">
                    <p:commandButton id="refreshButton"
                                     widgetVar="refreshButtonWidget"
                                     icon="fa fa-rotate-right"
                                     value="#{appcore_Session.dictionary('reload')}"
                                     update="refreshFragment">
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['view.refresh']}" value="true"/>
                    </p:commandButton>
                    <p:selectOneMenu id="refreshInterval"
                                     value="#{appcore_FileManagerTextViewer.editorRefreshInterval}"
                                     onchange="PF('refreshButtonWidget').jq.click();">
                        <f:selectItem itemLabel="#{appcore_Session.dictionary('manual')}" noSelectionOption="true"/>
                        <f:selectItem itemLabel="60s" itemValue="60"/>
                        <f:selectItem itemLabel="30s" itemValue="30"/>
                        <f:selectItem itemLabel="20s" itemValue="20"/>
                        <f:selectItem itemLabel="10s" itemValue="10"/>
                        <f:selectItem itemLabel="5s" itemValue="5"/>
                        <f:ajax event="change" update="refreshFragment"/>
                    </p:selectOneMenu>
                </p:outputPanel>
                <h:inputHidden autocomplete="off" value="#{appcore_Request.attributes['view.refresh']}"/>
                <h:inputHidden autocomplete="off" value="#{appcore_FileManagerTextViewer.editedFileKey}"/>
                <h:inputHidden autocomplete="off" value="#{appcore_FileManagerTextViewer.editorFileSize}"/>
                <h:outputScript rendered="#{appcore_Request.attributes['view.refresh']}">
                    function appendText(text){
                    var cm = $('.CodeMirror')[0].CodeMirror;
                    var doc = cm.getDoc();
                    cm.execCommand('goDocEnd');
                    var cursor = doc.getCursor();
                    doc.replaceRange(text, cursor);
                    $('html, body').animate({scrollTop:$(document).height()}, 'slow');
                    }
                    appendText($('.tail').text());
                </h:outputScript>
                <h:outputText style="display:none;"
                              styleClass="tail"
                              escape="true"
                              value="#{appcore_FileManagerTextViewer.editorFileContent}"/>
                <p:poll autoStart="#{(appcore_FileManagerTextViewer.editorRefreshInterval>0)}"
                        interval="#{appcore_FileManagerTextViewer.editorRefreshInterval}"
                        listener="#{appcore_Request.attributes.put('view.refresh','true')}"
                        update="refreshFragment"/>
                <p:sticky target="menuPanel"/>
            </p:fragment>
        </h:form>
        <h:form>
            <pe:codeMirror id="fileContent"
                           styleClass="fileContentClass"
                           value="#{appcore_FileManagerTextViewer.editorFileContent.toString()}"
                           readonly="true"
                           smartIndent="false"
                           lineNumbers="true"
                           lineWrapping="true"
                           pollInterval="100"
                           undoDepth="1000"
                           theme="default"/>
        </h:form>
    </ui:define>
</ui:composition>