<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites" xmlns:f="http://java.sun.com/jsf/core"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-reports-list"/>
        <c:set scope="request" var="pageTitle" value="Test reports list"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->

            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('p1')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('p2')}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <!-- reportParameters -->
                <m:eval value="#{appcore_Request.attributes.put('reportParameters',appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
                <m:eval value="#{appcore_Request.attributes['reportParameters'].put('parameter1',appcore_Session.attributes[pageId]['p1'])}"/>

                <!-- processReport -->
                <mc:report rendered="true"
                           reportProcessorService="#{appcore_ApplicationReports.reportsProcessorService}"
                           report="#{appcore_ApplicationReports.reportsProcessorService.getProperties().getProperty('reports.resources.path').concat('test/test-list.rptdesign')}"
                           reportOutputInline="true"
                           reportOutputFormat="#{appcore_Session.attributes[pageId]['reportOutputFormat']}"
                           reportParameters="#{appcore_Request.attributes['reportParameters']}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="panelForm" styleClass="center pt-2" style="width:500px;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="p1"
                                   value="Parameter 1"/>
                    <p:inputText id="p1"
                                 required="true"
                                 value="#{appcore_Session.attributes[pageId]['p1']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="reportOutputFormat"
                                   value="Format"/>
                    <p:selectOneMenu id="reportOutputFormat"
                                     value="#{appcore_Session.attributes[pageId]['reportOutputFormat']}">
                        <f:selectItem itemValue="pdf" itemLabel="PDF"/>
                        <f:selectItem itemValue="html" itemLabel="HTML"/>
                        <f:selectItem itemValue="odt" itemLabel="ODT"/>
                        <f:selectItem itemValue="docx" itemLabel="DOCX"/>
                        <f:selectItem itemValue="doc" itemLabel="DOC"/>
                        <f:selectItem itemValue="ods" itemLabel="ODS"/>
                        <f:selectItem itemValue="xlsx" itemLabel="XLSX"/>
                        <f:selectItem itemValue="xls" itemLabel="XLS"/>
                        <f:selectItem itemValue="odp" itemLabel="ODP"/>
                        <f:selectItem itemValue="pptx" itemLabel="PPTX"/>
                        <f:selectItem itemValue="ppt" itemLabel="PPT"/>
                        <f:selectItem itemValue="postscript" itemLabel="PS"/>
                    </p:selectOneMenu>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Submit"
                                         ajax="false"
                                         icon="fa fa-check">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel> </h:form> </ui:define>
</ui:composition>