<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              dynamic="true"
              widgetVar="addDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['add.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('newsletterSubscriberName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('newsletterSubscriberDesc')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('newsletterSubscriberType')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('newsletterSubscriberFrom')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('newsletterSubscriberPublic')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_newsletters_subscribers.sql02.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql02.params'].add(appcore_Request.attributes['newsletterId'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql02.params'].add(appcore_Request.attributes['newsletterSubscriberValue'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_newsletters_subscribers.sql02"
                                        sql="#{appcore_Application.database('cms_newsletters_subscribers.sql02')}"
                                        params="#{appcore_Request.attributes['cms_newsletters_subscribers.sql02.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_newsletters_subscribers.sql02']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="newsletterId"
                                   value="#{appcore_Session.dictionary('cms.newsletters.newsletter')}"/>
                    <p:selectOneMenu id="newsletterId"
                                     style="max-width:100%;"
                                     required="true"
                                     value="#{appcore_Request.attributes['newsletterId']}"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemLabel="#{appcore_Session.dictionary('select.value')}" itemValue="#{null}"/>
                        <f:selectItems value="#{appcore_CMSProcessor.newsletters()}"
                                       var="row"
                                       itemValue="#{row.fields['newsletterId']}"
                                       itemLabel="#{row.fields['newsletterName']}"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="newsletterSubscriberValue"
                                   value="#{appcore_Session.dictionary('cms.newsletters-subscribers.subscriber')}"/>
                    <p:inputText id="newsletterSubscriberValue"
                                 value="#{appcore_Request.attributes['newsletterSubscriberValue']}"
                                 required="true"
                                 style="width:100%;"/> </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         update="@form :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>