<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              FILTER               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="filterDialog"
              widgetVar="filterDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="500"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('filter')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- reset -->
            <c:if test="#{(appcore_Request.attributes['filter.reset'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable')}"/>

                <!-- reset fields -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('newsletterName')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('newsletterSubscriberValue')}"/>
            </c:if>

            <!-- filter -->
            <c:if test="#{(appcore_Request.attributes['filter.execute'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>

                <m:eval value="#{appcore_Request.attributes.put('cms_newsletters_subscribers.sql01.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql01.params'].add(appcore_Session.attributes[pageId]['newsletterName'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql01.params'].add(appcore_Session.attributes[pageId]['newsletterSubscriberValue'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_newsletters_subscribers.sql01"
                                        sql="#{appcore_Application.database('cms_newsletters_subscribers.sql01')}"
                                        params="#{appcore_Request.attributes['cms_newsletters_subscribers.sql01.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                      command="#{appcore_Request.attributes['cms_newsletters_subscribers.sql01']}"
                                      store="#{appcore_Session.attributes[pageId]}"
                                      key="datatable"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="newsletterName"
                                   value="#{appcore_Session.dictionary('cms.newsletters.newsletter')}"/>
                    <p:inputText id="newsletterName"
                                 value="#{appcore_Session.attributes[pageId]['newsletterName']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="newsletterSubscriberValue"
                                   value="#{appcore_Session.dictionary('cms.newsletters-subscribers.subscriber')}"/>
                    <p:inputText id="newsletterSubscriberValue"
                                 value="#{appcore_Session.attributes[pageId]['newsletterSubscriberValue']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('filter')}"
                                         icon="fa fa-filter"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>