<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               UPDATE              -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="updateDialog"
              dynamic="true"
              widgetVar="updateDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('update')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterSubscriberId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="updateDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['update.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="updateDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['update.init'] or appcore_Request.attributes['update.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('newsletterId',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterId'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('newsletterSubscriberValue',appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterSubscriberValue'])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['update.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_newsletters_subscribers.sql03.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql03.params'].add(appcore_Request.attributes['newsletterId'])}"/>
                <m:eval value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql03.params'].add(appcore_Request.attributes['newsletterSubscriberValue'])}"/>
                <m:eval
                        value="#{appcore_Request.attributes['cms_newsletters_subscribers.sql03.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['newsletterSubscriberId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_newsletters_subscribers.sql03"
                                        sql="#{appcore_Application.database('cms_newsletters_subscribers.sql03')}"
                                        params="#{appcore_Request.attributes['cms_newsletters_subscribers.sql03.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_newsletters_subscribers.sql03']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_newsletters_subscribers.sql03'].errors}">
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'updateDialogWidget\').hide()')}"/>
                </c:if>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="newsletterId"
                                   value="#{appcore_Session.dictionary('cms.newsletters.newsletter')}"/>
                    <p:selectOneMenu id="newsletterId"
                                     style="max-width:100%;"
                                     required="true"
                                     value="#{appcore_Request.attributes['newsletterId']}"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemLabel="#{appcore_Session.dictionary('select.value')}" itemValue="#{null}"/>
                        <f:selectItems value="#{appcore_CMSProcessor.newsletters()}"
                                       var="row"
                                       itemValue="#{row.fields['newsletterId']}"
                                       itemLabel="#{row.fields['newsletterName']}"/>
                    </p:selectOneMenu>
                    <p:outputLabel for="newsletterSubscriberValue"
                                   value="#{appcore_Session.dictionary('cms.newsletters-subscribers.subscriber')}"/>
                    <p:inputText id="newsletterSubscriberValue"
                                 value="#{appcore_Request.attributes['newsletterSubscriberValue']}"
                                 required="true"
                                 style="width:100%;"/> </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('update')}"
                                         icon="fa fa-check"
                                         update="@form :actionsMenuForm :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['update.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['update.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>