<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              dynamic="true"
              widgetVar="addDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['add.reset'])}">
                <m:eval value="#{appcore_Request.attributes.remove('labelName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('labelDesc')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userId')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <!-- Refresh -->
                <m:eval value="#{appcore_CMSApplication.refreshLabels()}"/>

                <m:eval value="#{appcore_CMSProcessor.labelAdd(appcore_Request.attributes['labelName'],
                                                                   appcore_Request.attributes['labelDesc'],
                                                                   appcore_Request.attributes['user']!=null?appcore_Request.attributes['user'].fields['userId']:null)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="labelName"
                                   value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="labelName"
                                 value="#{appcore_Request.attributes['labelName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="labelDesc"
                                   value="#{appcore_Session.dictionary('description')}"/>
                    <p:inputTextarea id="labelDesc"
                                     value="#{appcore_Request.attributes['labelDesc']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                    <p:outputLabel for="user"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:selectOneMenu id="user"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Request.attributes['user']}"
                                     required="false"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userFullName']}"
                                       itemLabelEscaped="true"/>
                        <p:column>
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('add')}"
                                         icon="fa fa-check"
                                         update="@form :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </p:dialog>
</ui:composition>