<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              FILTER               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="filterDialog"
              widgetVar="filterDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="500"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('filter')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- reset -->
            <c:if test="#{(appcore_Request.attributes['filter.reset'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable')}"/>

                <!-- reset fields -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('labelName')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('labelDesc')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('user')}"/>
            </c:if>

            <!-- filter -->
            <c:if test="#{(appcore_Request.attributes['filter.execute'])}">
                <!-- reset datatable -->
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>

                <m:eval value="#{appcore_Session.attributes[pageId].put('datatable',appcore_CMSProcessor.labels(appcore_Session.attributes[pageId]['labelName'],
                                                                 appcore_Session.attributes[pageId]['labelDesc'],
                                                                 appcore_Session.attributes[pageId]['user']!=null?appcore_Session.attributes[pageId]['user'].fields['userId']:null))}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="labelName"
                                   value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="labelName"
                                 value="#{appcore_Session.attributes[pageId]['labelName']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="labelDesc"
                                   value="#{appcore_Session.dictionary('description')}"/>
                    <p:inputText id="labelDesc"
                                 value="#{appcore_Session.attributes[pageId]['labelDesc']}"
                                 required="false"
                                 maxlength="100"
                                 style="width:100%;"/>
                    <p:outputLabel for="user"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:selectOneMenu id="user"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Session.attributes[pageId]['user']}"
                                     required="false"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userFullName']}"
                                       itemLabelEscaped="true"/>
                        <p:column>
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('filter')}"
                                         icon="fa fa-filter"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
                            <p:resetInput target="@form actionsMenuForm dataTableForm"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>