<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Check -->
            <c:if test="#{!('simple'.equals(appcore_Application.property('security.login.type')))}">
                <m:eval value="#{facesContext.externalContext.responseSendError(403,null)}"/>
            </c:if>

            <c:if test="#{(request.getParameter('key')!=null)}">
                <m:eval rendered="true" value="#{appcore_Request.attributes.put('key',request.getParameter('key'))}"/>
                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['key'])}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <mc:log message="#{appcore_Request.attributes['key']}"/>

                <!-- check key -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql07.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql07.params'].add(appcore_Request.attributes['key'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql07"
                                     sql="#{appcore_Application.database('security.sql07')}"
                                     params="#{appcore_Request.attributes['security.sql07.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql07']}"
                                   store="#{appcore_Request.attributes}"
                                   key="forgot-password-key.userGenericBeans"/>

                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['forgot-password-key.userGenericBeans'])}"/>

                <c:if test="#{(appcore_Request.attributes['forgot-password-key.userGenericBeans'].size()>0)}">

                    <!-- change password -->
                    <m:eval value="#{appcore_Request.attributes.put('security.sql08.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql08.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_Request.attributes['newPassword']))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql08.params'].add(appcore_Request.attributes['key'])}"/>

                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="security.sql08"
                                         sql="#{appcore_Application.database('security.sql08')}"
                                         params="#{appcore_Request.attributes['security.sql08.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['security.sql08']}"/>
                    <!-- send email notification -->
                    <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['forgot-password-key.userGenericBeans'][0].fields['userName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['notification.params'].add(request.remoteAddr)}"/>

                    <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                             from="#{appcore_Application.property('notifications.mail.default')}"
                             bcc="#{appcore_Request.attributes['forgot-password-key.userGenericBeans'][0].fields['userEmail']}"
                             subject="#{appcore_Session.dictionary('user-password.notification.subject')}"
                             content="#{appcore_Session.dictionary('user-password.notification.content',appcore_Request.attributes['notification.params'])}"/>

                    <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Session.dictionary('messages.action.success'))}"/>

                    <!-- redirect -->
                    <m:eval value="#{facesContext.externalContext.redirect(facesContext.externalContext.applicationContextPath.concat(loginPage))}"/>

                </c:if>
                <c:if test="#{!(appcore_Request.attributes['forgot-password-key.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('messages.action.errors'))}"/>
                </c:if>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="changePasswordPannel" border="1" styleClass="center" style="width:500px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-password.title')}</f:facet>
                <p:inputText type="hidden"
                             value="#{appcore_Request.attributes['key']}"/>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel for="newPassword"
                                   value="#{appcore_Session.dictionary('user.userPassword')}"/>
                    <p:password id="newPassword"
                                binding="#{appcore_Request.attributes['newPasswordBinding']}"
                                value="#{appcore_Request.attributes['newPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['newPasswordBinding'].submittedValue != appcore_Request.attributes['oldPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>

                    </p:password>
                    <p:outputLabel for="confirmNewPassword"
                                   value="#{appcore_Session.dictionary('user.userPasswordConfirm')}"/>
                    <p:password id="confirmNewPassword"
                                binding="#{appcore_Request.attributes['confirmNewPasswordBinding']}"
                                value="#{appcore_Request.attributes['confirmNewPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['confirmNewPasswordBinding'].submittedValue == appcore_Request.attributes['newPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:password>
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                rendered="true"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>