<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{!(appcore_Request.attributes['action.save'])}">
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userName',appcore_ApplicationSecurity.security.user.userName)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userFirstName',appcore_ApplicationSecurity.security.user.userFirstName)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userGivenName',appcore_ApplicationSecurity.security.user.userGivenName)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userLastName',appcore_ApplicationSecurity.security.user.userLastName)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userBirthDate',appcore_ApplicationSecurity.security.user.userBirthDate)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userAddress',appcore_ApplicationSecurity.security.user.userAddress)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userEmail',appcore_ApplicationSecurity.security.user.userEmail)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userOrganization',appcore_ApplicationSecurity.security.user.userOrganization)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userOrganizationUnit',appcore_ApplicationSecurity.security.user.userOrganizationUnit)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userDescription',appcore_ApplicationSecurity.security.user.userDescription)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userPhone',appcore_ApplicationSecurity.security.user.userPhone)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userMobile',appcore_ApplicationSecurity.security.user.userMobile)}"/>
                <m:eval value="#{appcore_Request.attributes.put('user-profile.userWorkPhone',appcore_ApplicationSecurity.security.user.userWorkPhone)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['action.save'])}">

                <!-- update user profile -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql04.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userFirstName'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userGivenName'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userLastName'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userBirthDate'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userAddress'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userEmail'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userOrganization'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userOrganizationUnit'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userMobile'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_Request.attributes['user-profile.userWorkPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql04.params'].add(appcore_ApplicationSecurity.security.user.userId)}"/>

                <mc:log message="Save - #{appcore_Request.attributes['security.sql04.params']}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql04"
                                     sql="#{appcore_Application.database('security.sql04')}"
                                     params="#{appcore_Request.attributes['security.sql04.params']}"/>

                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                     command="#{appcore_Request.attributes['security.sql04']}"
                                     infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                     errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                <!-- update user profile bean -->
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserFirstName(appcore_Request.attributes['user-profile.userFirstName'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserGivenName(appcore_Request.attributes['user-profile.userGivenName'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserLastName(appcore_Request.attributes['user-profile.userLastName'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserBirthDate(appcore_Request.attributes['user-profile.userBirthDate'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserAddress(appcore_Request.attributes['user-profile.userAddress'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserEmail(appcore_Request.attributes['user-profile.userEmail'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserOrganization(appcore_Request.attributes['user-profile.userOrganization'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserOrganizationUnit(appcore_Request.attributes['user-profile.userOrganizationUnit'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserDescription(appcore_Request.attributes['user-profile.userDescription'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserPhone(appcore_Request.attributes['user-profile.userPhone'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserMobile(appcore_Request.attributes['user-profile.userMobile'])}"/>
                <m:eval value="#{appcore_ApplicationSecurity.security.user.setUserWorkPhone(appcore_Request.attributes['user-profile.userWorkPhone'])}"/>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <div class="flex align-items-center justify-content-center pt-2">
            <p:panel id="userPreferencesPannel" style="width:500px;">
                <f:facet name="header">#{appcore_Session.dictionary('user-profile.title')}</f:facet>
                <!-- standard fields -->
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 readonly="true"
                                 value="#{appcore_ApplicationSecurity.security.user.userName}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userFirstName"
                                   value="#{appcore_Session.dictionary('user.userFirstName')}"/>
                    <p:inputText id="userFirstName"
                                 value="#{appcore_Request.attributes['user-profile.userFirstName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userGivenName"
                                   value="#{appcore_Session.dictionary('user.userGivenName')}"/>
                    <p:inputText id="userGivenName"
                                 value="#{appcore_Request.attributes['user-profile.userGivenName']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userLastName"
                                   value="#{appcore_Session.dictionary('user.userLastName')}"/>
                    <p:inputText id="userLastName"
                                 value="#{appcore_Request.attributes['user-profile.userLastName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userBirthDate"
                                   value="#{appcore_Session.dictionary('user.userBirthDate')}"/>
                    <p:calendar id="userBirthDate"
                                required="false"
                                showOn="button"
                                value="#{appcore_Request.attributes['user-profile.userBirthDate']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="userAddress"
                                   value="#{appcore_Session.dictionary('user.userAddress')}"/>
                    <p:inputTextarea id="userAddress"
                                     value="#{appcore_Request.attributes['user-profile.userAddress']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 readonly="true"
                                 binding="#{appcore_Request.attributes['user-profile.userEmailBinding']}"
                                 value="#{appcore_ApplicationSecurity.security.user.userEmail}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['user-profile.userEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel for="userOrganization"
                                   value="#{appcore_Session.dictionary('user.userOrganization')}"/>
                    <p:inputText id="userOrganization"
                                 value="#{appcore_Request.attributes['user-profile.userOrganization']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userOrganizationUnit"
                                   value="#{appcore_Session.dictionary('user.userOrganizationUnit')}"/>
                    <p:inputText id="userOrganizationUnit"
                                 value="#{appcore_Request.attributes['user-profile.userOrganizationUnit']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDescription"
                                   value="#{appcore_Session.dictionary('user.userDescription')}"/>
                    <p:inputTextarea id="userDescription"
                                     value="#{appcore_Request.attributes['user-profile.userDescription']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userPhone"
                                   value="#{appcore_Session.dictionary('user.userPhone')}"/>
                    <p:inputText id="userPhone"
                                 value="#{appcore_Request.attributes['user-profile.userPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userMobile"
                                   value="#{appcore_Session.dictionary('user.userMobile')}"/>
                    <p:inputText id="userMobile"
                                 value="#{appcore_Request.attributes['user-profile.userMobile']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userWorkPhone"
                                   value="#{appcore_Session.dictionary('user.userWorkPhone')}"/>
                    <p:inputText id="userWorkPhone"
                                 value="#{appcore_Request.attributes['user-profile.userWorkPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <!-- custom fields -->
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
            </div>



        </h:form>
    </ui:define>
</ui:composition>