<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <!-- ======================================= -->
    <!--             Administration              -->
    <!-- ======================================= -->
    <p:submenu rendered="#{(appcore_Utils.checkClass('ro.myset.extensions.admin.Extension')
                            and appcore_ApplicationSecurity.security.ifAnyRoles('app_admins'))}"
               label="#{appcore_Session.dictionary('menu.administration')}">
        <p:menuitem value="#{appcore_Session.dictionary('file-manager.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/administration/filemanager.xhtml?init=true"/>
        <p:separator/>
        <p:menuitem value="#{appcore_Session.dictionary('terminal.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/administration/terminal.xhtml"/>
    </p:submenu>
</ui:composition>