<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarTypeId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('calendarTypeName',appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarTypeName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('calendarTypeDesc',appcore_Session.attributes[pageId]['datatable.selection'].fields['calendarTypeDesc'])}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="calendarTypeName"
                                   value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="calendarTypeName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['calendarTypeName']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="calendarTypeDesc"
                                   value="#{appcore_Session.dictionary('description')}"/>
                    <p:inputTextarea id="calendarTypeDesc"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['calendarTypeDesc']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>