<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">

    <!-- Footer -->
    <h:form id="footerForm">
        <h:outputText escape="false" value="&amp;copy; "/>
        <h:outputText value="#{session.lastAccessedTime}">
            <f:convertDateTime pattern="yyyy" type="date"/>
        </h:outputText>
        <h:outputText escape="false" value=" - #{appcore_Session.dictionary('footer')}"/>
    </h:form>
</ui:composition>