<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <!-- AjaxStatus -->
    <p:dialog widgetVar="ajaxStatusDialogWidget"
              appendTo="@(body)"
              modal="false"
              position="center center"
              styleClass="ajax-status-dialog"
              resizable="false"
              closeOnEscape="true">
        <p:ajaxStatus>
            <f:facet name="prestart">
                <span class="fa fa-refresh animate-spin"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.prestart')}"/>
            </f:facet>
            <f:facet name="start">
                <span class="fa fa-refresh animate-spin"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.start')}"/>
            </f:facet>
            <f:facet name="success">
                <span class="fa fa-smile-o"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.success')}"/>
            </f:facet>
            <f:facet name="error">
                <span class="fa fa-frown-o"/>
                <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.error')}"/>
            </f:facet>
        </p:ajaxStatus>
    </p:dialog>
    <p:ajaxStatus onstart="PF('ajaxStatusDialogWidget').show();" oncomplete="PF('ajaxStatusDialogWidget').hide();"/>

    <!-- Messages -->
    <p:growl rendered="true" redisplay="true" showSummary="false" showDetail="true" sticky="true">
        <p:autoUpdate/>
    </p:growl>
    <p:outputPanel rendered="false" autoUpdate="true">
        <p:dialog appendTo="@(body)"
                  modal="false"
                  position="center top"
                  closable="true"
                  closeOnEscape="true"
                  header="#{appcore_Session.dictionary('messages')}"
                  visible="#{not empty facesContext.messageList}">
            <p:messages autoUpdate="true" redisplay="true" showSummary="false" showDetail="true" showIcon="false"/>
        </p:dialog>
    </p:outputPanel>

    <h:form id="headerForm">
        <!-- Language change event -->
        <c:if test="#{appcore_Request.eventCheckForm('headerForm','language')}">
            <m:eval value="#{appcore_Session.refresh()}"/>
            <m:eval rendered="true" value="#{facesContext.externalContext.redirect(request.requestURI)}"/>
        </c:if>


        <div style="border-radius: 0px; font-weight: bolder;">
            <p:panel collapsed="true">
                <f:facet name="header">
                    <div class="flex justify-content-between">
                        <div><h:outputText value="#{appcore_Session.dictionary('company')}"/></div>
                        <div><h:outputText value="#{pageTitle}"/></div>
                        <div class="pr-2">
                            <h:outputText
                                    value="#{appcore_Application.property('application.name')} #{appcore_Application.property('application.version')} - #{appcore_Session.dictionary('application.environment')}"/>

                        </div>
                    </div>
                </f:facet>
            </p:panel>
            <c:if test="#{!appcore_ApplicationSecurity.security.authenticated}">
                <div class="flex justify-content-between">
                    <div/>
                    <div class="flex">
                        <p:selectOneMenu id="language"
                                         rendered="#{!appcore_ApplicationSecurity.security.authenticated}"
                                         value="#{appcore_Session.locale}"
                                         effect="fade">
                            <f:selectItems value="#{appcore_Session.locales}"
                                           var="row"
                                           itemValue="#{row.fields['id']}"
                                           itemLabel="#{row.valueString}"/>
                            <p:ajax event="change" listener="#{appcore_Request.eventListener}"/>
                        </p:selectOneMenu>
                        <p:commandButton rendered="#{!appcore_ApplicationSecurity.security.authenticated}"
                                         value="#{appcore_Session.dictionary('login')}"
                                         styleClass="ml:col-1"
                                         icon="fa fa-sign-in"
                                         ajax="false"
                                         action="/resources/myset/login.xhtml?faces-redirect=true"/>
                    </div>
                </div>
            </c:if>
        </div>


    </h:form>
</ui:composition>