<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <!-- Security check -->
    <mc:security-check roles=".*" source="/resources/myset/templates/menu.xhtml"/>

    <h:form id="menuForm">
        <!-- Logout action event -->
        <c:if test="#{appcore_Request.actionEventCheck('logOut')}">
            <m:eval value="#{appcore_ApplicationSecurity.logout()}"/>
            <!-- redirect -->
            <m:eval value="#{facesContext.externalContext.redirect(appcore_Application.property('menu.logout.url'))}"/>
        </c:if>

        <!-- Menu -->
        <p:menubar autoDisplay="false"
                   style="border-radius:0;">
            <c:forEach var="menuItem" items="#{appcore_Application.propertyValues('menu.submenus')}">
                <ui:include src="#{menuItem.value}"/>
            </c:forEach>
        </p:menubar>
    </h:form>
</ui:composition>