<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <!-- ======================================= -->
    <!--                   BASE                  -->
    <!-- ======================================= -->
    <p:menuitem icon="fa fa-home"
                ajax="false"
                title="#{appcore_Session.dictionary('home')}"
                value=""
                url="#{request.contextPath}/resources/myset/main.xhtml"/>
    <p:menuitem icon="fa fa-rotate-right"
                ajax="false"
                title="#{appcore_Session.dictionary('reload')}"
                value=""/>
    <p:menuitem icon="fa fa-fw fa-ellipsis-v"
                disabled="true"/>
</ui:composition>