<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui">
    <!-- ======================================= -->
    <!--                  Right menu             -->
    <!-- ======================================= -->
    <p:submenu icon="fa fa-user"
               style="white-space:nowrap!important;position:absolute;right:2px;"
               label="#{appcore_ApplicationSecurity.security.user.userName} / #{appcore_ApplicationSecurity.security.user.userFirstName} #{appcore_ApplicationSecurity.security.user.userGivenName} #{appcore_ApplicationSecurity.security.user.userLastName}">
        <p:menuitem icon="fa fa-eye"
                    value="#{appcore_Session.dictionary('user-preferences.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/user/user-preferences.xhtml"/>
        <p:separator/>
        <p:menuitem icon="fa fa-book"
                    target="_blank"
                    ajax="false"
                    value="#{appcore_Session.dictionary('help')}">
            <p:fileDownload
                    value="#{appcore_FileUtils.download(appcore_FileUtils.file(appcore_Application.property('application.help.path').concat(appcore_FileUtils.fileSeparator).concat(appcore_Session.locale).concat(appcore_FileUtils.fileSeparator).concat(pageHelp)))}"/>
        </p:menuitem>
        <p:menuitem icon="fa fa-question"
                    value="#{appcore_Session.dictionary('support')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/user/support.xhtml"/>
        <p:menuitem icon="fa fa-info"
                    value="#{appcore_Session.dictionary('about.title')}"
                    ajax="true"
                    url="#{request.contextPath}/resources/myset/user/about.xhtml"/>
        <p:separator/>
        <p:menuitem id="logOut"
                    icon="fa fa-sign-out"
                    ajax="true"
                    value="#{appcore_Session.dictionary('logout')}"
                    actionListener="#{appcore_Request.actionEventListener}"/>
    </p:submenu>
</ui:composition>