<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:m="http://www.myset.ro/components"
      xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
<h:head>
    <title>#{facesContext.externalContext.contextName} - #{pageTitle}</title>
    <h:outputScript library="myset" name="/common/js/common.js"/>
    <h:outputScript library="myset" name="/common/js/primefaces-languages.js"/>
    <h:outputStylesheet library="myset" name="common/css/primeflex.css"/>
    <h:outputStylesheet library="myset" name="common/css/font-awesome.css"/>
</h:head>
<h:body style="min-height: 100vh;">
    <f:view locale="#{appcore_Session.locale}">
        <!-- Security check -->
        <mc:security-check roles=".*" source="/resources/myset/templates/template.xhtml"/>

        <!-- Common style -->
        <f:facet name="last">
            <h:outputStylesheet library="myset" name="/common/css/common.css"/>
        </f:facet>

        <div class="flex flex-column">
            <ui:include src="/resources/myset/templates/header.xhtml"/>
            <ui:include src="/resources/myset/templates/menu.xhtml"/>
        </div>
        <div class="block">
            <ui:insert name="content">Center content ...</ui:insert>
        </div>
        <p:sticky target="menuForm"/>
    </f:view>
</h:body>
</html>