<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">
<h:head>
    <title>#{facesContext.externalContext.contextName} - #{pageTitle}</title>
    <h:outputScript library="myset" name="/common/js/common.js"/>
    <h:outputScript library="myset" name="/common/js/primefaces-languages.js"/>
    <h:outputStylesheet library="myset" name="common/css/primeflex.css"/>
    <h:outputStylesheet library="myset" name="common/css/font-awesome.css"/>

</h:head>
<h:body>
    <f:view locale="#{appcore_Session.locale}">
        <!-- AjaxStatus -->
        <p:dialog widgetVar="ajaxStatusDialog"
                  modal="false"
                  position="center top"
                  styleClass="ajax-status-dialog"
                  resizable="false"
                  closeOnEscape="true">
            <p:ajaxStatus>
                <f:facet name="prestart">
                    <span class="fa fa-refresh animate-spin"/>
                    <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.prestart')}"/>
                </f:facet>
                <f:facet name="start">
                    <span class="fa fa-refresh animate-spin"/>
                    <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.start')}"/>
                </f:facet>
                <f:facet name="success">
                    <span class="fa fa-smile-o"/>
                    <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.success')}"/>
                </f:facet>
                <f:facet name="error">
                    <span class="fa fa-frown-o"/>
                    <h:outputText styleClass="ajax-status-text" value="#{appcore_Session.dictionary('ajax-status.error')}"/>
                </f:facet>
            </p:ajaxStatus>
        </p:dialog>
        <p:ajaxStatus onstart="PF('ajaxStatusDialog').show();" oncomplete="PF('ajaxStatusDialog').hide();"/>

        <!-- Messages -->
        <p:growl rendered="true" redisplay="true" showSummary="false" showDetail="true" sticky="true">
            <p:autoUpdate/>
        </p:growl>

        <!-- Common style -->
        <f:facet name="last">
            <h:outputStylesheet library="myset" name="/common/css/common.css"/>
        </f:facet>

        <!-- Content -->
        <ui:insert name="content">Center content ...</ui:insert>
    </f:view>
</h:body>
</html>