<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="west">
        <!-- =================================== -->
        <!--               West part             -->
        <!-- =================================== -->
        <h:form id="tagsForm">
            <!-- Events -->
            <c:if test="#{appcore_Request.eventCheck()}">
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event.component.id)}"/>
                <m:eval value="#{appcore_FacesUtils.infoMessage(appcore_Request.event)}"/>
            </c:if>
            <p:panel header="#{appcore_Session.dictionary('cms.tags.title')}"
                     style="min-width:200px;">
                <p:selectManyCheckbox id="tags"
                                      required="false"
                                      value="#{appcore_CMSSearch.searchTags}"
                                      layout="grid"
                                      columns="1">
                    <f:selectItems value="#{appcore_CMSSearch.tags}"
                                   var="row"
                                   itemValue="#{row.fields['tagId']}"
                                   itemLabel="#{appcore_Session.dictionary(row.fields['tagDesc'])==null?row.fields['tagDesc']:appcore_Session.dictionary(row.fields['tagDesc'])} (#{row.fields['tagCount']})"/>
                    <p:ajax listener="#{appcore_CMSSearch.changeTag}"
                            update="@form searchForm searchResultsForm"/>
                </p:selectManyCheckbox>
            </p:panel>
        </h:form>
    </ui:define>

    <!-- =================================== -->
    <!--             Center part             -->
    <!-- =================================== -->
    <ui:define name="center">
        <p:splitter layout="vertical">
            <p:splitterPanel size="15">
                <h:form id="searchForm">
                    <p:panel style="width:700px;">
                        <f:facet name="header">
                            <h:outputText value="#{appcore_Session.dictionary('cms.search.title')}"/>
                        </f:facet>
                        <p:inputText id="searchText"
                                     value="#{appcore_CMSSearch.searchText}"
                                     style="width:500px;"/>
                        <p:watermark for="searchText"
                                     value="#{appcore_Session.dictionary('search')}"/>
                        <p:commandButton icon="fa fa-search"
                                         ajax="true"
                                         action="#{appcore_CMSSearch.search()}"
                                         update="@form tagsForm searchResultsForm"/>
                        <f:facet name="footer">
                            <h:outputText value="#{appcore_CMSSearch.pages.size()} #{appcore_Session.dictionary('results').toLowerCase()}"/>
                        </f:facet>
                    </p:panel>
                </h:form>
            </p:splitterPanel>
            <p:splitterPanel size="85">
                <h:form id="searchResultsForm">
                    <p:dataTable id="searchResultsDataTable"
                                 styleClass="datatable-no-header"
                                 widgetVar="searchResultsDataTableWidget"
                                 value="#{appcore_CMSSearch.pages}"
                                 var="row"
                                 multiViewState="true"
                                 resizableColumns="true"
                                 draggableColumns="true"
                                 scrollable="true"
                                 paginator="true"
                                 paginatorPosition="both"
                                 paginatorTemplate="#{appcore_Session.dictionary('datatable.paginator.template')}"
                                 pageLinks="#{appcore_Session.dictionary('datatable.paginator.pageslinks')}"
                                 emptyMessage="#{appcore_Session.dictionary('datatable.empty.message')}"
                                 currentPageReportTemplate="#{appcore_Session.dictionary('datatable.paginator.currentpage.template')}"
                                 rows="#{appcore_Application.property('preference.datatable.paginator.rows')}"
                                 rowsPerPageTemplate="#{appcore_Application.property('preference.datatable.paginator.rows.templates')}"
                                 rowStatePreserved="true"
                                 rowKey="#{row.hashCode()}"
                                 sortMode="single"
                                 allowUnsorting="true"
                                 filteredValue="#{appcore_Session.attributes[pageId]['searchResultsDataTable.filteredValue']}"
                                 globalFilter="#{appcore_Session.attributes[pageId]['searchResultsDataTable.globalFilter']}">
                        <!-- Header -->
                        <f:facet name="header">
                            <h:outputText value="#{pageTitle}"
                                          style="visibility:hidden;text-align:center;"/>
                            <p:inputText id="globalFilter"
                                         value="#{appcore_Session.attributes[pageId]['searchResultsDataTable.globalFilter']}"
                                         onchange="PF('searchResultsDataTableWidget').filter()"
                                         styleClass="datatable-filter"/>
                            <p:watermark for="globalFilter"
                                         value="#{appcore_Session.dictionary('search')}"/>
                            <p:commandButton icon="fa fa-search"
                                             ajax="true"
                                             onclick="PF('searchResultsDataTableWidget').filter()"/>
                            <p:commandButton icon="fa fa-eraser"
                                             title="#{appcore_Session.dictionary('reset')}"
                                             ajax="false"
                                             actionListener="#{appcore_PrimeFacesUtils.current.multiViewState().clearAll(facesContext.viewRoot.viewId,true)}">
                                <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['searchResultsDataTable.globalFilter']}" value=""/>
                                <f:setPropertyActionListener target="#{appcore_Session.attributes[pageId]['searchResultsDataTable.filteredValue']}" value=""/>
                            </p:commandButton>
                        </f:facet>

                        <!-- Columns -->
                        <p:column filterBy="#{appcore_CMSProcessor.page(row.fields['pageName']).fields['pageUrl']},
                                            #{appcore_CMSProcessor.page(row.fields['pageName']).fields['pageDesc']},
                                            #{appcore_Utils.truncate(appcore_Utils.stripTags(appcore_CMSProcessor.pagePart(row.fields['pageName'],row.fields['partName']).fields['partContent']),400)}"
                                  filterMatchMode="contains"
                                  filterStyleClass="hidden"
                                  style="border-color:transparent;padding:1px;">
                            <p:panel styleClass="#{cc.attrs.styleClass}">
                                    <h:outputText
                                            style="font-weight: bolder; color: #0000ff;"
                                            value="#{appcore_Session.dictionary(appcore_CMSProcessor.page(row.fields['pageName']).fields['pageDesc'])==null?appcore_CMSProcessor.page(row.fields['pageName']).fields['pageDesc']:appcore_Session.dictionary(appcore_CMSProcessor.page(row.fields['pageName']).fields['pageDesc'])}"/>
                                <p:link target="_blank"
                                        title="#{row.fields}"
                                        href="#{appcore_Application.property('cms.search.context')}#{appcore_CMSProcessor.page(row.fields['pageName']).fields['pageUrl']}">
                                    <br/>
                                    <h:outputText style="color:green;"
                                                  value="#{appcore_Application.property('cms.search.context')}#{appcore_CMSProcessor.page(row.fields['pageName']).fields['pageUrl']}"/>
                                </p:link>
                                    <br/><h:outputText
                                        value="#{appcore_Utils.truncate(appcore_Utils.stripTags(appcore_CMSProcessor.pagePart(row.fields['pageName'],row.fields['partName']).fields['partContent']),400)} ..."/>
                                    <br/>
                                    <h:outputText style="padding-left:2px;padding-right:2px;"
                                                  styleClass="fa fa-edit"
                                                  title="#{appcore_Session.dictionary('date')}"/>
                                    <h:outputText title="#{appcore_Session.dictionary('date')}"
                                                  value="#{appcore_CMSProcessor.page(row.fields['pageName']).fields['pageLastUpdate']}">
                                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                                           timeZone="#{appcore_Session.timezone}"
                                                           type="both"
                                                           pattern="#{appcore_Application.property('format.date')}"/>
                                    </h:outputText>
                                    <h:outputText style="padding-left:8px;padding-right:2px;"
                                                  styleClass="fa fa-bar-chart"
                                                  title="#{appcore_Session.dictionary('cms.search.score')}"/>
                                    <h:outputText title="#{appcore_Session.dictionary('cms.search.score')}"
                                                  value="#{row.fields['searchScore']}">
                                        <f:convertNumber type="number"
                                                         locale="#{appcore_Session.locale}"
                                                         maxFractionDigits="2"/>
                                    </h:outputText>

                            </p:panel>
                        </p:column>
                    </p:dataTable>
                </h:form>

            </p:splitterPanel>

        </p:splitter>
    </ui:define>
</ui:composition>