<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template-noauth.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="login"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('login.title')}"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{appcore_Request.attributes['login.connect'] or
                          'external'.equals(appcore_Application.property('security.login.type'))}">
                <!-- console -->
                <c:if test="#{'console'.equals(appcore_Application.property('security.login.type'))}">
                    <c:set scope="request" var="loginRedirect"
                           value="#{appcore_ApplicationSecurityConsole.login(appcore_Request.attributes['login.userName'],appcore_Request.attributes['login.userPassword'])}"/>
                </c:if>

                <!-- simple -->
                <c:if test="#{'simple'.equals(appcore_Application.property('security.login.type'))}">
                    <c:set scope="request" var="loginRedirect"
                           value="#{appcore_ApplicationSecuritySimple.login(appcore_Request.attributes['login.userName'],appcore_Request.attributes['login.userPassword'])}"/>
                </c:if>

                <!-- ldap -->
                <c:if test="#{'ldap'.equals(appcore_Application.property('security.login.type'))}">
                    <c:set scope="request" var="loginRedirect"
                           value="#{appcore_ApplicationSecurityLdap.login(appcore_Request.attributes['login.userName'],appcore_Request.attributes['login.userPassword'])}"/>
                </c:if>

                <!-- external -->
                <c:if test="#{'external'.equals(appcore_Application.property('security.login.type'))}">
                    <c:set scope="request" var="loginRedirect"
                           value="#{appcore_ApplicationSecurityExternal.login(request.getHeader(appcore_Application.property('security.login.external.header.user')))}"/>
                    <m:eval rendered="#{!loginRedirect}" value="#{facesContext.externalContext.responseSendError(401,null)}"/>
                </c:if>

                <!-- redirect -->
                <c:if test="#{loginRedirect}">
                    <m:eval value="#{facesContext.externalContext.redirect(facesContext.externalContext.applicationContextPath.concat('/resources/myset/main.xhtml'))}"/>
                </c:if>

            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <div class="flex align-items-center justify-content-center" style="height: 60vh;">
            <p:panel rendered="#{!'external'.equals(appcore_Application.property('security.login.type'))}"
                     styleClass="center"
                     style="width:400px;">
                <f:facet name="header">
                    <h:outputText value="#{pageTitle}"/>
                </f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="loginUserName" value="#{appcore_Session.dictionary('username')}"/>
                    <p:inputText id="loginUserName"
                                 required="true" style="width:100%;" maxlength="200"
                                 value="#{appcore_Request.attributes['login.userName']}"/>
                    <p:outputLabel for="loginUserPassword" value="#{appcore_Session.dictionary('password')}"/>
                    <p:password id="loginUserPassword"
                                required="true" style="width:100%;" maxlength="200"
                                value="#{appcore_Request.attributes['login.userPassword']}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('login')}"
                                         icon="fa fa-sign-in"
                                         ajax="true"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['login.connect']}" value="true"/>
                        </p:commandButton>
                    </div>
                    <!-- Login options -->
                    <f:subview rendered="#{('simple'.equals(appcore_Application.property('security.login.type')) or
                                                 'ldap'.equals(appcore_Application.property('security.login.type')))}">
                        <div class="ui-grid-responsive">
                            <div class="ui-grid-row"
                                 style="margin-top:10px!important;padding:4px 0px 4px 0px!important;border-top:0.5px solid #cccccc;">
                                <div class="ui-grid-col-6"
                                     style="text-align:left;">
                                    <p:link value="#{appcore_Session.dictionary('user-registration.title')}"
                                            href="#{facesContext.externalContext.applicationContextPath.concat('/resources/myset/access/user-registration.xhtml')}"/>
                                </div>
                                <div class="ui-grid-col-6"
                                     style="text-align:right;">
                                    <p:link rendered="#{'simple'.equals(appcore_Application.property('security.login.type'))}"
                                            value="#{appcore_Session.dictionary('forgot-password.title')}"
                                            href="#{facesContext.externalContext.applicationContextPath.concat('/resources/myset/access/forgot-password.xhtml')}"/>
                                </div>
                            </div>
                        </div>
                    </f:subview>
                </f:facet>
            </p:panel>

            </div>



        </h:form>
    </ui:define>
</ui:composition>