<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:c="http://java.sun.com/jsp/jstl/core"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pe="http://primefaces.org/ui/extensions"
      xmlns:m="http://www.myset.ro/components"
      xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
<ui:composition template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="main"/>
        <c:set scope="request" var="pageTitle" value="#{appcore_Session.dictionary('main.title')}"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->

        </h:form>

    </ui:define>
</ui:composition>
</html>