<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ADD                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="addDialog"
              widgetVar="addDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('add')}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{appcore_Request.attributes['add.reset']}">
                <m:eval value="#{appcore_Request.attributes.remove('userName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userFirstName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userGivenName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userLastName')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userBirthDate')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userAddress')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userEmail')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userOrganization')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userOrganizationUnit')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userDescription')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userPhone')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userMobile')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userWorkPhone')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userDisabled')}"/>
                <m:eval value="#{appcore_Request.attributes.remove('userLocked')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['add.execute'])}">
                <!-- check username -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql09.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql09.params'].add(appcore_Request.attributes['userName'])}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql09.params'].add(null)}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql09"
                                     sql="#{appcore_Application.database('security.sql09')}"
                                     params="#{appcore_Request.attributes['security.sql09.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql09']}"
                                   store="#{appcore_Request.attributes}"
                                   key="users.userGenericBeans"/>

                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['users.userGenericBeans'])}"/>

                <c:if test="#{(appcore_Request.attributes['users.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('users.exists'))}"/>
                </c:if>

                <c:if test="#{!(appcore_Request.attributes['users.userGenericBeans'].size()>0)}">
                    <!-- insert user -->
                    <m:eval value="#{appcore_Request.attributes.put('users.sql03.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_SecurityUtils.generateUUID())}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userFirstName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userGivenName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userLastName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userBirthDate'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userAddress'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userEmail'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userOrganization'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userOrganizationUnit'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userDescription'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userMobile'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userWorkPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userDisabled']?'1':null)}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql03.params'].add(appcore_Request.attributes['userLocked']?'1':null)}"/>

                    <mc:log message="Add - #{appcore_Request.attributes['users.sql03.params']}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="users.sql03"
                                         sql="#{appcore_Application.database('users.sql03')}"
                                         params="#{appcore_Request.attributes['users.sql03.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['users.sql03']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                         errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                    <c:if test="#{!appcore_Request.attributes['users.sql03'].errors}">
                        <!-- Refresh -->
                        <m:eval value="#{appcore_AdminApplication.refreshUsers()}"/>

                        <!-- send email notification -->
                        <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['userName'])}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(request.remoteAddr)}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Application.property('application.context'))}"/>

                        <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                                 from="#{appcore_Application.property('notifications.mail.default')}"
                                 bcc="#{appcore_Request.attributes['userEmail']}"
                                 subject="#{appcore_Session.dictionary('users.add.notification.subject')}"
                                 content="#{appcore_Session.dictionary('users.add.notification.content',appcore_Request.attributes['notification.params'])}"
                                 warnMessage="#{appcore_Session.dictionary('messages.notification.email')}"/>
                    </c:if>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center" style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 value="#{appcore_Request.attributes['userName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userFirstName"
                                   value="#{appcore_Session.dictionary('user.userFirstName')}"/>
                    <p:inputText id="userFirstName"
                                 value="#{appcore_Request.attributes['userFirstName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userGivenName"
                                   value="#{appcore_Session.dictionary('user.userGivenName')}"/>
                    <p:inputText id="userGivenName"
                                 value="#{appcore_Request.attributes['userGivenName']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userLastName"
                                   value="#{appcore_Session.dictionary('user.userLastName')}"/>
                    <p:inputText id="userLastName"
                                 value="#{appcore_Request.attributes['userLastName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userBirthDate"
                                   value="#{appcore_Session.dictionary('user.userBirthDate')}"/>
                    <p:calendar id="userBirthDate"
                                required="true"
                                showOn="both"
                                value="#{appcore_Request.attributes['userBirthDate']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="userAddress"
                                   value="#{appcore_Session.dictionary('user.userAddress')}"/>
                    <p:inputTextarea id="userAddress"
                                     value="#{appcore_Request.attributes['userAddress']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 binding="#{appcore_Request.attributes['add.userEmailBinding']}"
                                 value="#{appcore_Request.attributes['userEmail']}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['add.userEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel for="userOrganization"
                                   value="#{appcore_Session.dictionary('user.userOrganization')}"/>
                    <p:inputText id="userOrganization"
                                 value="#{appcore_Request.attributes['userOrganization']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userOrganizationUnit"
                                   value="#{appcore_Session.dictionary('user.userOrganizationUnit')}"/>
                    <p:inputText id="userOrganizationUnit"
                                 value="#{appcore_Request.attributes['userOrganizationUnit']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDescription"
                                   value="#{appcore_Session.dictionary('user.userDescription')}"/>
                    <p:inputTextarea id="userDescription"
                                     value="#{appcore_Request.attributes['userDescription']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userPhone"
                                   value="#{appcore_Session.dictionary('user.userPhone')}"/>
                    <p:inputText id="userPhone"
                                 value="#{appcore_Request.attributes['userPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userMobile"
                                   value="#{appcore_Session.dictionary('user.userMobile')}"/>
                    <p:inputText id="userMobile"
                                 value="#{appcore_Request.attributes['userMobile']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userWorkPhone"
                                   value="#{appcore_Session.dictionary('user.userWorkPhone')}"/>
                    <p:inputText id="userWorkPhone"
                                 value="#{appcore_Request.attributes['userWorkPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDisabled"
                                   value="#{appcore_Session.dictionary('user.userDisabled')}"/>
                    <p:inputSwitch id="userDisabled"
                                   value="#{appcore_Request.attributes['userDisabled']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                    <p:outputLabel for="userLocked"
                                   value="#{appcore_Session.dictionary('user.userLocked')}"/>
                    <p:inputSwitch id="userLocked"
                                   value="#{appcore_Request.attributes['userLocked']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['add.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>