<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--             DELETE                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteDialog"
              widgetVar="deleteDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('delete')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="deleteDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="deleteDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['delete.init'] or appcore_Request.attributes['delete.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('userName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userFirstName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userFirstName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userGivenName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userGivenName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLastName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLastName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userBirthDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['userBirthDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userAddress',appcore_Session.attributes[pageId]['datatable.selection'].fields['userAddress'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userEmail',appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganization',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganization'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganizationUnit',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganizationUnit'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDescription',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userMobile',appcore_Session.attributes[pageId]['datatable.selection'].fields['userMobile'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userWorkPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userWorkPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userCert',appcore_Session.attributes[pageId]['datatable.selection'].fields['userCert'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLdap',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLdap'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDisabled',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDisabled'].equals('1')?true:false)}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLocked',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLocked'].equals('1')?true:false)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['delete.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('users.sql05.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql05.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>

                <mc:log message="Delete - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql05"
                                     sql="#{appcore_Application.database('users.sql05')}"
                                     params="#{appcore_Request.attributes['users.sql05.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                     command="#{appcore_Request.attributes['users.sql05']}"
                                     infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                     errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['users.sql05'].errors}">
                    <!-- Refresh -->
                    <m:eval value="#{appcore_AdminApplication.refreshUsers()}"/>

                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>
                </c:if>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteDialogWidget\').hide()')}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center" style="width:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userFullName"
                                   value="#{appcore_Session.dictionary('user.userFullName')}"/>
                    <p:inputText id="userFullName"
                                 readonly="true"
                                 required="false"
                                 value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userFullName']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 readonly="true"
                                 required="false"
                                 value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userName']}"
                                 style="width:100%;"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 readonly="true"
                                 required="false"
                                 value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail']}"
                                 style="width:100%;" maxlength="200">
                    </p:inputText>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('delete')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('exit')}"
                                         type="button"
                                         icon="fa fa-rotate-right"
                                         styleClass="ui-confirmdialog-no"
                                         onclick="PF('deleteDialogWidget').hide()"/>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>