<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">

        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->

        <!-- Initialize -->
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']==null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm" oncomplete="PF('filterDialogWidget').show()">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.reset']}" value="true"/>
            </p:remoteCommand>
        </h:form>
        <h:form rendered="#{appcore_Session.attributes[pageId]['datatable']!=null}">
            <p:remoteCommand autoRun="true" update="actionsMenuForm dataTableForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
            </p:remoteCommand>
        </h:form>


        <!-- actions -->
        <ui:include src="menu.xhtml"/>
        <ui:include src="view.xhtml"/>
        <ui:include src="add.xhtml"/>
        <ui:include src="update.xhtml"/>
        <ui:include src="delete.xhtml"/>
        <ui:include src="reset-password.xhtml"/>
        <ui:include src="roles.xhtml"/>
        <!-- last action -->
        <ui:include src="filter.xhtml"/>

        <h:form id="dataTableForm">
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <mc:dataTable id="datatable"
                          pageId="#{pageId}"
                          widgetVar="datatableWidget"
                          rowKey="#{row.hashCode()}"
                          rowSelectUpdate="actionsMenuForm viewDialog updateDialog deleteDialog resetPasswordDialog rolesDialog"
                          title="#{pageTitle}"
                          styleClass="datatable-auto-columns">
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['userId']}"
                          filterBy="#{row.fields['userId']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('id')}"/></f:facet>
                    <h:outputText value="#{row.fields['userId']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userName']}"
                          filterBy="#{row.fields['userName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userName')}"/></f:facet>
                    <h:outputText style="padding-right:4px;"
                                  styleClass="fa fa-user"/>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['userName']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userFullName']}"
                          filterBy="#{row.fields['userFullName']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userFullName')}"/></f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['userFullName']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userEmail']}"
                          filterBy="#{row.fields['userEmail']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userEmail')}"/></f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['userEmail']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userPhone']}"
                          filterBy="#{row.fields['userPhone']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userPhone')}"/></f:facet>
                    <h:outputText value="#{row.fields['userPhone']}"/>
                </p:column>
                <p:column sortBy="#{row.fields['userMobile']}"
                          filterBy="#{row.fields['userMobile']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userMobile')}"/></f:facet>
                    <h:outputText value="#{row.fields['userMobile']}"/>
                </p:column>
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['userDisabled']}"
                          filterBy="#{row.fields['userDisabled']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userDisabled')}"/></f:facet>
                    <h:outputText rendered="#{row.fields['userDisabled'].equals('1')}"
                                  value="#{appcore_Session.dictionary('yes')}"/>
                </p:column>
                <p:column style="text-align:center;width:100px;"
                          sortBy="#{row.fields['userLocked']}"
                          filterBy="#{row.fields['userLocked']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userLocked')}"/></f:facet>
                    <h:outputText rendered="#{row.fields['userLocked'].equals('1')}"
                                  value="#{appcore_Session.dictionary('yes')}"/>
                </p:column>
                <p:column style="text-align:center;width:150px;"
                          sortBy="#{row.fields['userLastLogon']}"
                          filterBy="#{row.fields['userLastLogon']}"
                          filterMatchMode="contains"
                          filterStyleClass="visible">
                    <f:facet name="header"><h:outputText value="#{appcore_Session.dictionary('user.userLastLogon')}"/></f:facet>
                    <h:outputText style="white-space:nowrap;"
                                  value="#{row.fields['userLastLogon']}">
                        <f:convertDateTime type="both"
                                           locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.datetime')}"/>
                    </h:outputText>
                </p:column>
            </mc:dataTable>
        </h:form>
    </ui:define>
</ui:composition>