<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--              MENU                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <h:form id="actionsMenuForm">
        <p:menubar id="actionsMenu" autoDisplay="false" position="fixed">
            <p:menuitem value="#{appcore_Session.dictionary('filter')}"
                        oncomplete="PF('filterDialogWidget').show()"
                        update="@form"/>
            <p:menuitem rendered="#{appcore_Session.attributes[pageId]['datatable.row.selected']}"
                        value="#{appcore_Session.dictionary('view')}"
                        oncomplete="PF('viewDialogWidget').show()"
                        update="@form"/>
            <p:menuitem value="#{appcore_Session.dictionary('add')}"
                        oncomplete="PF('addDialogWidget').show()"
                        update="@form"/>
            <p:menuitem rendered="#{appcore_Session.attributes[pageId]['datatable.row.selected']
                                    and !appcore_Session.attributes[pageId]['datatable.selection'].fields['userProtected'].equals('1')}"
                        value="#{appcore_Session.dictionary('update')}"
                        oncomplete="PF('updateDialogWidget').show()"
                        update="@form"/>
            <p:menuitem rendered="#{appcore_Session.attributes[pageId]['datatable.row.selected']
                                    and !appcore_Session.attributes[pageId]['datatable.selection'].fields['userProtected'].equals('1')}"
                        value="#{appcore_Session.dictionary('delete')}"
                        oncomplete="PF('deleteDialogWidget').show()"
                        update="@form"/>
            <p:menuitem rendered="#{appcore_Session.attributes[pageId]['datatable.row.selected']
                                    and !appcore_Session.attributes[pageId]['datatable.selection'].fields['userProtected'].equals('1')
                                    and 'simple'.equals(appcore_Application.property('security.login.type'))}"
                        value="#{appcore_Session.dictionary('users.reset.password')}"
                        oncomplete="PF('resetPasswordDialogWidget').show()"
                        update="@form"/>
            <p:menuitem rendered="#{appcore_Session.attributes[pageId]['datatable.row.selected']
                                    and !appcore_Session.attributes[pageId]['datatable.selection'].fields['userProtected'].equals('1')}"
                        value="#{appcore_Session.dictionary('users.roles')}"
                        oncomplete="PF('rolesDialogWidget').show()"
                        update="@form"/>
        </p:menubar>
    </h:form>
</ui:composition>