<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--           RESET-PASSWORD          -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="resetPasswordDialog"
              rendered="#{'simple'.equals(appcore_Application.property('security.login.type'))}"
              dynamic="true"
              widgetVar="resetPasswordDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="600"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('users.reset.password')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}">

        <h:form id="resetPasswordDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{appcore_Request.attributes['reset-password.reset']}">
            </c:if>
            <c:if test="#{(appcore_Request.attributes['reset-password.execute'])}">
                <!-- check user protected -->
                <m:eval value="#{appcore_Request.attributes.put('users.sql02.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql02.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql02"
                                     sql="#{appcore_Application.database('users.sql02')}"
                                     params="#{appcore_Request.attributes['users.sql02.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['users.sql02']}"
                                   store="#{appcore_Request.attributes}"
                                   key="users.userGenericBeans"/>
                <c:if test="#{(appcore_Request.attributes['users.userGenericBeans'].size()>0)}">
                    <m:eval value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('users.protected'))}"/>
                </c:if>

                <c:if test="#{(appcore_Request.attributes['users.userGenericBeans'].size()==0)}">
                    <!-- reset password -->
                    <m:eval value="#{appcore_Request.attributes.put('users.sql06.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql06.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').encrypt(appcore_Request.attributes['newPassword']))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql06.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>

                    <mc:log message="Reset password - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="users.sql06"
                                         sql="#{appcore_Application.database('users.sql06')}"
                                         params="#{appcore_Request.attributes['users.sql06.params']}"/>
                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['users.sql06']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                         errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                    <c:if test="#{!appcore_Request.attributes['users.sql06'].errors}">
                        <!-- send email notification -->
                        <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userName'])}"/>
                        <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                                 from="#{appcore_Application.property('notifications.mail.default')}"
                                 bcc="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail']}"
                                 subject="#{appcore_Session.dictionary('users.reset-password.notification.subject')}"
                                 content="#{appcore_Session.dictionary('users.reset-password.notification.content',appcore_Request.attributes['notification.params'])}"
                                 warnMessage="#{appcore_Session.dictionary('messages.notification.email')}"/>
                        <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'resetPasswordDialogWidget\').hide()')}"/>
                    </c:if>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel for="newPassword"
                                   value="#{appcore_Session.dictionary('user-password.newpassword')}"/>
                    <p:password id="newPassword"
                                binding="#{appcore_Request.attributes['newPasswordBinding']}"
                                value="#{appcore_Request.attributes['newPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                    </p:password>
                    <p:outputLabel for="confirmNewPassword"
                                   value="#{appcore_Session.dictionary('user-password.confirmnewpassword')}"/>
                    <p:password id="confirmNewPassword"
                                binding="#{appcore_Request.attributes['confirmNewPasswordBinding']}"
                                value="#{appcore_Request.attributes['confirmNewPassword']}"
                                required="true"
                                redisplay="true"
                                style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{(appcore_Request.attributes['confirmNewPasswordBinding'].submittedValue == appcore_Request.attributes['newPasswordBinding'].value)}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:password>
                </p:panelGrid> <f:facet name="footer">
                <div align="right">
                    <p:commandButton icon="fa fa-check"
                                     ajax="true"
                                     value="#{appcore_Session.dictionary('users.reset.password')}"
                                     update="@form">
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['reset-password.execute']}" value="true"/>
                    </p:commandButton>
                    <p:spacer width="10"/>
                    <p:commandButton icon="fa fa-rotate-right"
                                     value="#{appcore_Session.dictionary('reset')}"
                                     update="@form"
                                     immediate="true">
                        <f:setPropertyActionListener target="#{appcore_Request.attributes['reset-password.reset']}" value="true"/>
                        <p:resetInput target="@form"/>
                    </p:commandButton>
                </div>
            </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>