<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               ROLES               -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="rolesDialog"
              dynamic="true"
              widgetVar="rolesDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="800"
              position="center top"
              maximizable="true"
              resizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('users.roles')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}">

        <!-- Initialize action form -->
        <h:form>
            <p:remoteCommand autoRun="true" update="rolesDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['roles.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="rolesDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{appcore_Request.attributes['roles.init'] or appcore_Request.attributes['roles.reset']}">
                <!-- available roles -->
                <m:eval value="#{appcore_Request.attributes.put('users.sql07.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql07.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql07"
                                     sql="#{appcore_Application.database('users.sql07')}"
                                     params="#{appcore_Request.attributes['users.sql07.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['users.sql07']}"
                                   store="#{appcore_Session.attributes[pageId]}"
                                   key="availableRoles"/>

                <!-- selected roles -->
                <m:eval value="#{appcore_Request.attributes.put('users.sql08.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql08.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql08"
                                     sql="#{appcore_Application.database('users.sql08')}"
                                     params="#{appcore_Request.attributes['users.sql08.params']}"/>
                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['users.sql08']}"
                                   store="#{appcore_Session.attributes[pageId]}"
                                   key="selectedRoles"/>

                <!-- roles dual list model -->
                <m:eval value="#{appcore_Session.attributes[pageId].put('rolesDualListModel',appcore_PrimeFacesUtils.getDualListModel(appcore_Session.attributes[pageId]['availableRoles'],appcore_Session.attributes[pageId]['selectedRoles']))}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['roles.execute'])}">
                <mc:log message="Roles - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}"/>

                <!-- transaction commands -->
                <m:eval value="#{appcore_Request.attributes.put('users.roles.commands',appcore_Utils.newInstance('java.util.ArrayList'))}"/>

                <!-- delete user roles -->
                <m:eval value="#{appcore_Request.attributes.put('users.sql09.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql09.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql09"
                                     sql="#{appcore_Application.database('users.sql09')}"
                                     params="#{appcore_Request.attributes['users.sql09.params']}"/>
                <m:eval value="#{appcore_Request.attributes['users.roles.commands'].add(appcore_Request.attributes['users.sql09'])}"/>

                <!-- add user roles -->
                <m:eval value="#{appcore_Request.attributes.put('i',0)}"/>
                <c:forEach items="#{appcore_Session.attributes[pageId]['rolesDualListModel'].target}">
                    <m:eval value="#{appcore_Request.attributes.put('users.sql10.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql10.params'].add(appcore_Session.attributes[pageId]['rolesDualListModel'].target[appcore_Request.attributes['i']].fields['groupId'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql10.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="users.sql10"
                                         sql="#{appcore_Application.database('users.sql10')}"
                                         params="#{appcore_Request.attributes['users.sql10.params']}"/>
                    <m:eval value="#{appcore_Request.attributes['users.roles.commands'].add(appcore_Request.attributes['users.sql10'])}"/>
                    <m:eval value="#{appcore_Request.attributes.put('i',appcore_Request.attributes['i']+1)}"/>
                </c:forEach>

                <!-- transaction -->
                <mc:database-transaction rendered="true"
                                         databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         commands="#{appcore_Request.attributes['users.roles.commands']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                         errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                <c:if test="#{!appcore_Request.attributes['users.sql10'].errors}">
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'rolesDialogWidget\').hide()')}"/>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:panelGrid layout="grid"
                                 columns="2"
                                 columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                        <p:outputLabel for="userFullName"
                                       value="#{appcore_Session.dictionary('user.userFullName')}"/>
                        <p:inputText id="userFullName"
                                     readonly="true"
                                     required="false"
                                     value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userFullName']}"
                                     style="width:100%;"/>
                        <p:outputLabel for="userName"
                                       value="#{appcore_Session.dictionary('user.userName')}"/>
                        <p:inputText id="userName"
                                     readonly="true"
                                     required="false"
                                     value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userName']}"
                                     style="width:100%;"/>
                        <p:outputLabel for="userEmail"
                                       value="#{appcore_Session.dictionary('user.userEmail')}"/>
                        <p:inputText id="userEmail"
                                     readonly="true"
                                     required="false"
                                     value="#{appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail']}"
                                     style="width:100%;" maxlength="200">
                        </p:inputText>
                    </p:panelGrid>
                    <p:outputPanel>
                        <div align="center">
                            <p:pickList id="rolesPicklist"
                                        rendered="#{(appcore_Session.attributes[pageId]['rolesDualListModel']!=null)}"
                                        value="#{appcore_Session.attributes[pageId]['rolesDualListModel']}"
                                        converter="appcore_GenericConverter"
                                        var="row"
                                        itemValue="#{row}"
                                        itemLabel="#{row.fields['groupName']},#{row.fields['groupDesc']}"
                                        showSourceFilter="true"
                                        showTargetFilter="true"
                                        filterMatchMode="contains"
                                        style="width:100%"
                                        styleClass="picklist-300">
                                <f:facet name="sourceCaption">#{appcore_Session.dictionary('users.roles.available')}</f:facet>
                                <f:facet name="targetCaption">#{appcore_Session.dictionary('users.roles.selected')}</f:facet>
                                <p:column style="width:20px;">
                                    <h:outputText styleClass="fa fa-group"/>
                                </p:column>
                                <p:column>
                                    <b><h:outputText value="#{row.fields['groupName']}"/></b>
                                    <br/>
                                    <h:outputText value="#{row.fields['groupDesc']}"/>
                                </p:column>
                            </p:pickList>
                        </div>
                    </p:outputPanel>

                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['roles.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['roles.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>