<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               UPDATE              -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="updateDialog"
              widgetVar="updateDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('update')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}">

        <!-- Initialize action form -->
        <h:form>
            <p:remoteCommand autoRun="true" update="updateDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['update.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="updateDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{appcore_Request.attributes['update.init'] or appcore_Request.attributes['update.reset']}">
                <m:eval value="#{appcore_Request.attributes.put('userName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userFirstName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userFirstName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userGivenName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userGivenName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLastName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLastName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userBirthDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['userBirthDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userAddress',appcore_Session.attributes[pageId]['datatable.selection'].fields['userAddress'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userEmail',appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganization',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganization'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganizationUnit',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganizationUnit'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDescription',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userMobile',appcore_Session.attributes[pageId]['datatable.selection'].fields['userMobile'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userWorkPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userWorkPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDisabled',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDisabled'].equals('1')?true:false)}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLocked',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLocked'].equals('1')?true:false)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['update.execute'])}">
                <!-- check user protected -->
                <m:eval value="#{appcore_Request.attributes.put('users.sql02.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['users.sql02.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="users.sql02"
                                     sql="#{appcore_Application.database('users.sql02')}"
                                     params="#{appcore_Request.attributes['users.sql02.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['users.sql02']}"
                                   store="#{appcore_Request.attributes}"
                                   key="users.userGenericBeans"/>
                <c:if test="#{(appcore_Request.attributes['users.userGenericBeans'].size()>0)}">
                    <m:eval value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('users.protected'))}"/>
                </c:if>

                <c:if test="#{(appcore_Request.attributes['users.userGenericBeans'].size()==0)}">
                    <!-- update user -->
                    <m:eval value="#{appcore_Request.attributes.put('users.sql04.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userFirstName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userGivenName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userLastName'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userBirthDate'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userAddress'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userEmail'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userOrganization'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userOrganizationUnit'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userDescription'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userMobile'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userWorkPhone'])}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userDisabled']?'1':null)}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Request.attributes['userLocked']?'1':null)}"/>
                    <m:eval value="#{appcore_Request.attributes['users.sql04.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['userId'])}"/>

                    <mc:log message="Update - #{appcore_Request.attributes['users.sql04.params']}"/>
                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="users.sql04"
                                         sql="#{appcore_Application.database('users.sql04')}"
                                         params="#{appcore_Request.attributes['users.sql04.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['users.sql04']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                         errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>

                    <c:if test="#{!appcore_Request.attributes['users.sql04'].errors}">
                        <!-- Refresh -->
                        <m:eval value="#{appcore_AdminApplication.refreshUsers()}"/>

                        <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                        <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                        <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>
                        <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'updateDialogWidget\').hide()')}"/>
                    </c:if>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center" style="width:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 value="#{appcore_Request.attributes['userName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userFirstName"
                                   value="#{appcore_Session.dictionary('user.userFirstName')}"/>
                    <p:inputText id="userFirstName"
                                 value="#{appcore_Request.attributes['userFirstName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userGivenName"
                                   value="#{appcore_Session.dictionary('user.userGivenName')}"/>
                    <p:inputText id="userGivenName"
                                 value="#{appcore_Request.attributes['userGivenName']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userLastName"
                                   value="#{appcore_Session.dictionary('user.userLastName')}"/>
                    <p:inputText id="userLastName"
                                 value="#{appcore_Request.attributes['userLastName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userBirthDate"
                                   value="#{appcore_Session.dictionary('user.userBirthDate')}"/>
                    <p:calendar id="userBirthDate"
                                required="true"
                                showOn="both"
                                value="#{appcore_Request.attributes['userBirthDate']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="userAddress"
                                   value="#{appcore_Session.dictionary('user.userAddress')}"/>
                    <p:inputTextarea id="userAddress"
                                     value="#{appcore_Request.attributes['userAddress']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 binding="#{appcore_Request.attributes['update.userEmailBinding']}"
                                 value="#{appcore_Request.attributes['userEmail']}"
                                 required="true"
                                 style="width:100%;" maxlength="200">
                        <f:validator validatorId="appcore_Validator"/>
                        <f:attribute name="validation1"
                                     value="#{appcore_Utils.checkRegexp(appcore_Request.attributes['update.userEmailBinding'].submittedValue,appcore_Application.property('validator.email'))}"/>
                        <f:attribute name="validation1-type"
                                     value="ERROR"/>
                        <f:attribute name="validation1-message"
                                     value="#{appcore_Session.dictionary('validation.invalid')}"/>
                    </p:inputText>
                    <p:outputLabel for="userOrganization"
                                   value="#{appcore_Session.dictionary('user.userOrganization')}"/>
                    <p:inputText id="userOrganization"
                                 value="#{appcore_Request.attributes['userOrganization']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userOrganizationUnit"
                                   value="#{appcore_Session.dictionary('user.userOrganizationUnit')}"/>
                    <p:inputText id="userOrganizationUnit"
                                 value="#{appcore_Request.attributes['userOrganizationUnit']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDescription"
                                   value="#{appcore_Session.dictionary('user.userDescription')}"/>
                    <p:inputTextarea id="userDescription"
                                     value="#{appcore_Request.attributes['userDescription']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userPhone"
                                   value="#{appcore_Session.dictionary('user.userPhone')}"/>
                    <p:inputText id="userPhone"
                                 value="#{appcore_Request.attributes['userPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userMobile"
                                   value="#{appcore_Session.dictionary('user.userMobile')}"/>
                    <p:inputText id="userMobile"
                                 value="#{appcore_Request.attributes['userMobile']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userWorkPhone"
                                   value="#{appcore_Session.dictionary('user.userWorkPhone')}"/>
                    <p:inputText id="userWorkPhone"
                                 value="#{appcore_Request.attributes['userWorkPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDisabled"
                                   value="#{appcore_Session.dictionary('user.userDisabled')}"/>
                    <p:inputSwitch id="userDisabled"
                                   value="#{appcore_Request.attributes['userDisabled']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                    <p:outputLabel for="userLocked"
                                   value="#{appcore_Session.dictionary('user.userLocked')}"/>
                    <p:inputSwitch id="userLocked"
                                   value="#{appcore_Request.attributes['userLocked']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form actionsMenuForm dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['update.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton icon="fa fa-rotate-right"
                                         value="#{appcore_Session.dictionary('reset')}"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['update.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>