<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              widgetVar="viewDialogWidget"
              dynamic="true"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <mc:log message="View - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']}"/>

                <m:eval value="#{appcore_Request.attributes.put('userName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userFirstName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userFirstName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userGivenName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userGivenName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLastName',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLastName'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userBirthDate',appcore_Session.attributes[pageId]['datatable.selection'].fields['userBirthDate'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userAddress',appcore_Session.attributes[pageId]['datatable.selection'].fields['userAddress'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userEmail',appcore_Session.attributes[pageId]['datatable.selection'].fields['userEmail'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganization',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganization'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userOrganizationUnit',appcore_Session.attributes[pageId]['datatable.selection'].fields['userOrganizationUnit'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDescription',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDescription'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userMobile',appcore_Session.attributes[pageId]['datatable.selection'].fields['userMobile'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userWorkPhone',appcore_Session.attributes[pageId]['datatable.selection'].fields['userWorkPhone'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userDisabled',appcore_Session.attributes[pageId]['datatable.selection'].fields['userDisabled'].equals('1')?true:false)}"/>
                <m:eval value="#{appcore_Request.attributes.put('userLocked',appcore_Session.attributes[pageId]['datatable.selection'].fields['userLocked'].equals('1')?true:false)}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel styleClass="center" style="width:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userFirstName"
                                   value="#{appcore_Session.dictionary('user.userFirstName')}"/>
                    <p:inputText id="userFirstName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userFirstName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userGivenName"
                                   value="#{appcore_Session.dictionary('user.userGivenName')}"/>
                    <p:inputText id="userGivenName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userGivenName']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userLastName"
                                   value="#{appcore_Session.dictionary('user.userLastName')}"/>
                    <p:inputText id="userLastName"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userLastName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel for="userBirthDate"
                                   value="#{appcore_Session.dictionary('user.userBirthDate')}"/>
                    <p:calendar id="userBirthDate"
                                readonly="true"
                                required="true"
                                showOn="none"
                                value="#{appcore_Request.attributes['userBirthDate']}"
                                pattern="#{appcore_Application.property('format.date')}"
                                locale="#{appcore_Session.locale}"
                                timeZone="#{appcore_Session.timezone}"
                                navigator="true">
                        <f:convertDateTime locale="#{appcore_Session.locale}"
                                           timeZone="#{appcore_Session.timezone}"
                                           pattern="#{appcore_Application.property('format.date')}"
                                           type="date"/>
                    </p:calendar>
                    <p:outputLabel for="userAddress"
                                   value="#{appcore_Session.dictionary('user.userAddress')}"/>
                    <p:inputTextarea id="userAddress"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['userAddress']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userEmail"
                                   value="#{appcore_Session.dictionary('user.userEmail')}"/>
                    <p:inputText id="userEmail"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userEmail']}"
                                 required="true"
                                 style="width:100%;" maxlength="200"/>
                    <p:outputLabel for="userOrganization"
                                   value="#{appcore_Session.dictionary('user.userOrganization')}"/>
                    <p:inputText id="userOrganization"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userOrganization']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userOrganizationUnit"
                                   value="#{appcore_Session.dictionary('user.userOrganizationUnit')}"/>
                    <p:inputText id="userOrganizationUnit"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userOrganizationUnit']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDescription"
                                   value="#{appcore_Session.dictionary('user.userDescription')}"/>
                    <p:inputTextarea id="userDescription"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['userDescription']}"
                                     style="width:100%;"
                                     rows="3"
                                     required="false"/>
                    <p:outputLabel for="userPhone"
                                   value="#{appcore_Session.dictionary('user.userPhone')}"/>
                    <p:inputText id="userPhone"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userMobile"
                                   value="#{appcore_Session.dictionary('user.userMobile')}"/>
                    <p:inputText id="userMobile"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userMobile']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userWorkPhone"
                                   value="#{appcore_Session.dictionary('user.userWorkPhone')}"/>
                    <p:inputText id="userWorkPhone"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['userWorkPhone']}"
                                 style="width:100%;"
                                 required="false"/>
                    <p:outputLabel for="userDisabled"
                                   value="#{appcore_Session.dictionary('user.userDisabled')}"/>
                    <p:inputSwitch id="userDisabled"
                                   disabled="true"
                                   value="#{appcore_Request.attributes['userDisabled']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                    <p:outputLabel for="userLocked"
                                   value="#{appcore_Session.dictionary('user.userLocked')}"/>
                    <p:inputSwitch id="userLocked"
                                   disabled="true"
                                   value="#{appcore_Request.attributes['userLocked']}"
                                   onLabel="#{appcore_Session.dictionary('on')}"
                                   offLabel="#{appcore_Session.dictionary('off')}"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>