<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">

        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-appcore"/>
        <c:set scope="request" var="pageTitle" value="Test appcore"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h2>#{appcore_Application.applicationContext.getApplicationName()}</h2>
        facesContext - #{facesContext}
        <br/>springContext - #{appcore_Application.context}
        <br/>beanDefinitionCount - #{appcore_Application.context.beanDefinitionCount}
        <br/>appcore_Application (Spring) - #{appcore_Application.bean('appcore_Application')}
        <br/>appcore_Application (Faces) - #{appcore_Application}
        <br/>appcore_Session (Spring) - #{appcore_Application.bean('appcore_Session')}
        <br/>appcore_Session (Faces) - #{appcore_Session}
        <br/>appcore_Request (Spring) - #{appcore_Application.bean('appcore_Request')}
        <br/>appcore_Request (Faces) - #{appcore_Request}

        <h2>Expression language</h2>
        <p>\#{1+4+5}: #{1+4+5}</p>

        <h2>sessionScope</h2>
        <p>#{sessionScope}</p>

        <h2>requestScope</h2>
        <p>#{requestScope}</p>


    </ui:define>
</ui:composition>