<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="/resources/myset/templates/template.xhtml">
    <ui:define name="content">
        <!-- initialization start -->
        <c:set scope="request" var="pageId" value="test-mail"/>
        <c:set scope="request" var="pageTitle" value="Mail test"/>
        <c:set scope="request" var="pageHelp" value="help.pdf"/>
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <c:set scope="request" var="command" value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Actions -->
            <c:if test="#{(appcore_Request.attributes['form.submit'])}">
                <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                         messageType="text/html"
                         messageEncoding="UTF-8"
                         from="#{appcore_Session.attributes[pageId]['form.from']}"
                         to="#{appcore_Session.attributes[pageId]['form.to']}"
                         cc="#{appcore_Session.attributes[pageId]['form.cc']}"
                         bcc="#{appcore_Session.attributes[pageId]['form.bcc']}"
                         attachments="#{appcore_Session.attributes[pageId]['form.attachments']}"
                         subject="#{appcore_Session.attributes[pageId]['form.subject']}"
                         content="#{appcore_Session.attributes[pageId]['form.content']}"
                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                         warnMessage1="Message warrning"
                         errorMessage1="#{appcore_Session.dictionary('messages.action.errors')}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['form.reset'])}">
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.from')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.to')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.cc')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.bcc')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.attachments')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.subject')}"/>
                <m:eval value="#{appcore_Session.attributes[pageId].remove('form.content')}"/>
            </c:if>

            <p:panel styleClass="center" style="width:90%;">
                <f:facet name="header">#{pageTitle}</f:facet>
                <!-- =================================== -->
                <!--             Form design             -->
                <!-- =================================== -->
                <p:panelGrid columns="2"
                             layout="grid"
                             columnClasses="ui-grid-col-1 text-right,ui-grid-col-11">
                    <p:outputLabel value="From"
                                   for="from"/>
                    <p:inputText id="from"
                                 value="#{appcore_Session.attributes[pageId]['form.from']}"
                                 required="true"
                                 style="width:300px;">
                    </p:inputText>
                    <p:outputLabel value="To"
                                   for="to"
                                   title="Comma separated values"/>
                    <p:inputText id="to"
                                 value="#{appcore_Session.attributes[pageId]['form.to']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="Cc"
                                   for="cc"
                                   title="Comma separated values"/>
                    <p:inputText id="cc"
                                 value="#{appcore_Session.attributes[pageId]['form.cc']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="Bcc"
                                   for="bcc"
                                   title="Comma separated values"/>
                    <p:inputText id="bcc"
                                 value="#{appcore_Session.attributes[pageId]['form.bcc']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="Attachments"
                                   for="attachments"
                                   title="Comma separated values"/>
                    <p:inputText id="attachments"
                                 value="#{appcore_Session.attributes[pageId]['form.attachments']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="Subject"
                                   for="subject"/>
                    <p:inputText id="subject"
                                 value="#{appcore_Session.attributes[pageId]['form.subject']}"
                                 style="width:100%;">
                    </p:inputText>
                    <p:outputLabel value="Content"
                                   for="content"/>
                    <pe:ckEditor id="content"
                                 value="#{appcore_Session.attributes[pageId]['form.content']}"
                                 language="#{appcore_Session.locale}"
                                 customConfig="#{request.contextPath}/resources/myset/common/js/ckeditor-mail.js"
                                 width="100%" height="150"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="Test"
                                         icon="fa fa-check"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.submit']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="Reset"
                                         icon="fa fa-rotate-right"
                                         update="@form"
                                         immediate="true">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['form.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>

        </h:form>
    </ui:define>

</ui:composition>