<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--             DELETE                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="deleteDialog"
              dynamic="true"
              widgetVar="deleteDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('delete')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['statId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="deleteDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="deleteDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['delete.init'] or appcore_Request.attributes['delete.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('statFor',appcore_Session.attributes[pageId]['datatable.selection'].fields['statFor'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userBean',appcore_Utils.find(appcore_Application.attributes['myset.users'],'userId',appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']))}"/>
                <m:eval value="#{appcore_Request.attributes.put('statValue',appcore_Session.attributes[pageId]['datatable.selection'].fields['statValue'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('statText',appcore_Session.attributes[pageId]['datatable.selection'].fields['statText'])}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['delete.execute'])}">
                <m:eval value="#{appcore_Request.attributes.put('cms_stats.sql04.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['cms_stats.sql04.params'].add(appcore_Session.attributes[pageId]['datatable.selection'].fields['statId'])}"/>
                <mc:database-command store="#{appcore_Request.attributes}"
                                        key="cms_stats.sql04"
                                        sql="#{appcore_Application.database('cms_stats.sql04')}"
                                        params="#{appcore_Request.attributes['cms_stats.sql04.params']}"/>
                <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                        command="#{appcore_Request.attributes['cms_stats.sql04']}"
                                        infoMessage="#{appcore_Session.dictionary('messages.action.success')}"
                                        errorMessage="#{appcore_Session.dictionary('messages.action.errors')}"/>
                <c:if test="#{!appcore_Request.attributes['cms_stats.sql04'].errors}">
                    <!-- Remove cache -->
                    <m:eval value="#{appcore_CMSProcessor.removeStats(appcore_Session.attributes[pageId]['datatable.selection'].fields['statFor'])}"/>

                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.selection')}"/>
                    <m:eval value="#{appcore_Session.attributes[pageId].remove('datatable.row.selected')}"/>
                    <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'datatableWidget\').unselectAllRows()')}"/>
                </c:if>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'deleteDialogWidget\').hide()')}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="statFor"
                                   value="#{appcore_Session.dictionary('cms.stats.stat')} #{appcore_Session.dictionary('for').toLowerCase()}"/>
                    <p:inputText id="statFor"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['statFor']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="userBean"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:selectOneMenu id="userBean"
                                     disabled="true"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Request.attributes['userBean']}"
                                     required="false"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userName']}"
                                       itemLabelEscaped="true"/>
                        <p:column>
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                    <p:outputLabel for="statValue"
                                   value="#{appcore_Session.dictionary('value')}"/>
                    <p:inputNumber id="statValue"
                                   readonly="true"
                                   required="false"
                                   value="#{appcore_Request.attributes['statValue']}"
                                   converter="javax.faces.BigDecimal"
                                   style="width: 300px"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}"/>
                    <p:outputLabel for="statText"
                                   value="#{appcore_Session.dictionary('text')}"/>
                    <p:inputTextarea id="statText"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['statText']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('delete')}"
                                         icon="fa fa-check"
                                         update="@form :actionsMenuForm :dataTableForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['delete.execute']}" value="true"/>
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['filter.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="10"/>
                        <p:commandButton value="#{appcore_Session.dictionary('exit')}"
                                         type="button"
                                         icon="fa fa-rotate-right"
                                         styleClass="ui-confirmdialog-no"
                                         onclick="PF('deleteDialogWidget').hide()"/>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>