<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--               VIEW                -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:pe="http://primefaces.org/ui/extensions"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="viewDialog"
              dynamic="true"
              widgetVar="viewDialogWidget"
              appendTo="@(body)"
              modal="false"
              width="550"
              position="center top"
              maximizable="true"
              closable="true"
              closeOnEscape="true"
              header="#{appcore_Session.dictionary('view')} - #{appcore_Session.attributes[pageId]['datatable.selection'].fields['statId']}">

        <!-- Initialize -->
        <h:form>
            <p:remoteCommand autoRun="true" update="viewDialogForm">
                <f:setPropertyActionListener target="#{appcore_Request.attributes['view.init']}" value="true"/>
            </p:remoteCommand>
        </h:form>

        <h:form id="viewDialogForm">
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['view.init'] or appcore_Request.attributes['view.reset'])}">
                <m:eval value="#{appcore_Request.attributes.put('statFor',appcore_Session.attributes[pageId]['datatable.selection'].fields['statFor'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('userBean',appcore_Utils.find(appcore_Application.attributes['myset.users'],'userId',appcore_Session.attributes[pageId]['datatable.selection'].fields['userId']))}"/>
                <m:eval value="#{appcore_Request.attributes.put('statValue',appcore_Session.attributes[pageId]['datatable.selection'].fields['statValue'])}"/>
                <m:eval value="#{appcore_Request.attributes.put('statText',appcore_Session.attributes[pageId]['datatable.selection'].fields['statText'])}"/>
            </c:if>
            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;">
                <p:panelGrid layout="grid"
                             columns="2"
                             columnClasses="ui-grid-col-3 text-right,ui-grid-col-9">
                    <p:outputLabel for="statFor"
                                   value="#{appcore_Session.dictionary('cms.stats.stat')} #{appcore_Session.dictionary('for').toLowerCase()}"/>
                    <p:inputText id="statFor"
                                 readonly="true"
                                 value="#{appcore_Request.attributes['statFor']}"
                                 required="true"
                                 style="width:100%;"/>
                    <p:outputLabel for="userBean"
                                   value="#{appcore_Session.dictionary('username')}"/>
                    <p:selectOneMenu id="userBean"
                                     disabled="true"
                                     converter="appcore_GenericConverter"
                                     value="#{appcore_Request.attributes['userBean']}"
                                     required="false"
                                     var="v"
                                     filter="true"
                                     filterMatchMode="contains">
                        <f:selectItem itemValue="#{null}"
                                      itemLabel="#{appcore_Session.dictionary('select.value')}"/>
                        <f:selectItems value="#{appcore_Application.attributes['myset.users']}"
                                       var="row"
                                       itemValue="#{row}"
                                       itemLabel="#{row.fields['userName']}"
                                       itemLabelEscaped="true"/>
                        <p:column>
                            <h:outputText value="#{v.fields['userId']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userFullName']}"/>
                        </p:column>
                        <p:column>
                            <h:outputText value="#{v.fields['userEmail']}"/>
                        </p:column>
                    </p:selectOneMenu>
                    <p:outputLabel for="statValue"
                                   value="#{appcore_Session.dictionary('value')}"/>
                    <p:inputNumber id="statValue"
                                   readonly="true"
                                   required="false"
                                   value="#{appcore_Request.attributes['statValue']}"
                                   converter="javax.faces.BigDecimal"
                                   style="width: 300px"
                                   thousandSeparator="#{appcore_Session.decimalFormatSymbols.groupingSeparator}"
                                   decimalSeparator="#{appcore_Session.decimalFormatSymbols.decimalSeparator}"
                                   size="30"
                                   decimalPlaces="2"
                                   minValue="0"
                                   maxValue="#{appcore_Application.property('format.number.maxvalue')}"/>
                    <p:outputLabel for="statText"
                                   value="#{appcore_Session.dictionary('text')}"/>
                    <p:inputTextarea id="statText"
                                     readonly="true"
                                     value="#{appcore_Request.attributes['statText']}"
                                     required="false"
                                     autoResize="false"
                                     rows="3"
                                     style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['view.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>

            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>