<?xml version="1.0" encoding="UTF-8"?>
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites"
                template="#{template}">
    <ui:define name="content">
        <!-- initialization start -->
        <c:if test="#{(appcore_Session.attributes[pageId]==null)}">
            <m:eval value="#{appcore_Session.attributes.put(pageId,appcore_Utils.newInstance('ro.myset.utils.generic.GenericMap'))}"/>
        </c:if>
        <!-- initialization end -->
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <!-- Check -->
            <c:if test="#{!('simple'.equals(appcore_Application.property('security.login.type')))}">
                <m:eval value="#{facesContext.externalContext.responseSendError(403,null)}"/>
            </c:if>

            <c:if test="#{(appcore_Request.attributes['action.save'])}">
                <mc:log message="#{appcore_Request.attributes['userName']}"/>

                <!-- check userName -->
                <m:eval value="#{appcore_Request.attributes.put('security.sql05.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                <m:eval value="#{appcore_Request.attributes['security.sql05.params'].add(appcore_Request.attributes['userName'])}"/>

                <mc:database-command store="#{appcore_Request.attributes}"
                                     key="security.sql05"
                                     sql="#{appcore_Application.database('security.sql05')}"
                                     params="#{appcore_Request.attributes['security.sql05.params']}"/>

                <mc:database-query databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                   command="#{appcore_Request.attributes['security.sql05']}"
                                   store="#{appcore_Request.attributes}"
                                   key="forgot-password.userGenericBeans"/>

                <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['forgot-password.userGenericBeans'])}"/>

                <c:if test="#{(appcore_Request.attributes['forgot-password.userGenericBeans'].size()>0)}">
                    <m:eval rendered="false" value="#{appcore_FacesUtils.infoMessage(appcore_Request.attributes['forgot-password.userGenericBeans'][0])}"/>

                    <!-- update user key -->
                    <m:eval value="#{appcore_Request.attributes.put('security.sql06.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql06.params'].add(appcore_Utils.newInstance('ro.myset.utils.security.MD5Utils').generate())}"/>
                    <m:eval value="#{appcore_Request.attributes['security.sql06.params'].add(appcore_Request.attributes['forgot-password.userGenericBeans'][0].fields['userId'])}"/>

                    <mc:database-command store="#{appcore_Request.attributes}"
                                         key="security.sql06"
                                         sql="#{appcore_Application.database('security.sql06')}"
                                         params="#{appcore_Request.attributes['security.sql06.params']}"/>

                    <mc:database-execute databaseProcessorService="#{appcore_Application.databaseProcessorService}"
                                         command="#{appcore_Request.attributes['security.sql06']}"
                                         infoMessage="#{appcore_Session.dictionary('messages.action.success')}"/>

                    <c:if test="#{!appcore_Request.attributes['security.sql06'].errors}">
                        <!-- send email notification -->
                        <m:eval value="#{appcore_Request.attributes.put('notification.params',appcore_Utils.newInstance('java.util.ArrayList'))}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['forgot-password.userGenericBeans'][0].fields['userName'])}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(request.remoteAddr)}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Request.attributes['security.sql06.params'][0])}"/>
                        <m:eval value="#{appcore_Request.attributes['notification.params'].add(appcore_Application.property('application.context'))}"/>

                        <mc:mail mailSenderService="#{appcore_Application.mailSenderService}"
                                 from="#{appcore_Application.property('notifications.mail.default')}"
                                 bcc="#{appcore_Request.attributes['forgot-password.userGenericBeans'][0].fields['userEmail']}"
                                 subject="#{appcore_Session.dictionary('forgot-password.notification.subject')}"
                                 content="#{appcore_Session.dictionary('forgot-password.notification.content',appcore_Request.attributes['notification.params'])}"
                                 warnMessage="#{appcore_Session.dictionary('messages.notification.email')}"/>
                    </c:if>
                </c:if>
                <c:if test="#{!(appcore_Request.attributes['forgot-password.userGenericBeans'].size()>0)}">
                    <m:eval rendered="true" value="#{appcore_FacesUtils.errorMessage(appcore_Session.dictionary('messages.action.errors'))}"/>
                </c:if>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel id="changePasswordPannel" border="1" styleClass="center" style="width:500px;">
                <f:facet name="header">#{appcore_Session.dictionary('forgot-password.title')}</f:facet>
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="2"
                             columnClasses="ui-grid-col-4 text-right,ui-grid-col-8">
                    <p:outputLabel for="userName"
                                   value="#{appcore_Session.dictionary('user.userName')}"/>
                    <p:inputText id="userName"
                                 value="#{appcore_Request.attributes['userName']}"
                                 style="width:100%;"
                                 required="true"/>
                    <p:outputLabel value="#{appcore_Session.dictionary('captcha')}"
                                   for="captchaId:captchaId"/>
                    <mc:captcha id="captchaId"
                                rendered="true"
                                refreshText="#{appcore_Session.dictionary('reload')}"
                                validationMessage="#{appcore_Session.dictionary('validation.invalid')}"/>
                </p:panelGrid>

                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton icon="fa fa-check"
                                         ajax="true"
                                         value="#{appcore_Session.dictionary('save')}"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['action.save']}" value="true"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </ui:define>
</ui:composition>