<?xml version="1.0" encoding="UTF-8"?>
<!-- ================================= -->
<!--            RENAME                 -->
<!-- ================================= -->
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:c="http://java.sun.com/jsp/jstl/core"
                xmlns:f="http://java.sun.com/jsf/core"
                xmlns:h="http://java.sun.com/jsf/html"
                xmlns:ui="http://java.sun.com/jsf/facelets"
                xmlns:p="http://primefaces.org/ui"
                xmlns:m="http://www.myset.ro/components"
                xmlns:mc="http://java.sun.com/jsf/composite/myset/composites">
    <p:dialog id="renameDialog"
              dynamic="true"
              appendTo="@(body)"
              position="center top"
              closable="true"
              maximizable="true"
              widgetVar="renameDialogWidget"
              width="500"
              header="#{appcore_Session.dictionary('rename')} #{appcore_FileManagerCustom.selectedFile.name}">
        <h:form>
            <!-- =================================== -->
            <!--             Form logic              -->
            <!-- =================================== -->
            <c:if test="#{(appcore_Request.attributes['rename.init'])}">
                <c:if test="#{(appcore_FileManagerCustom.selectedFile!=null)}">
                    <m:eval value="#{appcore_FileManagerCustom.setRenameFileName(appcore_FileManagerCustom.selectedFile.name)}"/>
                </c:if>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['rename.reset'])}">
                <m:eval value="#{appcore_FileManagerCustom.setRenameFileName(null)}"/>
            </c:if>
            <c:if test="#{(appcore_Request.attributes['rename.execute'])}">
                <m:eval value="#{appcore_FileManagerCustom.rename()}"/>
                <m:eval value="#{appcore_PrimeFacesUtils.execute('PF(\'renameDialogWidget\').hide()')}"/>
            </c:if>

            <!-- =================================== -->
            <!--             Form design             -->
            <!-- =================================== -->
            <p:panel style="width:100%;height:100%;">
                <p:panelGrid layout="grid"
                             style="text-align:left;"
                             columns="1"
                             columnClasses="ui-grid-col-12">
                    <p:outputLabel for="renameFileName" value="#{appcore_Session.dictionary('name')}"/>
                    <p:inputText id="renameFileName"
                                 value="#{appcore_FileManagerCustom.renameFileName}"
                                 required="true"
                                 style="width:100%;"/>
                </p:panelGrid>
                <f:facet name="footer">
                    <div align="right">
                        <p:commandButton value="#{appcore_Session.dictionary('save')}"
                                         icon="fa fa-check"
                                         update="@form actionsMenuForm folderContentForm">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['rename.execute']}" value="true"/>
                        </p:commandButton>
                        <p:spacer width="20"/>
                        <p:commandButton value="#{appcore_Session.dictionary('reset')}"
                                         immediate="true"
                                         icon="fa fa-rotate-right"
                                         update="@form">
                            <f:setPropertyActionListener target="#{appcore_Request.attributes['rename.reset']}" value="true"/>
                            <p:resetInput target="@form"/>
                        </p:commandButton>
                    </div>
                </f:facet>
            </p:panel>
        </h:form>
    </p:dialog>
</ui:composition>